.section1{
height: 5vh;

}

.tabWrap {
    /* height: 400px; */
    background-color: white;
    border: 1px solid #dee2e6;

}
tr.heading_table,tr.head_table {
    border-bottom: 1px solid #dee2e6;
}
td {
    padding: 6px 12px;
}

tr.heading_table ,tr.head_table{
    text-transform: uppercase;
}
tr.head_table {
    font-size: 13px;
    color: #afafaf;
    /* text-align: center; */
}

table {
    width: 100%;

}
@media only screen and (max-width:767px){
    .table-responsive1{

        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }


}

@media only screen and (max-width:991px){

    ul.nav.nav-tabs li {
        padding: 1px 18px;
        width: 49%;
        text-align: center;
        border: 1px solid #dee2e6;
    }
}

@media only screen and (max-width:991px){

    ul.nav.nav-tabs.user_prof li {
        width: 32%;
    }
}

ul.nav.nav-tabs li:nth-child(1) {
    padding-left: 0px;
}
.tabs {
    padding: 17px 0px;
}

.tabs li {
	list-style: none;
	padding: 9px 7px 5px 7px;
	cursor: pointer;
        float: left;
}

.tabs li a {
	font-size: 1.17em;
	font-style: normal;
}

ul.tabs li.active a {
    color: black !important;
}
.tabContainer {
	/* overflow: hidden;
	float: left;
	width: 100%; */
}

.arrow {
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #dee2e6 transparent;
    margin-top: 22px;
    border-width: 10px;
    height: 0;
    width: 0;
}
ul.nav.nav-tabs li {
    padding: 1px 18px;
}

ul.nav.nav-tabs li a {
    color: #afafaf;
    text-transform: uppercase;
    font-size: 14px;
}


.buyer h5 {
    font-size: 13px;
    color: #6d6d6d;
    font-weight: 100;
    margin: 0px;
    padding-top: 10px;

}
tr{
    vertical-align: middle;
}
.starred_buyer {
    float: left;
    padding-top: 8px;
    padding-right: 8px;
}

.img_buyer {
    /* float: left; */
    width: auto;
}

.buyer img {
    border-radius: 71%;
    width: 43px;
    float: left;
    margin-right: 12px;
}
table.table-responsive1 {
    font-size: 13px;
}
span.custom_ordr {
    margin-right: 10px;
    background-color: #68D0d3;
    color: white;
    font-size: 11px;
    padding: 4px 5px;
    text-transform: uppercase;
    border-radius: 6px; display: inline-block;
}

span.in_progress{

    background-color:#1d4457;
    color: white;
    font-size: 11px;
    padding: 4px 5px;
    text-transform: uppercase;
    border-radius: 6px;
    display:  inline-block;
    width: 100%;
    text-align: center;
}

span.pending{

    background-color: #FFD700;
    color: white;
    font-size: 11px;
    padding: 4px 5px;
    text-transform: uppercase;
    border-radius: 6px;
    display:  inline-block;
    width: 100%;
    text-align: center;
}

span.completed{

    background-color: #00B23D;
    color: white;
    font-size: 11px;
    padding: 4px 5px;
    text-transform: uppercase;
    border-radius: 6px;
    display:  inline-block;
    width: 100%;
    text-align: center;
}

span.refunded{

    background-color: #1c1d20;
    color: white;
    font-size: 11px;
    padding: 4px 5px;
    text-transform: uppercase;
    border-radius: 6px;
    display:  inline-block;
    width: 100%;
    text-align: center;
}

span.denied{

    background-color: #f92f0b;
    color: white;
    font-size: 11px;
    padding: 4px 5px;
    text-transform: uppercase;
    border-radius: 6px;
    display:  inline-block;
    width: 100%;
    text-align: center;
}

span.disputed{

    background-color: #808080;
    color: white;
    font-size: 11px;
    padding: 4px 5px;
    text-transform: uppercase;
    border-radius: 6px;
    display:  inline-block;
    width: 100%;
    text-align: center;
}

i.far.fa-star {
    /* color: #dee2e6; */
    /* font-weight: 100; */
}

tr.body_table{
    border-bottom: 1px solid #dee2e6;
}

tr[data-link] {
  cursor: pointer;
}

.pay-butn {
  margin-right: 10px;
  float: right;
}
