<%= render 'shared_guest/main_banner' %>
<div class="space">

</div>
<%# gig_carousel( "Jales Recientes", :recent_gigs) %>

<%# req_carousel("Pedidos Recientes", :recent_requests) %>

<%# render 'shared_guest/hire_experts' %>

<%= render 'shared_guest/find_experts' %>

<%= render 'shared_guest/talent' %>

<%= render 'shared_guest/ready_to_be_expert' %>
