<div class="row">
  <% if @search.any? %>
    <div class="row paginated-elements">
      <%= render partial: "gigs/gig", collection: @search %>
    </div>
    <div class="pagination-links">
      <%= paginate @search %>
    </div>
  <% else %>
    Ninguna coincidencia para tu búsqueda
  <% end  %>
  <div class="gap"></div>
</div>
