<%= render 'shared/query/banner_search_form' if current_user.nil? %>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h3 class="container">Resultados de búsqueda
      </h3>
    </div>
  </div>
    <% if params[:model_name] == "requests" %>
    <%= render 'shared/query/request_search_list' %>
    <% else %>
    <%= render 'shared/query/gig_search_list' %>
    <% end %>
</div>
