<div class="row">
  <% if @search_requests.any? %>
  <% @requests = @search_requests %>
    <%= render template: "pages/requests", collection: @search_requests %>
    <div class="pagination-links">
      <%= paginate @search_requests %>
    </div>
  <% else %>
    Ninguna coincidencia para tu búsqueda
  <% end  %>
  <div class="gap"></div>
</div>
