<main role="main">
  <% if @search.any? %>

  <div class="container">
    <div class="row paginated-elements">
      <%= render partial: "requests/request", collection: @search %>
    </div>
  </div>

    <div class="pagination-links">
      <%= paginate @search %>
    </div>

  </main>
<% else %>
  <div class="container row">
    Ninguna coincidencia para tu búsqueda
  </div>
<% end  %>
