<div class="seller_info">
  <h3>About This Gig</h3>
  <div class="seller_info_para">
    <p>
      <strong>We're gonna make your Youtube channel even better.
      </strong>
      Sophisticated 2D graphics with extreme attention to details and 100% unique and hand-made content would make your videos and streams memorable.
    </p>
    <p>
      <strong>
        Check out all our intros
      </strong>
      here: https://www.fiverr.com/users/toongoose/portfolio/NWE1M2E0Yjk5ZGY4ZDE2YzJjMDAwMDk3
    </p>
    <p>
      We can also create all kinds of small animations for you, for example, Twitch donate gifs.</p>
  </div>
</div>
