<div class="reviews padding_row">

  <h3>Reviews
    <i class="fa fa-star"></i>5(2)
  </h3>

  <div class="row">
    <div class="col-lg-4">
      <p>
        Seller communication level
      </p>
      5<i class="fa fa-star"></i>
    </div>
    <div class="col-lg-4">
      <p>
        Seller communication level
      </p>
      5<i class="fa fa-star"></i>
    </div>
    <div class="col-lg-4">
      <p>
        Seller communication level
      </p>
      5<i class="fa fa-star"></i>
    </div>
  </div>
  <hr>

  <div class="row padding_row">
    <div class="col-lg-12">
      <img src="img/8.jpg">
      <strong>cirby88<i class="fa fa-star"></i>
      </strong>
    </div>

    <div class="col-lg-12">

      <p>They did a great job at communicating, and provided an excellent product!
      </p>
      <p>
        5 months ago</p>
      <hr>
    </div>
    <!-- -->

    <div class="col-lg-12">
      <img src="img/8.jpg">
      <strong>cirby88<i class="fa fa-star"></i>
      </strong>
    </div>

    <div class="col-lg-12">

      <p>They did a great job at communicating, and provided an excellent product!
      </p>
      <p>
        5 months ago</p>
    </div>
    <!-- -->
  </div>
</div>
