<!-- seller about-->
<div class="seller_about">
  <h3>About The Seller</h3>

  <div class="row no-gutters">
    <div class="col-lg-2 text-center profile_management2">
      <img src="img/8.jpg">
    </div>
    <div class="col-lg-10">
      <div class="profile_management2">

        <a href="#">
          <h6>toongoose</h6>
          <p>
            We create bespoke animated explainers</p>
        </a>
        <p class="stats-row">
          <span class="rating-circles star-rating-s12 rate-10"></span>
          <a href="#reviews" class="gig-ratings-count">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>(2)
            <span>5.0 (33 reviews)</span></a>
        </p>
        <a href="#" class="contact_me">Contact Me</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row padding_row">
    <div class="col-lg-12">
      <p>Verified in</p>
    </div>
  </div>

  <div class="row padding_row">

    <div class="col-lg-3">
      <p>
        <i class="fa fa-check-circle"></i>
        Whiteboard & Animated Explainers</p>

    </div>
    <div class="col-lg-9">
      <p>
        <i class="fa fa-check-circle"></i>
        Intros & Outros</p>
    </div>
  </div>
  <hr>
  <div class="row padding_row">
    <div class="col-lg-3">
      <p>From</p>
      <strong>
        Russia</strong>
    </div>
    <div class="col-lg-3">
      <p>Member since</p>
      <strong>
        Jun 2017</strong>
    </div>
    <div class="col-lg-3">
      <p>Avg. Response Time</p>
      <strong>
        5 hours</strong>
    </div>
    <div class="col-lg-3">
      <p>Recent Delivery</p>
      <strong>
        7 days</strong>
    </div>

  </div>
  <hr>
  <div class="row padding_row">
    <div class="col-lg-12">
      We are a company of passionate animators, scriptwriters, designers, and creative programmers. Got together to create awesome motion graphics video for brands. We're working on every level of production: from professional script writing and
      storyboards
    </div>
    <div class="col-lg-12">
      <strong>My Portfolio</strong>
    </div>

  </div>
  <div class="row no-gutters">
    <ul class="portfolio">

      <li>
        <img src="img/socialMedia.jpg"></li>

      <li>
        <img src="img/socialMedia.jpg"></li>

      <li>
        <img src="img/socialMedia.jpg"></li>

      <li>
        <img src="img/socialMedia.jpg"></li>

      <li>
        <img src="img/socialMedia.jpg"></li>
    </ul>

  </div>
  <div class="col-lg-12">
    <a href="#">View My Portfolio</a>
  </div>
</div>
