<span class="tooltiptext" id="pack_price_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Precio final</h3>
    </div>
    <p>Es lo que pagarán los usuarios por contratar tu jale.</p>

    <p class="example">
      <span>Importante:
      </span>
      Ya incluye IVA
      </p>
  </figure>
</span>
