<li>
  <div class="row">
    <div class="<%= user == message.user ? 'message-sent' : 'message-received' %>">
      <%= message.body %>
      <% if message.image? %>
      <div class="">
        <%= link_to(image_tag(message.image_url, height: '350', width: '350'), message.image_url) %>
      </div>
      <% end %>
  </div>
</div>
</li>
