<% if user == message.user %>
  <div class="chat-right-side-chat-write chat-write">
    <div class="single-right-chat-write">
      <div class="chat-write-text message_content">
<% else %>
  <div class="chat-left-side-chat-write chat-write">
    <div class="single-chat-write">
      <div class="chat-right-write-text message_content">
<% end %>
        <% if message.body.present? %>
          <div class="message_text">
            <%= message.body %>
          </div>
        <% end %>
        <% if message.image? %>
          <p><%= link_to(image_tag(message.image_url, class: "message-img"), message.image_url, data: {lity: true} ) %></p>
        <% end %>
        <% if message.related_to.present? %>
        <% item = message.related_to %>
        <a href="<%= message.related_to_type == "Gig"? the_gig_path(item) : request_path(item) %>">
        <div class="related_to_item">
          Relacionado a: <%= message.related_to.title %>
        </div>
        </a>
        <% end %>
      </div>
    </div>
  </div>
