<fieldset class="form-fieldset nested-fields mg-t-10">

<legend>
    <%= link_to_remove_association "Borrar Pregunta", f, class: 'link-05', data: {confirm: "¿Quieres borrar esto?"} %>
</legend>
<div class="form-group">
  <%= f.text_field :question, label: false,class: "required faq-question-input faq-field do-not-ignore form-control", placeholder: "¿Cuánto tiempo tardaría en hacer...?", style: "margin-bottom: 2vh;", maxlength: 200 %>
  <%= f.text_area :answer, label: false, class: "required faq-field do-not-ignore form-control mg-t-10", placeholder: "El tiempo de entrega depende de la complejidad del proyecto, puede ser de entre 2 a 5 días hábiles", rows: "5", maxlength: 1000%>
</div>
</fieldset>
