<div class="nested-fields">

    <%= link_to_remove_association "remover", f, class: 'btn btn-primary btn-xs' %>

  <%= f.text_field :question, label: false,class: "styled required", placeholder: "¿Cuánto tiempo tardad en hacer...?" %>
  <%= f.text_field :answer, label: false, class: "styled required", placeholder: "R: Tardaría aproximádamente..." %>
</div>
