<span class="tooltiptext">
   <figure>
      <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Selecciona tu presupuesto.</h3>
      <p>Elige un rango de precio para tu gig.</p>
   </figure>
</span>
