<span class="tooltiptext" id="request_budget_hint">
   <figure>
     <div style="display:flex;">
       <%= icon("fas", "question-circle", class: "question_hint") %>
       <h3 class="p-t-10">Selecciona tu presupuesto.</h3>
     </div>
      <p>Elige un rango de precio para tu pedido.</p>
   </figure>
</span>
