<span class="tooltiptext" id="request_category_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "exclamation", class: "exclamation_hint") %>
      <h3 class="p-t-10">Selecciona Categoría.</h3>
    </div>
    <p>Elige la categoría que necesitas para tu pedido.</p>
    <p class="example">
      <span>Por ejemplo:
      </span>
      si buscas alimentos, la categoría recomendada a elegir sería "Comida".</p>
  </figure>
</span>
