<span class="tooltiptext"><figure>
        <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Selecciona Categoria</h3>
        <p>Elige la categoría que necesitas para tu pedido.</p>
        <p class="example"><span>Por ejemplo: </span> Si buscas un logo, la categoría recomendada a elegir sería "Diseño de logo" que se encuentra en "Diseño y Gráficos".</p>
    </figure></span>
