<span class="tooltiptext" id="request_city_hint">
   <figure>
      <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Selecciona una Ciudad</h3>
      <p>Ésta es la ciudad en la que te encuentras solicitando el pedido.</p>
   </figure>
</span>
