<span class="tooltiptext"><figure>
        <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Define tu Gig</h3>
        <p>Define el servicio que ofertarás en tu pedido. Toma en cuenta que se agregará el texto "Voy a".</p>

    </figure></span>
