<span class="tooltiptext" id="gig_images_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Sube im치genes.</h3>
    </div>
    <p>Selecciona las im치genes de tu pedido, se admiten las extensiones .jpg, .jpeg y .png. S칩lo se permiten 3 elementos como m치ximo. <br>
    </p>

  </figure>
</span>
