<span class="tooltiptext" id="request_name_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Define tu Pedido.</h3>
    </div>
    <p>Define el servicio que buscas. Toma en cuenta que se agregará automáticamente el texto "Busco" al inicio de lo que definas.</p>

  </figure>
</span>
