<span class="tooltiptext" id="request_profession_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Define a quién buscas.</h3>
    </div>
    <p>Esto le notificará a los indicados en tu zona y ayudará a que encuentren tu pedido.
      Puedes elegir alguna de las opciones proporcionadas mientras escribes o poner la tuya si no se encuentra allí..</p>
  </figure>
</span>
