<tr>
  <td><%= link_to "#{verification.user.slug}", user_path(verification.user) %></td>
  <td><%= verification.status %></td>
  <td><%= link_to "ver", show_verification_admins_path(verification) %></td>
</tr>
