<div>
<p>cuenta predispersion</p>
<div class="col-6">
  <p>saldo: <%= @balance %></p>
</div>
<div class="col6">
  <%= button_to "Depositar fondos predispersion", predispersion_fee_admins_path, class: "btn btn-warning", :data => {:confirm => "Seguro que quieres retirar los fondos por la cantidad de #{@balance}"}  %>
</div>
<br>

<button id="create-openpay-user" class="btn btn-success">Nueva Cuenta Openpay</button>
</div>
<%= render 'admins/create_openpay_account' %>
