<div class="container page3slides-area3">
  <div class="row">

    <div class="page3slide-titles1">
      <h3><%= title %></h3>
    </div>

    <div class="page3slides-wrapd owl-carousel requests-carousel">
      <%= render requests %>
    </div>
  </div>
</div>
