<div class="container page3slides-area3">
    <div class="page3slide-titles1">
      <h1><%= title %></h1>
    </div>


    <div class="gig-req-carousel <%= param_name %>">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <%= render requests %>
            <% if requests.next_page %>
              <div class="swiper-slide">
                <%= link_to_next_page(requests, "Oculto".html_safe, class: "carousel-paginator",
                 param_name: param_name, :params => {:current => param_name},
                  style: "display: none;", remote: true) %>
              </div>
          <% end %>
        </div>
    </div>

</div>
