<div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="card mb-3" style="max-width: 18rem;">
      <div class="card-header">User List</div>
      <div class="card-body text-dark">
        <ul>
          <% @users.each do |user| %>
            <li><%= link_to user.slug, conversations_path(user_id: user.id), remote: true, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
