<div class="chat-wrapper" chat-wrapper>
  <%= render "chat_sidebar" %>
  <%= render "conversation", conversation: @conversation, opposite_user: opposite_conversation_user(@conversation, current_user) if params[:user_id].present? %>
</div>
