<tr class="head_table">
  <td>Vendedor</td>
  <td>Nombre</td>
  <td>Paquete</td>
  <td>Fecha</td>
  <td>Total</td>
  <td>Codigo <span data-tooltip="Codigo con el que el trabajador podra empezar el jale"><%= fa_icon("info-circle") %></span></td>
  <td>Estado</td>
</tr>
