<tr class="head_table">
  <td>Vendedor</td>
  <td>Nombre</td>
  <td>Paquete</td>
  <td>Fecha</td>
  <td>Total</td>
  <td>ID <span data-tooltip="Usa este identificador para validar la identidad del trabajador."><%= fa_icon("info-circle") %></span></td>
  <td>Estado</td>
  <td></td>
</tr>
