.location-header {
  margin: 0 10px;
}

.v-align-m {
  display: inline;
  vertical-align: middle;
}

.gig-card-top {
  object-fit: cover;
  height: 250px
} @media (max-width: 992px) {
    .gig-card-top {
      height: 200px;
    }
  }
  @media (max-width: 768px) {
    .gig-card-top {
      height: 180px;
    }

  }
  @media (max-width: 576px) {
    .gig-card-top {
      height: 200px;
    }
  }

.gig-card-horizontal {
  object-fit: cover;
  height: 150px;
  width: 30%;
}

.no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h-30-vh {
  max-height: 30vh;
}

.feather-12{
    width: 12px;
    height: 12px;
}

.feather-16{
    width: 16px;
    height: 16px;
}

.feather-18{
    width: 18px;
    height: 18px;
}

.feather-24{
    width: 24px;
    height: 24px;
}

.feather-32{
    width: 32px;
    height: 32px;
}

.filled {
  fill: currentColor;
}

.gmap {
  height: 80vh;
}

.gig-show-picture {
  height: 600px; }
.carousel-item.gig img {
  height:600px;
  width:100%;
  object-fit: contain; }
.gig-show-picture.preview {
  height: 500px; }
.carousel-item.gig.preview img {
  height:500px;
  width:100%;
  object-fit: contain; }
  @media (max-width: 992px) {
    .gig-show-picture {
      height: 405px !important;
    }
    .carousel-item.gig img {
      height:405px !important; }
    }
  @media (max-width: 768px) {
    .gig-show-picture {
      height: 370px !important;
    }
    .carousel-item.gig img {
      height:370px !important; }
    }
  @media (max-width: 576px) {
    .gig-show-picture {
      height: 320px !important;
    }
    .carousel-item.gig img {
      height: 320px !important; }
    }

@media (max-width: 576px) {
  .d-mobile-none {
    display: none;
  }
}


.new_gig_image_item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}

.new_gig_image_well {
 position:relative;
 display: block;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.screen-size-wrapper {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 25px;
  right: 25px;
}
.screen-size-wrapper-map {
  position: fixed;
  top: 55px !important;
  bottom: 0;
  left: 10px !important;
  right: 10px !important;
}
#searchList {
  overflow-y: scroll;
  overflow-x: hidden;
}


@media (max-width: 576px) {
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  .screen-size-wrapper {
    left: 10px;
    right: 10px;
  }
}

#mapPopOver {
  display: none;
}
/* google fix autocomplete on mobile menu */
.pac-container.pac-logo {
  z-index: 9999;
}
/*windowinfo of google maps*/
.gm-style-iw-d,
.gm-style-iw.gm-style-iw-c {
  min-width: 200px !important;
}
.gm-style-iw-d {
  overflow-y: scroll !important;
}
.gm-style-iw.gm-style-iw-c {
  padding: 10px !important;
}
.gm-style-iw-d .media,
.gm-style-iw-d img,
.gm-style-iw-d .share_item_url,
.gm-style-iw-d .gig_buttons a[gig_id]{
  display: none;
}
.gm-style-iw-d .req-card .card-body,
.gm-style-iw-d .card-footer {
  padding: 10px !important;
}
.gm-style-iw-d .gig-card .card-body {
  padding: 3px !important;
}
.gm-style-iw-d .card-footer a {
  margin-left: auto;
}
.gm-style-iw-d .gig_buttons {
  float: right !important;
}

.gm-style-iw-d .card-title {
  font-size: 14px !important;
}

.gm-style-iw-d .col-lg-6 {
  max-width: 100% !important;
}
