$(document).on "turbolinks:load", ->
  class Notifications
    constructor: ->
      @notifications = $("[data-behavior='notifications']")
      @setup() if @notifications.length > 0

    setup: ->
      $.ajax(
        url: "/notifications.json"
        dataType: "JSON"
        method: "GET"
        success: @handleSuccess
      )

    handleSuccess: (data) =>
      items = $.map data, (notification) ->
        "
        <div class='notifications'>
        <a href='#{notification.redirect.path}'>
          <div class='left'>
            <div class='icon_notify'>
              <img class='nav-avatar' src='#{notification.user.image_url}'>
            </div>
            <p><strong>#{notification.user.slug}</strong> #{notification.action} #{notification.notifiable.type}<br>
              <time>#{notification.date}</time>
            </p>
          </div>
        </a>
        </div>
        "
      $("[data-behavior='notification-items']").html(items)
      console.log(items)
  jQuery ->
    new Notifications
