$(document).on "turbolinks:load", ->
  jQuery ->
    new Notifications

class Notifications
  constructor: ->
    @notifications = $("[notifications]")
    @setup() if @notifications.length > 0

  setup: ->
    $("[read-notifications]").on "click", @readNotifications
    $.ajax(
      url: "/notifications.json"
      dataType: "JSON"
      method: "GET"
      success: @renderNotifications
    )

  readNotifications: (e) =>
    $.ajax(
      url: "/notifications/mark_as_read"
      dataType: "JSON"
      method: "POST"
      success: ->
        $("[read-notifications] span").addClass("d-none");
    )

  renderNotifications: (data) =>
    unread_count = 0
    unread = for d in data
               if ! d.seen
                 unread_count += 1

    items = $.map data, (notification) ->
      #same as notification_min partial
      "<a href='#{notification.redirect.path}' class='dropdown-item' notification>
        <div class='media'>
          <div class='avatar avatar-sm avatar-online'><img src='#{notification.user.image_url}' class='rounded-circle'></div>
          <div class='media-body mg-l-15'>
            <p>#{notification.text}</p>
            <span>#{notification.date}</span>
          </div>
        </div>
      </a>"

    $("[notifications]").after(items)
    if unread_count > 0 # put the red dot if there are unread notifications
      $("[read-notifications] span").removeClass("d-none");
      #$("[read-notifications] span").html(unread_count);
    if items.length == 0
      $("[notifications]").after('<div  class="container" >No hay nada para mostrar</div>');
