<div class="page3slides-area3">
  <div class="page3slide-titles1">
    <h3>Jales Relacionados</h3>
  </div>

  <div class="page3slides-wrapd">
    <div class="page3single-slidersd">
      <div class="singleslidepd">
        <img src="assets/img/dan1.jpg" alt="">
        <div class="hearted1">
          <a href="">
            <i class="fa fa-heart"></i>
          </a>
        </div>
      </div>
      <div class="page3slides-contentrd">
        <p class="cold1">SALTILLO, COAH.</p>
        <p class="cold2">Vel quam elementum pulvinar etiam non quam lacus suspendisse
        </p>
        <p class="cold3">Desde $200 MXN
        </p>
      </div>
      <div class="page3slide-stard">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span>
          <i class="fa fa-star"></i>
        </span>
        <span>
          <i class="fa fa-star"></i>
        </span>
        <li>(30)</li>

      </div>
    </div>
    <div class="page3single-slidersd">
      <div class="singleslidepd">
        <img src="assets/img/dan1.jpg" alt="">
        <div class="hearted1">
          <a href="">
            <i class="fa fa-heart"></i>
          </a>
        </div>
      </div>
      <div class="page3slides-contentrd">
        <p class="cold1">SALTILLO, COAH.</p>
        <p class="cold2">Vel quam elementum pulvinar etiam non quam lacus suspendisse
        </p>
        <p class="cold3">Desde $200 MXN
        </p>
      </div>
      <div class="page3slide-stard">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span>
          <i class="fa fa-star"></i>
        </span>
        <span>
          <i class="fa fa-star"></i>
        </span>
        <li>(30)</li>

      </div>
    </div>
    <div class="page3single-slidersd">
      <div class="singleslidepd">
        <img src="assets/img/dan1.jpg" alt="">
        <div class="hearted1">
          <a href="">
            <i class="fa fa-heart"></i>
          </a>
        </div>
      </div>
      <div class="page3slides-contentrd">
        <p class="cold1">SALTILLO, COAH.</p>
        <p class="cold2">Vel quam elementum pulvinar etiam non quam lacus suspendisse
        </p>
        <p class="cold3">Desde $200 MXN
        </p>
      </div>
      <div class="page3slide-stard">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span>
          <i class="fa fa-star"></i>
        </span>
        <span>
          <i class="fa fa-star"></i>
        </span>
        <li>(30)</li>

      </div>
    </div>
    <div class="page3single-slidersd">
      <div class="singleslidepd">
        <img src="assets/img/dan1.jpg" alt="">
        <div class="hearted1">
          <a href="">
            <i class="fa fa-heart"></i>
          </a>
        </div>
      </div>
      <div class="page3slides-contentrd">
        <p class="cold1">SALTILLO, COAH.</p>
        <p class="cold2">Vel quam elementum pulvinar etiam non quam lacus suspendisse
        </p>
        <p class="cold3">Desde $200 MXN
        </p>
      </div>
      <div class="page3slide-stard">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span>
          <i class="fa fa-star"></i>
        </span>
        <span>
          <i class="fa fa-star"></i>
        </span>
        <li>(30)</li>

      </div>
    </div>
  </div>
</div>
