<div class="innerpage3-rightsidetabs <%= "tab-two" if device == "phone-tablet" %>">
<%= render 'shared/gigs/show/package_label', device: device %>

<div class="tab-content" id="myTabContent">
<% @show_packages = true %>
<%= render @gig.gig_packages, device: device %>
</div>
</div>
