<div class="servico-wrap">
  <div class="servico-title" onclick="display_reviews()">
    <h3>Caliﬁcaciones
      <%= star_display_helper(@gig.score_average) %>
    </h3>
    <div class="doopli">
        <%= icon("fas", "angle-down", class: "reviews_dropdown") %>
    </div>
  </div>
  <div class="servicoteam-wrap">
    <% if @reviews.present? %>
      <%= render partial: "shared_user/reviews/review", collection: @reviews %>
    <% else %>
    <div class="container">
      No hay nada para mostrar
    </div>
    <% end %>
    <div class="page3-viewmore">
      <a href="#">Ver más
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
  </div>


</div>
