<div class="servico-wrap">
  <div class="servico-title" onclick="display_reviews()">
    <h3>Caliﬁcaciones
      <%= star_display_helper(@gig.score_average) %>
    </h3>
    <div class="doopli">
        <%= icon("fas", "angle-down", class: "reviews_dropdown") %>
    </div>
  </div>
  <div class="servicoteam-wrap">
    <% if @reviews.present? %>
    <div class="paginated_reviews">
      <%= render partial: "shared/reviews/review", collection: @reviews %>
    </div>
      <div class="page3-viewmore">
          <%= link_to_next_page(@reviews, "Ver más#{icon("fas", "angle-down")}".html_safe,class: "review_paginator" ,remote: true) %>
      </div>
    <% else %>
      No hay nada para mostrar
    <% end %>
  </div>


</div>
