<div class="description">
  <div class="wrapper">
    <div id="product__slider">

      <% if @gig.images.count > 1 %>
        <div class="product__slider-main">
          <% @gig.images.each do |image| %>
            <div class='slide'>
              <%= link_to( image_tag( image.url, class: 'img-responsive'), user_gig_path(@gig.user.slug,@gig) ) %>
            </div>
          <% end %>
        </div>

        <div class="product__slider-thmb">
          <% @gig.images.each do |image| %>
            <div class='slide'>
              <%= link_to( image_tag( image.url, class: 'img-responsive'), user_gig_path(@gig.user.slug,@gig) ) %>
            </div>
          <% end %>
        </div>
        <% elsif @gig.images.count == 1 %>
          <div class="product__slider-main">
            <% @gig.images.each do |image| %>
              <div class='slide'>
                <%= link_to( image_tag( image.url, class: 'img-responsive'), user_gig_path(@gig.user.slug,@gig) ) %>
              </div>
            <% end %>
          </div>

        <% else %>
          <div class="product__slider-main">
            <%= link_to( image_tag( "https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/app_images/gig-no-image-2.png", class: 'img-responsive'), user_gig_path(@gig.user.slug,@gig) ) %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
