  <!-- start user profile -->
  <div class="col-md-12 pd-l-0 pd-r-0 mg-t-15">
    <div class="card card-profile">
      <div class="card-body tx-13">
        <div>
          <div class="avatar avatar-lg"><img src="https://source.unsplash.com/random?sig=6" class="rounded-circle" alt=""></div>
          <h5 class="mg-b-5-f">Juan Perez</h5>
          <p class="mg-b-5">Saltillo, Coahuila de Zaragoza, MX</p>
          <p class="mg-b-5 tx-gray-600">Activo hace 5 horas</p>

          <div>
            <i data-feather="star" class="feather-18 tx-warning filled tx-warning filled"></i>
            <span class="tx-warning">5 <small class="tx-gray-600">(20 valoraciones)</small></span>
          </div>
          <div class="divider-text w-100">Bio</div>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut, perspiciatis culpa harum, autem assumenda blanditiis. Quos, in, dolore dolor tempore tempora voluptatem excepturi ut et neque
            debitisconsectetur perspiciatis.</p>
          <div class="col d-flex align-items-center justify-content-between">
            <button class="btn btn-block btn-white">Perfil</button>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
  <!-- end user profile -->
  <div class="col-md-12 pd-l-0 pd-r-0 mg-t-15">
    <div class="card">
      <div class="card-body tx-13">
        <div>
          <h5 class="mg-b-5-f tx-center">Reseña de este anuncio</h5>
          <form action="">
            <div class="form-group">
              <p class="tx-center"><i data-feather="star" class="feather-16 tx-warning filled tx-warning filled"></i><i data-feather="star" class="feather-16 tx-warning filled tx-warning filled"></i><i data-feather="star" class="feather-16 tx-warning filled tx-warning filled"></i><i data-feather="star" class="feather-16 tx-warning filled tx-warning filled"></i><i data-feather="star" class="feather-16 tx-warning filled tx-warning filled"></i></p>
            </div>
            <div class="form-group">
              <textarea name="name" rows="2" class="form-control" placeholder="¿Qué tal te ha parecido el servicio de Juan Perez?"></textarea>
            </div>
            <div class="form-group mg-b-0">
              <button class="btn btn-block btn-success">Enviar reseña</button>
            </div>
          </form>
        </div>
      </div>
    </div><!-- card -->
  </div>
