<a href='<%=url_generator_helper(notification, notification.notifiable) %>'>
<div class='belldropdown-box notifications-#{notification.seen}'>
  <div class='sameicon'>
    <%= image_tag(notification.user.image_url(:thumb), class: "notif-avatar") %>
  </div>
  <div class='belldropdown-text'>
  <div class='head-notif'>
    <div class='timer'>
    <span><i class='fa fa-clock-o' aria-hidden='true'></i><%=distance_of_time_in_words(notification.created_at, Time.now)%></span>
    </div>
    </div>
    <p class='greensbold'><%= build_notification_text(notification, notification.notifiable) %></p>
  </div>
</div>
</a>
