<div class="media d-block d-lg-flex">
  <div class="media-body">
    <div class="timeline-group tx-13" paginated-notif>
      <%= render @notifications %>
      <% if @notifications.empty? %>
      <div class="container text-center">
        Nada para mostrar
      </div>
      <% end %>
      <%= paginate @notifications %>
    </div>
  </div>
</div>
