  <% if @notifications.count > 0 %>

      <div class="paginated-elements notifarea">
        <%= render @notifications %>
      </div>

    <div class="pagination-links">
      <%= paginate @notifications %>
    </div>
  <% else %>
  <div class="container" style="text-align: center;">
    No hay nada para mostrar
  </div>
  <% end %>
