<div class="filemgr-sidebar">
  <div class="filemgr-sidebar-header">
    <div class="dropdown dropdown-icon flex-fill mg-l-10">
      <a href="#modalUploadMultimedia" data-toggle="modal">
      <button class="btn btn-xs btn-block btn-primary">Subir imagen</button></a>
    </div><!-- dropdown -->
  </div><!-- filemgr-sidebar-header -->
  <div class="filemgr-sidebar-body">
    <div class="pd-t-20 pd-b-10 pd-x-10">
      <nav class="nav nav-sidebar tx-13">
        <a href="" class="nav-link active" id="multimediaLink"><i class="pd-5 fnt-md fe fe-folder"></i> <span>Multimedia</span></a>
        <!-- <a href="" class="nav-link"><i class="pd-5 fnt-md fe fe-clock"></i> <span>Actividad</span></a> -->
        <a href="" class="nav-link" id="configurationLink"><i class="pd-5 fnt-md fe fe-gear"></i> <span>Configuracion</span></a>
      </nav>
    </div>
  </div><!-- filemgr-sidebar-body -->
</div><!-- filemgr-sidebar -->
