<div class="modal fade effect-scale" id="modalUploadMultimedia" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pd-20 pd-sm-30">
        <button type="button" class="close pos-absolute t-15 r-20" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h5 class="tx-18 tx-sm-20 mg-b-30">Subir Imagen</h5>
        <!-- row -->
        <div id="drag-drop-area"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mg-sm-l-5" data-dismiss="modal">Close</button>
      </div>
      <!-- modal-footer -->
    </div>
    <!-- modal-content -->
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->
