<div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-flex align-items-center justify-content-between mg-b-20 mg-lg-b-30">
      <div>
        <h4 class="mg-b-0 tx-spacing--1">
          Banners
        </h4>
      </div>
      <div class="d-block">
        <a href="#modalUploadMultimedia" data-toggle="modal">
          <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5">
            Nuevo Banner
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container row">
  <%= render @banners %>
</div>
<%= render "upload_images" %>
