<div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
<h4>Eliminar cuenta</h4>
<h5>¿Qué pasa cuando elimino mi cuenta?</h5>
<div class=" pd-l-20">
  <li><span></span>Tu perfil, tus jales, y tus pedidos ya no serán visibles en Jalecitos.</li>
  <li></span>Tu correo ya no podrá ser utilizado de nuevo para un nuevo registo en Jalecitos.</li>
</div>
<div class="tx-right pd-t-20">
<button class="btn btn-danger">Cancelar mi cuenta</button>
</div>
</div>
