<% @user_banks.each do |bank| %>
<tr>
  <td><%= bank["clabe"].last(4) %></td>
  <td><%= bank["alias"] %></td>
  <td><%= bank["bank_name"] %></td>
  <td><%= link_to fa_icon("trash"), user_bank_path(current_user.slug, bank["id"]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
