<div class="bill_prof_obj">
  <h4>Razón Social
  <span><%= billing_profile.name %></span></h4>
<h4>RFC
  <span><%= billing_profile.rfc %></span></h4>
<h4>Código Postal
  <span><%= billing_profile.zip_code %></span></h4>
<div class="Facturacion-btn">
  <%= link_to user_billing_profile_path(current_user.slug, billing_profile.id), method: :delete, data: { confirm: 'Estas seguro?' } do%>
  <button>Borrar información</button>
  <% end %>
</div>
