<div class="tab-pane fade <%= "show active" if params[:collapse] == "help" %>" id="help" role="tabpanel" aria-labelledby="help-tab">
  <div class="row justify-content-center tx-center mg-b-35">
    <div class="col-10 col-sm-6 col-md-4 col-lg-3 d-flex flex-column">
      <div class="tx-100 lh-1"><i data-feather="users" class="feather-32"></i></div>
      <h3 class="mg-b-25">Foro</h3>
      <p class="tx-color-03 mg-b-25">Útil si necesitas apoyo rápido o guía por la comunidad</p>
      <button class="btn btn-p-purple-100 btn-block">Ir al Foro</button>
    </div><!-- col -->
    <div class="col-10 col-sm-6 col-md-4 col-lg-3 mg-t-40 mg-sm-t-0 d-flex flex-column">
      <div class="tx-100 lh-1"><i data-feather="help-circle" class="feather-32"></i></div>
      <h3 class="mg-b-25">Soporte Tec.</h3>
      <p class="tx-color-03 mg-b-25">Útil si tienes errores o sugerencias en la plataforma </p>
      <button class="btn btn-p-purple-100 btn-block">Soporte</button>
    </div><!-- col -->
  </div>
</div>
