<div class="modal" id="billingProfileModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <div class="sign-up">
             <div class="sign-up-form">
               <!-- Close modal -->
                 <div class="close-modal" onclick="$('#billingProfileModal').hide()">
                   <span aria-hidden="true">Cerrar</span>
                 </div>
               <!--  -->
               <h3>Nuevo Perfil Tributario</h3>
               <% if @billing_profiles.present? %>
                <strong style="color: red;">Sólo puedes tener un perfil tributario a la vez</strong>
               <% end %>
               <div class="divi-new js-form-join-section" data-section="1"></div>
               <%= form_with model: @billing_profile, url: user_billing_profiles_path(current_user), class: "new_billing_profile" do |f| %>
                 <%= f.text_field :name, class: "required", placeholder: "Razon Social" %>
                 <%= f.text_field :rfc, class: "required", placeholder: "RFC" %>
                 <br>
                 <%= f.button 'Continuar', :class => 'btn btn-success', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Guardando.."} %>
               <% end %>
             </div>
         </div>
      </div>
    </div>
  </div>
</div>
