<!-- The Modal -->
<div class="modal" id="welcomeScreen">

  <!-- Modal content -->
  <div class="modal-content modal-configuration">
    <!-- <span class="close">&times;</span> -->
    <div class="text-center">


        <h3>Bienvenid@ a Jalecitos!</h3>

        <p class="welcome_body">Esta es tu pagina de configuracion. Aqui podras editar todos tus datos personales, tarjetas bancarias, notificaciones y mas!
        Para empezar a ver jales cierra esta ventana y da click en inicio. Esperamos que encuentres lo que buscas!</p>
        <button id="close" class="btn btn-success close_welcome" onclick="$('#welcomeScreen').hide();">Entendido</button>

    </div>

  </div>

</div>
