<div class="modal" id="welcomeScreen">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <div class="sign-up">
           <h3>¡Bienvenid@ a Jalecitos!</h3>

           <p class="welcome_body">Ésta es tu página de configuración. ¡Aquí podrás editar todos tus datos personales, tarjetas bancarias, notificaciones y más!
           Para empezar a ver jales cierra esta ventana y da click en <strong>inicio.</strong> <br> <br>
           ¡Esperamos que encuentres lo que buscas!</p>
           <button id="close" class="btn btn-success close_welcome" onclick="$('#welcomeScreen').hide();">Entendido</button>
         </div>
      </div>
    </div>
  </div>
</div>
