<div class="catagorislide-area innerpage-onearea">
  <div class="container">
    <%= render 'shared/users/user_card_tablet' %>
    <div class="row">
      <%= render 'shared/users/user_card' %>
      <div class="col-lg-8 col-md-12">
        <%= render 'shared/users/content' %>
      </div>
    </div>
  </div>
</div>
<%= render 'reports/report', object: @user %>

<%# render 'form', user: @user %>
