<div class="phone-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="headertop-right">
          <div class="bellposition bellpositionblock">
            <a href="">
              <i class="fa fa-envelope"></i><br>
              inicio
            </a>
            <a href="">
              <i class="fa fa-exchange" aria-hidden="true"></i><br>
              Transacciones
            </a>
            <a href="" class="plusred">
              <i class="fa fa-plus"></i><br>
            </a>
            <a href="" class="redbell1">
              <span></span>
              <i class="fa fa-bell"></i><br>
              Mensajes
            </a>
            <a href="" class="redbell1">
              <i class="fa fa-user"></i><br>
              Perfil
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
