<nav class="navbar navbar-light bg-light static-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Jalecitos</a>
    <ul class="nav navbar-right">
      <%= nav_links_helper %>
    </ul>
  </div>
</nav>
