<li class="nav-item">
  <%= link_to "Principal", root_path, :class => 'nav-link' =%>
</li>
<li class="nav-item">
  <%= link_to "Mis trabajos", gigs_path, :class => 'nav-link' =%>
</li>
<li class="nav-item">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link' =%>
</li>
