<div class="container hidden <%= "sign_up" if !current_user %>" id="nogigmess">
  <div class="no_gigs">
    <strong>No se encontraron Jales en tu zona</strong> <br>
    Sé el primero en ofertar tus servicios <br>
    <a href="#"> <strong>Crear nuevo jale</strong> </a>
  </div>
</div>
