.arreglar-title h3 {
	font-size: 22px;
	margin-bottom: 0;
}
.icon-areas {
  position: relative;
  padding: 15px 0;
}
.ipsum-text p {
	font-size: 17px;
}


.icon-link {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
}
.icon-areas i {
  font-size: 17px;
  color: #000;
}
.icon-link a i.fa {
  color: #C4C4C8;
  margin-left: 15px;
}
.Saltillo a {
  font-size: 12px;
  color: #0067F4;
  font-weight: 700;
}
.Saltillo span,
.show_req_budget {
  color: #8E8E93;
  font-size: 11px;
}

.Saltillo {
  padding: 10px 0;
	display: flex;
	justify-content: space-between;
}


.ipsum-text a {
  color: #39C17B;
  font-weight: 700;
  font-size: 15px;
}
.ipsum-text a i.fa {
	margin-left: 4px;
	font-weight: 800;
}
.postularme-offer {
	color: #fff;
	background: #39C27B;
	display: inline-block;
	padding: 8px 20px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 8px;
}

.refrigerador-content {
  position: relative;
}

#more {display: none;}


#mores {display: none;}




/* Postulados area Start */

.postulados-text h2 {
  font-size: 24px;
  margin-bottom: 0;
}
.postulados-area {
  padding: 8px 0;
  border-top: 2px solid #F5F6F7;
  border-bottom: 2px solid #F5F6F7;
  margin-top: 25px;
}

/* Postulados area End */



/* fernanda area Start */

.fernanda-single-box {
	background: #F7F7F7;
	position: relative;
	padding: 13px;
	margin-top: 20px;
}
.fernanda-single-box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.fernanda-user-box-text {
  margin-left: 50px;
}
.fernanda-user-box-text h5 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}
.offer_image_name {
	display: flex;
	align-items: center;
}

.offer_image_name h5 {
  margin: 0 0 0 10px;
}

.offer_image_name h5 a {
  color: #000;
}

.offer_image_name span {
	margin-left: auto;
	color: #8E8E93;
	font-size: 14px;
}
.offer_image_name span i.fa {
	color: #FDBA32;
}


.fernanda-user-box-text p {
  font-size: 13px;
  color: #8E8E93;
  margin-bottom: 0;
}
.fernanda-user-box-text p strong {
	float: right;
	font-size: 14px;
	color: #39C27B;
	font-weight: 700;
}

.Borrar-btn {
  text-align: right;
}
.Borrar-btn a {
  color: #fff;
  background: #0067F4;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  padding: 8px 40px;
  border-radius: 5px;
}

.contratar-btn {
	text-align: right;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  padding: 8px 40px;
  border-radius: 5px;
}

.Borrar-b {
	background: #C2C2C5 !important;
	margin-right: 20px;
}

.Contratar-b:first-child {
	background: #0067F4 !important;
	margin-right: 10px;
}

.Contratar-b:last-child {
	background: #39C27B !important;
	margin-right: 10px;
}

.contratado-btn a {
	background: #39C27B;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	padding: 1px 8px;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 10px;
}
.chosen-offer {
	background: #EBF7F1 !important;
}

.Postularme-btn a {
	padding: 7px 20px;
	font-size: 14px;
	float: right;
}
