/* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,800|Nunito:400,700');


/* Base CSS */


body {
  font-family: 'Nunito', sans-serif;
  font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1800 - 320)));
  margin: 0 0 4px;
  font-weight: 400;
}

pre {
  font-family: 'Nunito', sans-serif;
  font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1800 - 320)));
  margin: 0 0 4px;
  font-weight: 400;
  white-space: pre-wrap;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (1800 - 320)));
  margin: 0 0 16px;
  color: #000000;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: calc(19px + (24 - 19) * ((100vw - 320px) / (1800 - 320)));
  margin: 0 0 16px;
  color: #000000;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: calc(17px + (22 - 17) * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
  margin: 0 0 8px;
  color: #000000;
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
  margin: 0 0 8px;
  color: #000000;
}

h5 {
  font-family: 'Nunito', sans-serif;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
  margin: 0 0 8px;
  color: #000000;
}

h6 {
  font-family: 'Nunito', sans-serif;
  font-size: calc(11px + (14 - 11) * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
  margin: 0 0 8px;
  color: #000000;
}

/* Color palette */

:root {
  --green: #39c27b;
  --dark-green: #27825f;
  --blue: #0067f4;
  --light-blue: #E2F3FF;
  --yellow: #f9b732;
  --light-yellow: #FFF4D7;
  --dark-yellow: #CC9132;
  --red: #ef2235;
  --disabled: rgba(142, 142, 147, 0.5);
  --gray: #8e8e93;
  --mid-gray: #c7c7cc;
  --light-mid-gray: #d8d8d8;
  --light-gray: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
}

input:focus,
button:focus,
a:focus {
 outline: none;
}


.legal-document {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
}

.separation {
  height: 30px;
}

/* Stop IOS from applying their own styles into the input fields */
textarea,
select,
input.text,
input[type="text"],
input[type="search"],
input[type="button"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

.contact-us p {
  text-align: left;
}

.close-modal {
  cursor: pointer;
  text-align: right;
}

.close-modal span {
  font-weight: bold;
  color: grey;
}

.primary-jale-btn {
  font-weight: 700;
  padding: 5px 30px;
  float: right;
}


.default-btn {
  font-family: 'Nunito', sans-serif;
  font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
  color: var(--white);
  background: var(--green);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
}

.default-btn:focus,
.default-btn:hover {
  color: var(--light-mid-gray);
}

.invite-friends-card {
  background-color: #f2f2f2;
  border: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.top-gig .page3slides-area3 {
  margin-bottom: 8vh;
}

.app-download-div {
  text-align: center;
}

.app-download-div img{
  width: 200px;
  height: auto;
}

.app-download-ios {
  padding: 3%;
}

.default-secondary-btn {
  font-family: 'Nunito', sans-serif;
  font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
  color: var(--green) ;
  background: var(--white);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
}

.error-header {
  font-size: 70px;
  color: lightgrey;
  display: block;
}

.error-link {
  font-weight: 700;
}

.default-deny-btn {
  color: white;
  font-size: 17px;
  background: red;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
}

.contact-us span {
  float: right;
  font-weight: 600;
}

.openpay-logo {
  width: 70px;
}
.legal-document h3 {
  text-align: center;
}

.legal-document p {
  text-align: justify;
  font-size: 17px;
}
/* disable turbolinks progress bar */
.turbolinks-progress-bar {
  visibility: hidden;
}

.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0 solid
}

.selector-for-some-widget {
  box-sizing: content-box;
}

a:hover {
  text-decoration: none;
}

/* headertop-area start */
.headertop-location {
  display: inline-block;
}

.header-logo {
  display: inline-block;
}

form.search-form .query {
  font-size: 18px;
  padding: 12px 45px;
  background-color: rgba(244, 245, 247, 1);
  border: none;
  border-radius: 24px;
  color: var(--gray);
  font-weight: 700 !important;
  width: 284px;
}
form.search-form input {

}

.headertop-location #search_autocomplete {
  color: #9B9B9B;
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dashed #9B9B9B;
  padding-bottom: 4px;
  background-color: transparent;
}

.bellposition {
  text-align: center;
  position: relative;
}

.header-toparea {
  padding: 22px 0;
  border-bottom: 1px solid #979797;
  z-index: 999;
  background: white;
}

.headertop-location li {
  list-style: none;
}

.redbell1 span::after {
  position: absolute;
  right: -34px;
  top: 6px;
  content: "";
  width: 10px;
  height: 10px;
  background: #EF2235;
  border-radius: 50%;
}

.redbell1 span {
  position: relative;
}

.search-form.page2forms form input[type="text"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9B9B9B;
  opacity: 1;
  /* Firefox */
}

.search-form.page2forms form input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9B9B9B;
}

.search-form.page2forms form input[type="text"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9B9B9B;
}

.ready_to {
  justify-content: space-around;
  display: flex;
  align-items: center;
}


.maild-form form input[type="email"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.maild-form form input[type="email"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.maild-form form input[type="email"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.bellposition2 {
  display: none;
}

/*contactusarea end */
/*catagorislide-area end */
.catagorisingle-slide i {
  background: #F4F5F7;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
  color: #0067F4;
  font-size: 34px;
}

.catagorisingle-slide {
  text-align: center;
}

.bellposition i {
  font-size: 30px;
}

.authorclick img {
  width: 59px;
  height: 59px;
}

a.authorclick {
  position: absolute;
  right: 0;
  top: -11%;
}

.headertop-location i {
  font-size: 22px;
  color: #9B9B9B;
}

.catagorislide-area {
  padding-top: 12px;
  padding-bottom: 10px;
}



.catagori-title h1 {
  color: #000;
  font-size: 34px;
  margin-bottom: 44px;
}

.catagorisingle-slide h6 {
  color: #222222;
  margin: 0;
  padding-top: 10px;
  word-break: normal;
}

/*catagorislide-area end */
/*popular-area start */
.popularimage {
  background: url(../img/limpieza.png);
  background-position: center;
  background-size: cover;
  height: 180px;
  border-radius: 8px;
}

.starlist li {
  list-style: none;
  display: inline-block;
}

.starlist li i {
  color: #F9B732;
  padding-right: 3px;
  font-size: 23px;
}

.hearticon a {
  background: #39C27B;
  display: inline-block;
  padding: 5px 27px;
  border-radius: 24px;
  color: #fff;
  font-size: 14px;
}

.popularimage {
  position: relative;
}

.hearticon {
  position: absolute;
  left: 13px;
  bottom: 13px;
  width: 100%;
}

p.fell2 {
  color: #000;
  font-size: 18px;
  margin-bottom: 6px !important;
}

p.fell3 {
  color: #53CA8D;
}

li.fresh {}

p.fell {
  color: #626262;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
}

.popular-slidetext p {
  margin: 0;
}

.popular-slidetext {
  margin-top: 15px;
}

.popular-area {
  padding-bottom: 60px;
}

l.fresh i {}

.fresh i {
  color: #9B9B9B !important;
}

.starlist {
  margin-top: 10px;
  position: relative;
}

.starlist li span {
  position: absolute;
  right: 120px;
  top: -3px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

p.fell2 {}

.single-request {
  background-color: var(--light-gray);
  border-radius: 4px;
}

.single-request:active {
  background-color: #fff;
}

p.COAH3 {
  margin: 0;
}

p.COAH3 {
  font-size: 14px;
  color: #202020;
}

.ultimo-area {
  padding-bottom: 60px;
}

/*ultimo-area-area end */
/*popular-area2 start */
.popular-area.populararea2 {
  padding-bottom: 35px;
}

/*popular-area2 end */
.headerlogo768 {
  display: none;
}

.header-logo {}

/*anotherfooter*/
.phone-bottom-menu {
  display: none;

}

/*anotherfooter*/
/*plus area*/
.plusarea i {
  font-size: 30px;
  color: #fff;
}

.right-bottom-chat-write {
  z-index: 10;
}

.plusarea a {
  background: #39C27B;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 72px;
}

.plusarea {
  position: fixed;
  right: 20px;
  bottom: 15px;
  z-index: 10000;
}

.no_gigs i {
  font-size: 30px;
  color: #fff;
}

.no_gigs a {
  background: #39C27B;
  color: white;
  line-height: 40px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;

}
.no_gigs {
  text-align: center;
  margin-top: 20px;
}

.cached #gritter-notice-wrapper {
  display: none !important;
}

.headertop {
  display: none;
}

.ex {
  display: none;
}

.belldropdown-box:hover {
  background: #ededed;
}

.belldropdown-box:last-child {
  border-bottom: none;
}

p.greensbold {
  color: #202020;
  font-size: 14px;
  margin: 0;
}

.greens1 {
  color: #51C88B;
  font-size: 14px;
  margin-bottom: 12px;
}

.timer span {
  color: #000;
}

.timer i {
  color: #9B9B9B;
}

.sameicon i {
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 64px;
  background: #fff;
  font-size: 45px;
  border-radius: 6px;
  transition: .4s;
}

.sameicon {
  display: flex;
  align-items: center;
}

.belldropdown-box:hover .sameicon i {
  background: #39C27B;
  color: #fff;
}

.belldropdown-text {
  width: 100%;
  padding-left: 2%;
}

p.quam1 {
  margin: 0;
  color: #202020;
}

.belldropdownarea {
  background: #F4F5F7;
  width: 465px;
  border-radius: 8px;
  position: absolute;
  z-index: 99;
  transition: .4s;
  top: 115px;
  visibility: hidden;
  opacity: 0;
  right: 13%;
  cursor: pointer;
  overflow-y: scroll;
  max-height: 50vh;
}

.belldropdownarea.activee {
  visibility: visible;
  opacity: 1;
  top: 78px;
  padding: 5px;
}

/*notification dropdown*/
.belldropdownarea.activee.toggle .belldropdownarea {
  display: block;
}

.notifarea {
  background: #F4F5F7;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

.notif-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.clickred i {
  position: absolute;
  right: 25px;
  bottom: 0px;
  background: #8B8C94;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  border-radius: 50%;
  color: #fff
}

.transparentoverlay {
  background: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.transparentoverlay.actor {
  z-index: 97;
}

.belldropdownarea.actor {
  visibility: visible;
  opacity: 1;
  top: 76px;
}

.belldropdownarea.activee.hide {
  visibility: hidden;
  opacity: 0;
  top: 115px;
}

/*innerpage one*/


.activotext {
  margin-top: 30px;
}

.activotext h1 {
  margin-bottom: 5px;
  font-size: 40px;
  color: #000;
  word-break: break-all;
}

.innersocial-list i {
  color: #F9B732;
}

.reportar-btn a {
  background: #999;
  display: inline-block;
  width: 140px;
  text-align: center;
  padding: 10px 0;
  border-radius: 24px;
  color: #fff;
}

.reportar-btn a i,
.reportar-btn buttton i {
  padding-right: 9px;
}

.inner-comment a,
.inner-comment button {
  background: #0067F4;
  display: inline-block;
  color: #fff;
  width: 140px;
  text-align: center;
  padding: 10px 0;
  border-radius: 24px;
  border: none;
}

button:focus {
  outline: none;
}

.inner-comment {
  margin-bottom: 30px;
}

p {

}

.mobile_search_bar {
  background-color: #39C27B;
  padding: 15px 0;
}

.contactars p {
  color: #0067F4 !important;
  padding-top: 2px;
  padding-bottom: 5px;
}

.mar-0-auto {
  margin: 0 auto;
}

.gig-profile .gig-image-profile img {
  width: 100%;
  border-radius: 5px;
}

.tabstar-no i {
  color: #F9B732;
}

.rightsidetab-content .nav-tabs {
  border-bottom: none;
}

.rightsidetab-content .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.tabbigissue1-total p {
  margin: 0;
}

.coa3.tj {
  color: #39C27B !important;
}

.maintabroll3 {
  margin-top: 27px;
  margin-bottom: 42px;
  min-width: 100%;
}

.rightsidetab-content {
  position: relative;
}

.rightsidetab-content::after {
  position: absolute;
  background: #F5F6F7;
  height: 3px;
  width: 100%;
  content: "";
  left: 0;
  top: 44px;
  z-index: -1;
}

.rightsidetab-content .nav-tabs .nav-link.active {
  border-bottom: 3px solid #39C27B !important;
  border-color: transparent;
}

.tabpicc1.covico img {
  width: 90px;
  height: 90px;
  margin-left: 10px;
}

.col-lg-2.padingminus {
  padding-left: 0;
}

.col-lg-3.padingminus1 {
  padding-left: 0;
}

.innersocial-list span i {
  color: #9B9B9B;
}

.tabstar-no span i {
  color: #9B9B9B;
}

.inner-reportarcontent p.edad11 {
  color: #4A4A4A !important;
  word-break: break-all;
}

.inner-reportarcontent p.edad1 {
  color: #9B9B9B !important;
}

.innerdate p {
  color: #000 !important;
  font-size: 18px;
  line-height: 22px;
}

.catagorislide-area.innerpage-onearea {
  padding-top: 30px;
}

.tabbigissue1-total li {
  list-style: none;
}


.tabbigissue1-total span i {
  padding-right: 2px;
}

.coa3.chi1 a{
  color: #27825F;
}

.tabbigissue1-total li {
  color: #4A4A4A;
}

.rightsidetab-content #myTab a {
  color: #000;
  font-size: 18px;
}

.inner-comment a i {
  padding-right: 3px;
}

.karinasp-drop .karinasp-drop .btn-secondary.focus, .btn-secondary:focus {
  box-shadow: none;
}

.karinasp-drop .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #000;
  background-color: transparent;
  border-color: none !important;
}

.karinasp-drop .btn-secondary {
  color: #fff;
  background-color: transparent;
  border-color: none;
}

.karinasp-drop .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.karinasp-drop .btn-secondary {
  background-color: transparent;
  border-color: transparent;
  border: none;
}
.karinasp-drop {
  position: absolute;
  right: 0;
  top: 5px;
  border: 1px solid #ddd;
  width: 135px;
  border-radius: 3px;
}

.bellposition.page2date a i {
  font-size: 18px;
}

.bellposition.page2date a {
  font-size: 12px;
}

.redbell1.page2nick i {
  background: #39C27B;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.search-form.page2forms form input[type="text"] {
  background: transparent;
  padding: 0;
  padding-left: 26px;
}

.search-form.page2forms i {
  color: #9B9B9B;
  font-size: 20px;
}

.search-form.page2forms a {
  position: absolute;
  left: 21px;
  top: 13px;
}

.bellposition.page2date br {
  display: none;
}

.redbell1.page2nick {}

.search-form.page2forms {
  margin-left: 32px;
  position: relative;
  width: 319px;
  background: transparent;
  border: 1px solid #ddd;
  padding: 9px 0;
  border-radius: 4px;
}

.bellposition.page2date {
  padding-right: 175px;
}

.bellposition.page2date a {
  padding-left: 0;
}

.bellposition.page2date a:last-child {
  padding-right: 0;
}

.bellposition.page2date a {
  padding-right: 45px;
}

.dandytext .btn-group button {
  background: none;
  color: #000;
  border: none;
}

.dandytext {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #ddd;
  width: 160px;
  text-align: right;
  border-radius: 4px;
}

.dandytext img {
  position: absolute;
  right: 123px;
  top: 7px;
  border-radius: 50%;
}

.bellposition.page2date a span {
  padding-left: 3px;
}

.headertop-location.page2location {
  display: none;
}

.innerpage768area {
  display: none;
}

.activotext p {
  color: #000 !important;
  margin-bottom: 5px;
}

.innerdate {
  margin-bottom: 33px;
  margin-top: 33px;
}

.reportar-btn {
  margin-top: 15px;
}

/*innerpage2*/
/*innerpage3*/

.pacificobg-socialicon i {
  color: var(--gray);
  font-size: 18px;
  margin: 4px 10px 0px 4px;
  line-height: 0.75em;
}

.pacificobg-socialicon a {
  line-height: 0.75em;
}

.pacificobg-socialicon {
  display: flex;
  text-align: right;
}

.gig-visits-likes {
  color: var(--green);
}

.singleslidep {}

.innerpage3-rightsidetabs .nav-tabs .nav-link.active {
  border-bottom: 2px solid #39C27B !important;
  border-color: transparent;
}

.innerpage3-rightsidetabs .nav-tabs .nav-link {
  font-size: 18px;
  color: #9B9B9B;
  font-weight: 700;
}

.innerpage3-rightsidetabs .nav-tabs {
  border-bottom: 1px solid #F2F2F2;
}

.header-toparea.headertoppage3 {
  border-bottom: 1px solid #F2F2F2;
}

p.limpi1 {
  color: #4A4A4A;
  font-size: 16px;
  margin-bottom: 5px;
}

.innerpage3-rightsidetabs {
  border: 2px solid #F5F6F7;
  border-radius: 5px;
}

.earnlist-mewrapt {
  padding: 15px 17px;
}

.page3-btn .hire-pack {
  background: #39C27B;
  color: #fff;
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  border-color: transparent;
  width: 50%;
  text-align: center;
}

.verificos-title h3 {
  color: #000;
}

.verificos-title p {
  font-size: 14px;
  color: #BFBFBF;
  font-weight: 700;
}
.verificos-title {
  margin-top: 1vh;
}

.varificado-btn3 a {
  background: #39C27B;
  color: #fff;
  display: inline-block;
  width: 128px;
  text-align: center;
  border-radius: 24px;
  padding: 5px 0;
  font-size: 12px;
  font-weight: 700;
}

.varificado-btn3 {
  position: absolute;
  right: 20px;
  z-index: 1;
}

.arroweee {
  display: none;
  z-index: 1;
  margin-left: 15px;
}

.check-listpage3 i {
  color: #39C27B;
  padding-right: 16px;
}

p.limpi3 {
  color: #4A4A4A;
  font-size: 16px;
}

h3.packa-price {
  margin-bottom: 0;
}

pre p {
  margin-bottom: 0;
}
pre p.limpi3 {
  margin-top: -10px;
}

.check-listpage3 p {
  color: #4A4A4A;
}

.check-listpage3 {
  margin-top: 30px;
}

.mentos-areapag3,
.recommendation {
  text-align: center;
  border: 2px solid #F5F6F7;
  margin-top: 18px;
  position: relative;
  border-radius: 5px;
}

.mentos-authors {
  border-bottom: 1px solid #F2F2F2;
  padding-top: 12px;
}

.page3-comment i {
  background: #0067F4;
  color: #fff;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
}

.page3-comment {
  position: absolute;
  right: 12px;
  top: 12px;
}

.mentos-title2 h1 {
  font-size: 24px;
  margin-bottom: 8px;
  color: #000;
}

.mentos-title2 h1 span i {
  padding-left: 10px;
  color: #39C27B;
}

.mentos-title2 {
  margin-top: 20px;
  word-break: break-word;
}

p.hace2 {
  color: #9B9B9B;
  font-size: 16px;
  margin-bottom: 5px;
}

p.hace1 {
  margin-top: 5px;
}

.mentosstar-list i {
  color: #F9B732;
}

.mentosstar-list span i {
  color: #9B9B9B;
}

p.datesin {
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 5px;
}

.mentosdates {
  padding: 0 61px;
}

p.edadd1 {
  margin-bottom: 5px;
  color: #9B9B9B;
}

p.elit55 {
  color: #4A4A4A;
}

h3.packa-price sub {
  bottom: 0;
}


.innerpage3-rightsidetabs.tab-two {
  display: none;
}

.page3-viewmore button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.califico-about pre {
  color: #4A4A4A;
  font-size: 16px;
}

.califico-about {
  margin-top: 20px;
}

.servico-title i {
  color: #F9B732;
  font-size: 18px;
}

.servico-title h3 {
  font-size: 28px;
  color: #000;
  margin: 0;
}

.servico-singleteam {
  position: relative;
  padding-left: 95px;
  border-bottom: 2px solid #F2F2F2;
  padding-top: 15px;
  padding-bottom: 15px;
}

.servico-authoristd {
  position: absolute;
  left: 5px;
  top: 5px;
}

.servico-singleteam {}

.loyed1 i {
  padding-left: 12px;
}

.level-table {
  margin-top: 20px;
}

p.loyed1 {
  color: #000;
  margin-bottom: 5px;
}

p.loyed2 {
  color: #000;
}

p.loyed3 {
  color: #9B9B9B;
}

.authoristed-contents1 p {
  margin-bottom: 5px;
}

.page3-viewmore {
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #F2F2F2;
  padding: 10px 0;
}

.page3-viewmore a {
  color: #0067F4;
  font-size: 18px;
  font-weight: 700;
}

.page3-viewmore i {}

.page3-viewmore {}

.page3-viewmore i {
  padding-left: 3px;
}

.page3slide-titles1 h1 {
  margin: 10px 0px 16px 15px
}

.page3slides-contentrd h6 {
  margin-bottom: 8px;
  color: #8E8E93;
}

.page3slide-stard li {
  list-style: none;
  display: inline-block;
  padding-left: 8px;
}

p.gig-price {
  color: var(--green);
  margin: 0 0 8px 0;
}

.page3slides-contentrd {
  min-height: 94px;
}


/*innerpage3*/
.perfil-area {
  display: none;
}

.user_info_row {
  align-items: center;
  max-width: 70%;
}
.user_info_row p {
  margin-bottom: 0;
}

.display-flex {
  display: flex;
}

.user_name_tablet_phone {
  color: #000;
  font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
  padding-left: 5px;
}

.profileview-total img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px 15px;
  border: 4px solid #EEEEF3;
}


.sedcontent-wrap {
  display: none;
}

.notif-icon,
.mess-icon {
  position: relative;
}

.notif-icon.unread::after,
.mess-icon.unread::after {
  position: absolute;
  right: -5px;
  top: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background: #EF2235;
  border-radius: 50%;
  transform: translateY(50%);
}

.sed-content h2 {
  margin-top: 8px;
}

.sed-content h5 {
  margin-top: 12px;
  color: var(--gray);
}

.sed-content p {
  margin-top: -18px;
}

.sedcontent-wrap a {
  float: right;
}

.doopli {
  display: none;
}

.servico-title span h6 {
  padding-left: 8px;
  font-size: 14px;
  color: grey;
  display: inline-block;
}

.arroweee i {
  color: #fff;
}

.califico-about {
  display: block;
}

.califico-about.nulla {
  display: none;
}

p.verified {
  position: absolute;
  top: 113px;
  padding: 0 5px;
  margin-left: 5px;
  background-color: #39C27A;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}

.singleslidepd {
  position: relative;
}

.page3single-slidersd .singleslidepd img {
  max-height: 145px;
  min-height: 145px;
  object-fit: cover;
}

.doopli button {
  cursor: pointer;
  border: none;
  background: transparent;
  transition: .4s;
}

button:focus {

}

.sedcontent-wrap a {
  float: right;
  padding-right: 6px;
}

/*innerpage3*/
.pacificost-bg {
  background: url(../img/pllo.jpg);
  height: 480px;
  background-position: center;
  background-size: cover;
  margin-top: 30px;
  position: relative;
}

.singleslidep {}

.innerpage3-rightsidetabs .nav-tabs {
  border-bottom: 1px solid #F2F2F2;
}

.header-toparea.headertoppage3 {
  border-bottom: 1px solid #F2F2F2;
}

p.limpi1 {
  color: #4A4A4A;
  font-size: 16px;
  margin-bottom: 5px;
}

.innerpage3-rightsidetabs {
  border: 2px solid #F5F6F7;
  border-radius: 5px;
}

.earnlist-mewrapt {
  padding: 15px 17px;
}

.verificos-title h3 {
  color: #000;
}

.varificado-btn3 {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.check-listpage3 i {
  color: #39C27B;
  padding-right: 16px;
}

p.limpi3 {
  color: #4A4A4A;
  font-size: 16px;
}


.check-listpage3 p {
  color: #4A4A4A;
}

.check-listpage3 {
  margin-top: 30px;
}

.page3-comment i {
  background: #0067F4;
  color: #fff;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
}

.page3-comment {
  position: absolute;
  right: 12px;
  top: 12px;
}

.inline {
  display: inline;
}
.mentos-title2 h1 {
  font-size: 24px;
  margin-bottom: 8px;
  color: #000;
}

.mentos-title2 span img {
  padding-left: 10px;
}

.mentos-title2 {
  margin-top: 20px;
}

p.hace2 {
  color: #9B9B9B;
  font-size: 16px;
  margin-bottom: 5px;
}

p.hace1 {
  margin-top: 5px;
}

.mentosstar-list i {
  color: #F9B732;
}

.mentosstar-list span i {
  color: #9B9B9B;
}

p.datesin {
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 5px;
}

.mentosdates {
  padding: 0 61px;
}

p.edadd1 {
  margin-bottom: 5px;
  color: #9B9B9B;
}

p.elit55 {
  color: #4A4A4A;
}

p.packa-price sub {
  color: #9B9B9B;
  font-size: 10px;
  font-size: 9px;
  padding-left: 8px;
}

.innerpage3-rightsidetabs .nav-link {
  display: block;
}

.innerpage3-rightsidetabs.tab-two {
  display: none;
}

.page3-viewmore button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.califico-about p {
  color: #4A4A4A;
  font-size: 16px;
}

.califico-about {
  margin-top: 20px;
}

.servico-title i {
  color: #F9B732;
  font-size: 18px;
}

.servico-title h3 {
  font-size: 28px;
  color: #000;
  margin: 0;
}

.servico-title {
  border-top: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  padding: 15px 0;
  margin-top: 30px;
}

.servico-singleteam {
  position: relative;
  padding-left: 95px;
  border-bottom: 2px solid #F2F2F2;
  padding-top: 15px;
  padding-bottom: 15px;
}

.servico-singleteam {}

.loyed1 i {
  padding-left: 12px;
}

p.loyed1 {
  color: #000;
  margin-bottom: 5px;
}

p.loyed2 {
  color: #000;
}

p.loyed3 {
  color: #9B9B9B;
}

.authoristed-contents1 p {
  margin-bottom: 5px;
}

.page3-viewmore {
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #F2F2F2;
  padding: 10px 0;
}

.todoo1-gg {
  display: none;
}

.page3-viewmore i {}

.page3-viewmore {}

.page3-viewmore i {
  padding-left: 3px;
}


.catagorislide-area.innerpages3-area {
  padding-bottom: 10px;
}

/*innerpage3*/
.perfil-area {
  display: none;
}

.small-padding {
  padding: 0px 0px;
}


.sedcontent-wrap::before {
	position: absolute;
	left: 0;
	content: "";
	width: 100%;
	height: 2px;
	background: #F5F6F7;
	z-index: -1;
}

.sedcontent-wrap {
  display: none;
}

.sed-content {
  margin: 0px 15px;
}

.sedcontent-wrap a {
  float: right;
}

.doopli {
  display: none;
}

.servico-title span {
  padding-left: 8px;
}

.califico-about {
  display: block;
}

.califico-about.nulla {
  display: none;
}

.div-space-between .hearted1 i {
  color: var(--gray);
}

.div-space-between .hearted1 a {
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.hearted1 a {
  color: var(--gray);
  font-weight: 800;
}

.hearted1 a:hover {
  color: var(--gray);
}

.div-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-space-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.div-space-between-no-align {
  display: flex;
  justify-content: space-between;
}

.doopli button {
  cursor: pointer;
  border: none;
  background: transparent;
  transition: .4s;
}

button:focus {

}

.sedcontent-wrap a {
  float: right;
  padding-right: 6px;
}

.headerd-mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.headerd-mainmenu ul li {
  display: inline-block;
  padding-left: 10px;
}

.headerd-mainmenu ul li a {
  padding: 8px;
  display: inline-block;
}

.headerd-area {
  padding: 15px 0;
  border-bottom: 1px solid #E5E5E5;
  background: white;
}

.headerd-mainmenu ul li a:last-child {}

.headerd-mainmenu ul li:last-child {
  background: #0067F4;
  padding-left: 0;
  width: 108px;
  text-align: center;
  border-radius: 4px;
  margin-left: 18px;
}

.headerd-mainmenu ul li:last-child h5 {
  color: var(--white);
  margin: 0 0 0px;
}

/*headerd*/
/*headerd-hero*/
.hero-darea::after {
  background: url("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/hero+image.png");
  background-position: top;
    background-size: cover;
    height: 100%;
    content: "";
    right: 45px;
    bottom: -16px;
    width: 48%;
    position: absolute;
}

.hero-darea {
  position: relative;
}

.herod-leftcontentwrap {
  margin-top: 115px;
  position: relative;
  z-index: 9;
}

.herodleft-side h1 {
  color: #000;
  font-size: calc(45px + (60 - 45) * ((100vw - 320px) / (1800 - 320)));
  line-height: calc(45px + (70 - 45) * ((100vw - 320px) / (1800 - 320)));
  margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1800 - 320)));
}

.herodleft-side p {
  color: var(--gray);
  margin-bottom: calc(20px + (32 - 16) * ((100vw - 320px) / (1800 - 320)));
}

.maild-form-wraps {
  margin-bottom: 22px;
  margin-left: 45px;
}

.herod-leftmenu-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.herod-leftmenu-wrap ul li {
  display: inline-block;
  padding-right: 15px;
}

.row_new {
    display: flex;
    flex-wrap: wrap;
}

.herod-leftmenu-wrap ul li a {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  color: #7F7F7F;
}

.maild-form {
  position: relative;
  width: 108%;
  margin-left: 55px;
  z-index: 9;
}

.maild-form input {
  width: 100%;
  border: none;
  padding-left: 68px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 2px;
  background: #39C27B;
  color: #fff;
  font-size: 21px;
  font-family: 'Nunito', sans-serif;
}

.maild-form .fa-search {
  position: absolute;
  left: 50%;
  margin-left: -234px;
  top: 50%;
  margin-top: -12px;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
}

.maild-form .fa-arrow-right {
  position: absolute;
  right: 50%;
  top: 50%;
  margin-right: -215px;
  margin-top: -11px;
  color: #fff;
  font-size: 21px;
  cursor: pointer;
}

.herod-leftmenu-wrap {
  margin-top: 18px;
  margin-left: 73px;
}

.maild-form::after {
  position: absolute;
  content: "";
  background: #fff;
  height: 26px;
  width: 3px;
  left: 50%;
  top: 50%;
  z-index: 9999;
  margin-left: -207px;
  margin-top: -14px;
}

/*headerd hero*/
/*contactd start*/
.contactd-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.contactd-area {
  padding: 70px 0;
}

.contactd-heading h2 {
    color: #000;
    font-size: calc(28px + (40 - 28) * ((100vw - 320px) / (1800 - 320)));
    line-height: calc(32px + (44 - 32) * ((100vw - 320px) / (1800 - 320)));
    margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1800 - 320)));
    margin-top: calc(16px + (24 - 16) * ((100vw - 320px) / (1800 - 320)));
}

.singlecontactd-box {
  text-align: center;
}

.contactd-content p {
  color: var(--gray);
}

.contactd-heading p {
  color: var(--gray);
}

.contacd-icon i {
  color: #006AF8;
  font-size: 35px;
}

.contactd-content {
  padding: 0 94px;
}

.contacd-icon {
  margin-bottom: 15px;
}

.todoo1 {
  display: none;
}

.todoo1-gg {
  display: none;
}

/*contactd end*/
.todod-bg img {
  width: 100%;
}

.contactd-heading {
  margin: 0 auto;
  margin-bottom: 28px;
}

.contactd-heading span {
  color: #39C27B;
}

.todod-area {
  padding-bottom: 80px;
}

.container.page3slides-area3 {
  margin-bottom: 5vh;
}

/*contactd end*/
/*mobiled start*/
.singlemobiled img {
  max-width: 250px;
}

.oferta p {
  color: var(--gray);
}

.mobileds {
  margin-top: 92px;
}

.singlemobiled.text-right {
  padding-left: 142px;
}

.singlemobiled.mobileds.sony {
  padding-right: 180px;
}

.oferta {
  margin-bottom: 28px;
}

.singlemobiled.text-center {
  position: relative;
}

.mobileprice h4 {
  line-height: 20px;
  color: var(--white);
}

.mobileprice {
  background: #0067F4;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  text-align: center;
  padding-top: 28px;
  color: #fff;
  position: absolute;
  right: 40px;
  bottom: -14px;
}

.mobiled-area {
  padding-bottom: 65px;
}

/*mobiled end*/
/*greend start*/
.maingreenbgd {
  background: url("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/ready_to_be_expert.png");
  background-position: right;
  background-size: cover;
  border-radius: 4px;
  padding: 38px 0;
}

.greend-left h2 {
  color: #fff;
  margin: 0;
  font-size: calc(28px + (40 - 28) * ((100vw - 320px) / (1800 - 320)));
  line-height: calc(28px + (42 - 28) * ((100vw - 320px) / (1800 - 320)));
  margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1800 - 320)));
  margin-top: calc(16px + (24 - 16) * ((100vw - 320px) / (1800 - 320)));
}


.greend-right a h4 {
  background: #FFFFFF;
  display: inline-block;
  text-align: center;
  color: #39C27B;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1800 - 320)));
}

/*greend end*/
/*greend end*/
.footerdarea {
  padding: 48px 0;
}



.footerd-listt ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerd-listt ul li a {
  color: #7F7F7F;
  font-size: 16px;
}

.footerd-logo p {
  color: #000;
  font-weight: 300;
  padding-left: 11px;
}

.footerd-listt p {
  color: #000;
}

/*greend end*/
/*footerd start*/
.footerd-social a {
  background: #0067F3;
  color: #FFF;
  width: 40px;
  display: inline-block;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  margin-right: 12px;
}

.footerd-social a i {
  font-size: 21px;
  color: white;
  transition: .4s;
}

.footerd-social a:hover i {
  color: #fff;
}

.singlefooterdn p {
  color: black;
  margin-bottom: 4px;
}

.singlefooterdn ul li a {
  color: black;
}

/*footerd end*/
.headerd-area .mean-container a.meanmenu-reveal span {
  display: block;
  background: var(--gray);
  height: 3px;
  margin-top: 3px;
}

.headerd-area .mean-container .mean-bar {
  float: left;
  width: 100%;
  background: transparent;
  padding: 2px 0;
  min-height: 0;
  z-index: 999999;
}

.headerd-area .mean-container a.meanmenu-reveal {
  color: var(--gray);
}

.headerd-area .mean-container .mean-nav {
  float: left;
  width: 100%;
  background: white;
  margin-top: 14px;
  position: absolute;
  border-radius: 4px;
  box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.16);
}

.headerd-area .meanmenu-reveal {
  right: 18px !important;
}

/*contactd end*/
.footerd2area {
  display: none;
}

/*Mycss*/
.mail-form input {
  width: 100%;
  background: #3CC87D;
  padding: 20px;
  border: 0;
  padding-left: 50px;
  color: white;
}

.mail-form input::placeholder {
  color: white;
  opacity: 0.6;
}

.mail-form {
  position: relative;
}

.mail-form i.fas.fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  left: 20px;
  font-size: 19px;
  opacity: 0.4;
  cursor: pointer;
}

.mail-form i.fas.fa-arrow-right {
  position: absolute;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
}



.mail-form input[type="email"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.mail-form input[type="email"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.mail-form input[type="email"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}


/*MAURICIO */
.nav-avatar{
  border-radius: 50%;
  height: 176px;
  width: 176px;
  object-fit: cover;
}
/*Sliders*/

.single-gig {
  width: 200px;
  margin: 10px 0px;
  border-radius: 2px;
  box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.single-gig:hover {
  box-shadow: 6px 6px 24px 0 rgba(0, 0, 0, 0.05);
  transform: scale(1.03);
}

.single-gig:active {
  box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, 0.03);
  background: #F3F2F2;
  transform: scale(.98);
}

.page3slides-contentrd p.location,
.gig-query .location,
.gig-profile .location,
p.fof {
  font-size: 14px;
  color: #BFBFBF;
  font-weight: 700;
}
.gig-content {
  padding: 8px 10px;
  background: white;
}
p.gig-score-times {
  color: var(--gray);
  font-weight: 600;
  margin-left: 10px;
  margin-top: -2px;
}
.swiper-container-horizontal .swiper-slide .page3slide-stard img,
.tabstar-no img {
  width: auto !important;
  height: calc(12px + (16 - 12) * ((100vw - 300px) / (1800 - 300)));
}


.swiper-container-horizontal .singleslidepd img {
  width: 100%;
}

.page3slide-stard {
  display: flex;
}

.swiper-container-horizontal a:hover{
  color: #007bff;
}
.gig-images-container{
  position: relative;
}
/* gritter close notifications */
.gritter-close{
  width: 100%;
  height: 100%;
}

.cursor_pointer{
  cursor: pointer;
}
/*rating and reviews*/
.icon-review {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.rating-score {
  color: #ffc107;
  vertical-align: middle;
}
.na {
  color: var(--gray);
}
.single-star {
  margin-left: 6px;
  position: relative;
  bottom: 1px;
  width: calc(10px + (20) * ((100vw - 320px) / (1800 - 320)));
}
.page3slide-stard img {
  width: 16px;
  height: 16px;
}


.review-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*user profile*/
.gig-status,
.req-status {
  border-radius: 4px;
  color: white;
  padding: 1px 5px;
  max-height: 28px;
  font-size: 14px;
}
.gig-draft {
  color: #0067F4;
  border: 1px solid #0067F4;
}
.gig-banned {
  color: #EF2235;
  border: 1px solid #EF2235;
}

.gig-published {
  color: #39C27B;
  border: 1px solid #39C27B;
}
.req-published {
  color: #F9B732;
  border: 1px solid #F9B732;
}

.req-in_progress {
  color: #0067F4;
  border: 1px solid #0067F4;
  min-width: 90px;
}

.req-completed {
  color: #39C27B;
  border: 1px solid #39C27B;
}

.req-banned {
  color: #EF2235;
  border: 1px solid #EF2235;
}

.req-closed {
  color: #8E8E93;
  border: 1px solid #8E8E93;
}

  /*requests of profile*/
  .riktos-wrapper {
    background: #F5F5F5;
    padding: 5px 7px;
    margin: 24px 0;
    position: relative;
  }
  .singleriktos span {
    color: #39C27A;
    padding-right: 11px;
    font-weight: 700;
    font-size: 13px;
  }
  .singleriktos p {
    margin: 0;
  }
  p.fof {
    font-weight: 700;
    font-size: 14px;
    min-height: 21px;
  }
  p.jkl {
    color: #000;
    font-size: 15px;
  }
  p.jhh {
    color: #000;
    font-size: 12px;
    line-height: 16px;
  }

  p.yii {
    font-size: 12px;
    color: #BFBFBF;
  }
  .points p {
    background: #39C27A;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 4px 0;
    width: 178px;
    text-align: center;
    border-radius: 4px;
  }
/*Plus button*/
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropup:hover .dropup-content {
  display: block;
}
/*modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;

}

.new-element {
  margin-bottom: 20px;
}

.modal-content-transparent {
    background-color: transparent;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-content input[type="email"],
.modal-content input[type="password"] {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 17px;
    border: 1px #b2b2b2 solid;
    box-shadow: none;

    padding: 5px 10px;
    height: 43px;
}
.modal-content p {
    font-size: 14px;
}

.inmodal span#register{
  color: #28a745;
  cursor: pointer;
}

/*error*/
label.error,
span.error,
div.error,
p.error{
  color: red !important;
}
/*Notifications*/
.head-notif {
  display: flex;
}
.timer {
  margin-left: auto;
}
.belldropdown-box {
  display: flex;
  margin-bottom: 10px;
  padding: 5px 0;
}
.notif-avatar-mobile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/*request partial*/
.req_budget {
  background: #39C27A;
  border-radius: 0 0 4px 4px;
  padding: 5px 7px;
}
.req_budget p {
  color: #fff;
  margin: 0;
  font-size: 14px;
}

h6.req_location {
  color: var(--gray);
}
.req_info {
  padding: 10px 10px;
}
/*mobile menu*/
.phone_links {
  text-align: center;
  align-items: center;
}
.phone_links a {
  width: 20%;
}

/*FACEBOOK BUTTON*/
/* Shared */
.fb_sign_in{
    display: grid;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  border: none;
  text-align: center;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {

}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
/*user profile*/
.user_pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
#profile_tabs {
  justify-content: space-between;
}
#profile_tabs a {
  border: none;
  font-size: 19px;
  font-weight: 700;
  color: #C7C7CC;
}
/*MENU*/
.tablet-mobile-top-ber {
	background: #39C27B;
	padding: 15px 0;
}
.belldropdownarea {
	opacity: 0;
	visibility: hidden;
}
.tablet-mobile-top-ber {
	display: none;
}
/*flash notifications*/
.toast__icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/*user profile*/
.author2total {
  text-align: center;
}
/*search-form*/
.form i.fas {
  color: #D4D4D7;
  font-size: 16px;
}
form.search-form {
  display: flex;
}

.search-form .form i {
  position: absolute;
  top: 23%;
  left: 12px;
  color: var(--disabled);
  font-size: 22px;
  z-index: 4;
}

form.search-form .desktop-query {
  padding-left: 15px;
}
div.form {
  height: 40px;
  margin: auto 0;
  background: #fff;
  padding: 8px 10px 8px 19px;
  border-radius: 3px;
  width: 300px;
  position: relative;
}
.search-form .filters input {
  margin-right: 10px;
}

.filters input,
.filters select {
  color: #fff;
	font-size: 14px;
	white-space: nowrap;
	border: 1px solid #88DBB0;
	padding: 5px 15px;
	border-radius: 3px;
	background: #35B575;
  margin-top: 3px;
}
.filters input:focus,
.filters select:focus {
  background: #35B575;

  color: #fff;
}

.filters input::placeholder {
  color: #fff;
}
/*gig show*/
.package_names .nav-item {
  width: 33.3%;
  text-align: center;
}
/*query page*/
.gig-query-content {
  min-height: 128px;
  box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.gig-query-content:hover {
  box-shadow: 6px 6px 24px 0 rgba(0, 0, 0, 0.05);
}
.gig-query .gig-image,
.gig-profile .gig-image {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0 ;
  object-fit: cover;
}

.gig-query .gig-query-content {
  margin-top: 27px;
  margin-bottom: 42px;
}

.gig-query .gig-query-content,
.gig-profile .gig-query-content {
  min-height: 120px;
}
/* Transacciones secsion Start */

.Transacciones-tab-secsion {
	position: relative;
}
.transacciones-text {
	position: relative;
	padding: 12px 0;
  margin-left: -10px;
}

.transacciones-text a {
	color: #000;
}

.transacciones-text span {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9px;
	color: #000;
}
.transacciones-text h1 {
	margin-left: 16px;
    margin-bottom: 0;
}
.transacciones-text span i.fa {
	font-size: 15px;
}
/*tabs*/
.transacciones-tab-content {
	position: relative;
}

.Transacciones-tab-area .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: var(--green) !important;
	background-color: #fff;
	border-bottom: 3px solid var(--green) !important;
}

.Transacciones-tab-area .nav-tabs .nav-link {
	border: none;
	padding: 0;
  font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
	color: var(--mid-gray);
}
.Transacciones-tab-area .nav-tabs .nav-link:last-child {
	margin-left: 30px;
}
.Transacciones-tab-area .nav-tabs {
	border-bottom: none;
  margin-bottom: 15px
}
.Transacciones-tab-secsion::after {
	position: absolute;
	left: 0;
	top: 22px;
	content: "";
	width: 100%;
	height: 3px;
	background: var(--light-gray);
	z-index: -1;
}
/*mobile search menu*/
.map-marker span {
	font-size: 14px;
}
.map-marker {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.mobile-search-form {
  position: relative;
  padding: 0 20px;
}
.mobile-search-form i.fa-search {
  position: absolute;
  z-index: 3;
  font-size: 18px;
  color: #39C27B;
  top: 11px;
  left: 35px;
}

.mobile-search-form i.fa-times {
  position: absolute;
  z-index: 3;
  font-size: 18px;
  color: var(--gray);
  top: 11px;
  right: 35px;
}

.mobile-query {
  width: 100%;
  padding: 10px 10px 10px 45px;
  border: none;
  border-radius: 4px;
  color: #39C27B;
}

h4.gig-title {
  font-weight: normal;
  margin-bottom: 0;
}

h4.req_title {
  font-weight: normal;
}


/*active menu*/
.phone_links .active {
  color: var(--blue) !important;
  text-shadow: 0px 0px 20px rgba(0,103,244,0.44);
}
/*search styles (and profile also)*/
.gig-query .hearted1,
.gig-profile .hearted1 {
  position: absolute;
}
/*mobile search styles*/
.mobile_menu_autocomplete {
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  border-radius: 3px;
  background: #39C27B;
  margin-top: 3px;
  border: none;
  padding: 5px 15px;
  width: 50vw;
  text-align: center;
  font-weight: 900;
  text-overflow: ellipsis;
}

.mobile_menu_autocomplete::placeholder {
  color: #fff;
  text-align: center;
}
.mobile_menu_autocomplete:focus {
  border: 1px solid #88DBB0;
}

.mobile_menu_autocomplete.tt-hint {
  color: #39C27B !important;
}

.element-size {
  width: 80%;
}

.question_hint {
  cursor: pointer;
}

/*custom styles*/
.font-awesome {
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900 !important;

}

.flex-space-bet {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.displayed {
  display: block !important;
}
.w-100 {
  width: 100%;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.multi-line-truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.multi-line-truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.min-height-42px {
  min-height: 42px;
}

.min-height-48px {
  min-height: 48px;
}

.min-height-66px {
  min-height: 66px;
}

.min-height-32px {
  min-height: 32px;
}

.min-height-44px {
  min-height: 44px;
}
.min-height-57px {
  min-height: 57px;
}
.min-height-30px {
  min-height: 30px;
}
.swiper-container-initialized {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  top: 40% !important;
  background-color: rgba(0,0,0,.5);
  height: 125px !important;
  /* padding: 16px; */
}

.swiper-button-prev {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNDUxLjg0NyA0NTEuODQ3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NTEuODQ3IDQ1MS44NDc7IiB4bWw6c3BhY2U9InByZXNlcnZlIiBjbGFzcz0iIj48Zz48Zz4KCTxwYXRoIGQ9Ik05Ny4xNDEsMjI1LjkyYzAtOC4wOTUsMy4wOTEtMTYuMTkyLDkuMjU5LTIyLjM2NkwzMDAuNjg5LDkuMjdjMTIuMzU5LTEyLjM1OSwzMi4zOTctMTIuMzU5LDQ0Ljc1MSwwICAgYzEyLjM1NCwxMi4zNTQsMTIuMzU0LDMyLjM4OCwwLDQ0Ljc0OEwxNzMuNTI1LDIyNS45MmwxNzEuOTAzLDE3MS45MDljMTIuMzU0LDEyLjM1NCwxMi4zNTQsMzIuMzkxLDAsNDQuNzQ0ICAgYy0xMi4zNTQsMTIuMzY1LTMyLjM4NiwxMi4zNjUtNDQuNzQ1LDBsLTE5NC4yOS0xOTQuMjgxQzEwMC4yMjYsMjQyLjExNSw5Ny4xNDEsMjM0LjAxOCw5Ny4xNDEsMjI1LjkyeiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCIgZmlsbD0iI0ZGRkZGRiIvPgo8L2c+PC9nPiA8L3N2Zz4K') !important;
  fill: #000000;
  left: 0px !important;
  border-radius: 0px 15px 15px 0px;

}
.swiper-button-next {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNDUxLjg0NiA0NTEuODQ3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NTEuODQ2IDQ1MS44NDc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Zz4KCTxwYXRoIGQ9Ik0zNDUuNDQxLDI0OC4yOTJMMTUxLjE1NCw0NDIuNTczYy0xMi4zNTksMTIuMzY1LTMyLjM5NywxMi4zNjUtNDQuNzUsMGMtMTIuMzU0LTEyLjM1NC0xMi4zNTQtMzIuMzkxLDAtNDQuNzQ0ICAgTDI3OC4zMTgsMjI1LjkyTDEwNi40MDksNTQuMDE3Yy0xMi4zNTQtMTIuMzU5LTEyLjM1NC0zMi4zOTQsMC00NC43NDhjMTIuMzU0LTEyLjM1OSwzMi4zOTEtMTIuMzU5LDQ0Ljc1LDBsMTk0LjI4NywxOTQuMjg0ICAgYzYuMTc3LDYuMTgsOS4yNjIsMTQuMjcxLDkuMjYyLDIyLjM2NkMzNTQuNzA4LDIzNC4wMTgsMzUxLjYxNywyNDIuMTE1LDM0NS40NDEsMjQ4LjI5MnoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiIGZpbGw9IiNGRkZGRkYiLz4KPC9nPjwvZz4gPC9zdmc+Cg==') !important;
  right: 0px !important;
  border-radius: 15px 0px 0px 15px;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}

.img-show {
  width: 100%;
  object-fit: contain;
}

.hire_pack_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.unit_quantity {
  width: 25vw;
}

.flex {
  display: flex;
}

.space {
  height: 50px;
}

.review-star {
  margin-right: 2px;
}

.card-msg {
  color: var(--green);
  margin: 10px 0px;
}

.hidden {
  display: none !important;
}

.see-lev-table {
  color: black;
}

.margin-10px-0 {
  margin: 10px 0;
}

#main_menu {
  position: fixed;
  width: 100%;
  transition: top .4s;
  top: 0;
  z-index: 100;
}

.img-thum img{
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

a.like:hover,
a.unlike:hover {
  color: inherit;
}

.resp_img_show img {
  width: 25vw;
}

.main_container {
  padding-top: 7vh;
  min-height: 99vh;
}

.gig-score-average {
  margin-top: -3px;
  color: var(--yellow);
  font-weight: bold;
  margin-bottom: 0;
}
.gig-score-times {
  color: var(--gray);
  font-size: calc(11px + (14 - 11) * ((100vw - 320px) / (1800 - 320)));
}

/*range input*/
input[type=range].range-pack {
  -webkit-appearance: none;
  width: 100%;
  margin: 10.3px 0;
}
input[type=range].range-pack:focus {
  outline: none;
}
/*chrome*/
input[type=range].range-pack::-webkit-slider-runnable-track { /*bar before move*/
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #D3D3D3;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
}

input[type=range].range-pack:focus::-webkit-slider-runnable-track { /*bar after move*/
   background: #D3D3D3;
 }

input[type=range].range-pack::-webkit-slider-thumb { /*thing that moves*/
  border: .5px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  background: var(--blue);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input.unit_quantity {
  color: var(--blue);
  border: none;
  text-align: center;
  font-weight: 700;
  background-color: var(--light-blue);
}

/*Firefox*/
input[type=range].range-pack::-moz-range-track { /*bar before move*/
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #D3D3D3;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
}
input[type=range].range-pack::-moz-range-thumb { /*thing that moves*/
  border: .5px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  background: #39C27B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

/*IE*/
input[type=range].range-pack::-ms-track { /*bar before move*/
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #D3D3D3;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
}
/* input[type=range].range-pack::-ms-fill-lower {
  background: #39c27b;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].range-pack::-ms-fill-upper {
  background: #39c27b;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
} */
input[type=range].range-pack::-ms-thumb { /*thing that moves*/
  border: .5px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  background: #39C27B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
/* input[type=range].range-pack:focus::-ms-fill-lower {
  background: var(--yellow);
}
input[type=range].range-pack:focus::-ms-fill-upper {
  background: var(--yellow);
} */

.unit_text {
  color: var(--blue);
}

a.disabled {
  /* Make the disabled links grayish*/
  background-color: gray !important;
  /* And disable the pointer events */
  pointer-events: none;
}
a.disabled-by-text {
  /* Make the disabled links grayish*/
  color: gray !important;
  /* And disable the pointer events */
  pointer-events: none;
}
.padd-0 {
  padding: 0;
}
.mar-bot-0 {
  margin-bottom: 0 !important;
}
.mar-top--3 {
  margin-top: -3px;
}
.mar-bot-7 {
  margin-bottom: 7px !important;
}
.height-43 {
  height: 43px;
}
.gig_actions_desktop a i,
.req_actions_desktop a i{
  color: var(--gray);
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.max-w-75 {
  max-width: 75%;
}

.max-w-55 {
  max-width: 55%;
}
.w-25 {
  width: 25%;
}

.review-more {
  color: #505050;
  text-align: center;
  margin-left: auto;
  width: 6%;
}
/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
  border-radius: 50%;
}
.ripple:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}
.ripple:active {
  background-color: gray;
  background-size: 100%;
  transition: background 0s;
}
