/*correct space for stars input */
.rating-input {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

/* position of labels*/
.rating-input > label {

margin-bottom: 0 !important;

padding:0 .1em;

white-space:nowrap;

cursor:pointer;

line-height:1.2;

 }


/*when hover, color the star hovered and all preceeding stars*/
 .rating-input > label:hover svg  {
   fill: currentColor !important;
 }
 .rating-input > label:hover ~ label svg  {
   fill: currentColor !important;
 }
 /*when something is checked, fill all the preceeding stars*/
 .rating-input > input:checked ~ label svg {

   fill: currentColor;
 }



/* The input is radio button on click to buttton will move cursor to different position will remain stay on the same position */

.rating-input:not(:checked) > input {

display: none;

}

/* display error */
.rating-input {
  flex-wrap: wrap-reverse;
}

.rating-input .error {
  width: 100%;
  text-align: center;
}
