/* XL Device :1200px. */
@media (min-width: 1200px) {

  .container {
    min-width: 1200px;
  }

  .gig-profile {
    margin: 8px 0px;
  }

  .gig-query .hearted1,
  .gig-profile .hearted1 {
    top: 45%;
    right: 9%;
  }
  .phone_links i {
    font-size: 30px;
  }

  .authorclick img {
    width: 45px;
    height: 45px;
  }

  .authorclick img {
    width: 50px;
    height: 50px;
  }
  .modal-content, .modal-content-transparent {
    width: 600px;
  }

  .search-form-div i {
    color: #9B9B9B;
    font-size: 21px;
  }

  .hero-darea::after{
    background: url(https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/hero+image.png);
    background-position: top;
    background-size: cover;
    height: 100%;
    content: "";
    right: 135px;
    bottom: -16px;
    width: 35%;
    position: absolute;
  }

  form.search-form .query {
    font-size: 14px;
    padding: 12px 40px;
    background-color: #F4F5F7 !important;
    border: none;
    border-radius: 24px;
    color: #9B9B9B;
    font-weight: 700 !important;
    width: 245px;
  }

  .headertop-location #search_autocomplete {
    color: #9B9B9B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
    border-bottom: 1px dashed #9B9B9B;
  }

  #mobile-logo {
    display: none;
  }

  .search-form-div a {
    position: absolute;
    top: 12px;
    left: 17px;
  }

  .bellposition.page2date a {
    padding-right: 33px;
  }

  .redbell1.page2nick i {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 38px;
  }

  .dandytext .btn {
    font-size: 14px;
  }

  .dandytext img {
    right: 109px;
    top: 6px;
  }

  .dandytext {
    right: 18px;
    top: 2px;
    width: 142px;
  }

  .innerpage3-rightsidetabs .nav-link {
    display: block;
  }

  .hero-darea-img img {
    display: none;
  }

}

@media (min-width: 768px) {
  .servicoteam-wrap {
    display: block !important;
  }
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
  #mobile-logo {
    display: none;
  }
  .phone_links i {
    font-size: 21px;
  }
  .gig-profile {
    margin: 8px 0px;
  }
  .modal-content, .modal-content-transparent {
    width: 500px;
  }
  .gig-query .hearted1,
  .gig-profile .hearted1 {
    top: 41%;
    right: 9%;
  }

  .small-padding {
    padding-top: 5px;
  }

  .authorclick img {
    width: 45px;
    height: 45px;
  }

  .authorclick img {
    width: 42px;
    height: 42px;
  }

  .hero-darea-img img {
    display: none;
  }

  .search-form-div i {
    color: #9B9B9B;
    font-size: 17px;
  }

  form.search-form .query {
    font-size: 14px;
    padding: 7px 33px;
    background-color: #F4F5F7 !important;
    border: none;
    border-radius: 24px;
    color: #9B9B9B;
    font-weight: 700 !important;
    width: 215px;
  }

  .headertop-location #search_autocomplete {
    color: #9B9B9B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
    border-bottom: 1px dashed #9B9B9B;
  }

  .search-form-div a {
    position: absolute;
    top: 7px;
    left: 16px;
  }

  .redbell1 span::after {
    right: -26px;
  }


  .clickred i {
    bottom: 0;
  }

  .starlist li span {
    right: 128px;
  }

  .bellposition.page2date {
    padding-right: 140px;
    margin-top: 3px;
  }

  .bellposition.page2date a i {
    font-size: 14px;
  }

  .redbell1.page2nick i {
    background: #39C27B;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
  }

  .bellposition.page2date a {
    padding-right: 11px;
  }

  .author2 img {
    width: 158px;
    height: 158px;
  }

  .tabbigissue1-total p {
    margin: 0;
    font-size: 13px;
  }

  .activotext h1 {
    font-size: 35px;
  }

  .activotext {
    margin-top: 23px;
  }

  .header-logo.page2logo img {
    width: 110px;
  }

  .search-form-div.page2forms {
    margin-left: 30px;
    width: 253px;
  }

  .search-form-div.page2forms i {
    color: #9B9B9B;
    font-size: 18px;
  }

  .search-form-div.page2forms a {
    position: absolute;
    left: 25px;
    top: 11px;
  }

  .dandytext .btn {
    font-size: 12px;
  }

  .dandytext img {
    right: 100px;
    top: 4px;
  }

  .dandytext {
    right: 0;
    top: 3px;
    width: 135px;
  }

  .innerpage3-rightsidetabs .nav-tabs .nav-link {
    font-size: 15px;
  }

  .mentosdates {
    padding: 0 20px;
  }

  .mentos-title2 {
    margin-top: 8px;
  }

  .header-logo.page3s img {
    width: 84px;
  }

  .headerd-mainmenu ul li {
    padding-left: 2px;
  }

  .maild-form {
    position: relative;
    width: 111%;
    margin-left: 42px;
    z-index: 9;
  }

  .maild-form input {
    width: 100%;
    border: none;
    padding-left: 60px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 2px;
    background: #39C27B;
    color: #fff;
    font-size: 21px;
    font-family: 'Nunito', sans-serif;
  }

  .maild-form .fa-search {
    position: absolute;
    left: 46%;
    margin-left: -164px;
    top: 44%;
    margin-top: -7px;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
  }

  .maild-form::after {
    margin-left: -154px;
  }

  .maild-form .fa-arrow-right {
    position: absolute;
    right: 54%;
    top: 50%;
    margin-right: -191px;
    margin-top: -11px;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
  }

  .herod-leftmenu-wrap {
    margin-top: 16px;
    margin-left: 63px;
  }

  .contactd-content {
    padding: 0 46px;
  }

  .singlemobiled.mobileds.sony {
    padding-right: 101px;
  }

  .mobileds {
    margin-top: 75px;
  }

  .singlemobiled.text-right {
    padding-left: 72px;
  }

  .footerd-social a:last-child {
    margin-right: 0;
  }

  .footerd-social a {
    background: #0067F3;
    color: #000;
    width: 40px;
    display: inline-block;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    margin-right: 12px;
  }

  .maild-form-wraps {
    margin-bottom: 22px;
    margin-left: 24px;
  }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

  .varificado-btn3 {
    right: 10px;
  }
  .catagorisingle-slide i {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    line-height: 90px;
    font-size: 42px;
  }

  .header-logo .headerlogo768 img {
    width: 56px;
  }

  .search-form-div {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
  }

  .maild-form-wraps {
    margin-bottom: 22px;
    margin-left: 24px;
    margin-right: 24px;
  }

  form.search-form .query {
    font-size: 19px;
    padding: 9px 54px;
    background-color: transparent !important;
    border: 1px solid #fff;
    border-radius: 34px;
    color: #9B9B9B;
    font-weight: 700 !important;
    width: 319px;
  }

  .search-form-div a {
    position: absolute;
    top: 50%;
    left: 28px;
    margin-top: -12px;
  }

  .search-form-div i {
    color: #9B9B9B;
    font-size: 24px;
  }

  .headertop-location #search_autocomplete {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    margin-left: 2px;
    border-bottom: 1px dashed #fff;
  }

  .headertop-location i {
    font-size: 23px;
    color: #fff;
  }

  .herodleft-side {
    text-align: center;
  }

  .phone_links {
    display: none;
  }

  .phone_links a {
    display: inline-block;
    text-align: center;
    color: var(--disabled);
    font-weight: 400;
    font-size: 11px;
    padding-left: 12px;
  }

  .phone_links i {
    font-size: 16px;
  }

  .redbell1 span::after {
    position: absolute;
    right: -43px;
    top: 2px;
  }

  .authorclick img {
    width: 35px;
    height: 35px;
  }

  .headerlogo768 {
    display: block;
  }

  .header-toparea {
    background: #39C27B;
  }

  .headerlogo768 img {
    border-radius: 50%;
    width: 44px;
  }

  .bellposition2 {
    text-align: right;
  }

  .bellposition2 a {
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 66px;
    background: #74D4A2;
    border-radius: 50%;
  }

  .bellposition2 i {
    font-size: 31px;
    color: #fff;
  }

  .bellposition2 {
    display: block;
  }

  .bellposition2 span {
    position: relative;
  }

  .bellposition2 span::after {
    position: absolute;
    background: red;
    height: 12px;
    width: 12px;
    content: "";
    border-radius: 50%;
    right: -51px;
    top: 10px;
  }

  .plusarea {
    display: none;
  }

  .phone_links i {
    font-size: 40px;
  }

  .plusred i {
    width: 52px;
    height: 52px;
    line-height: 53px;
    transition: .4s;
  }

  .plusred i:hover {
    color: #0067F4;
  }

  .popular-area.populararea2 {
    margin-bottom: 40px;
  }

  .popular-area.populararea2 {
    margin-bottom: 105px;
  }

  .header-logo {
    display: none;
  }

  .belldropdownarea {
    background: #F4F5F7;
    width: 420px;
    border-radius: 8px;
    position: absolute;
    z-index: 99;
    transition: .4s;
    top: 115px;
    visibility: hidden;
    opacity: 0;
    right: 0;
  }

  .belldropdownarea.activee {
    visibility: visible;
    opacity: 1;
    top: 89px;
  }

  .sameicon i {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    font-size: 35px;
  }


  .clickred i {
    bottom: 0;
  }

  .starlist li span {
    right: 48px;
  }

  .dandytext {
    display: none;
  }

  .headertop-location.page2location {
    display: block;
  }

  .search-form-div.page2forms form input[type="text"] {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 6px 43px;
    width: 247px;
    font-size: 14px;
    color: #fff;
  }

  .search-form-div.page2forms a {
    left: 40px;
    top: 18px;
  }

  .search-form-div.page2forms a i {
    color: #fff;
    font-size: 22px;
  }

  .search-form-div.page2forms {}

  .headertop-location.page2location {
    display: inline-block;
  }

  .headertop-location.page2location i {
    font-size: 23px;
  }

  .headertop-location.page2location a {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    margin-left: 2px;
    border-bottom: 1px dashed #fff;
  }

  .author2total {
    display: none;
  }

  .col-lg-3.padingminus1 {
    padding-left: 15px;
  }

  .catagorislide-area.innerpage-onearea {
    padding-bottom: 110px;
  }

  .innerpage768area {
    display: block;
  }

  .authorlock {
    background: #0067F3;
    width: 100%;
    margin-bottom: 13px;
    text-align: center;
    border-radius: 24px;
    padding: 10px 0;
  }

  .authorlock.authorlock2 {
    background: #9B9B9B;
  }

  .authorlock i {
    color: #fff;
  }

  .authorlock a {
    color: #fff;
  }

  .innerpage768area {
    position: relative;
    padding-top: 65px;
    padding-bottom: 20px;
  }

  .authorinpic {
    position: absolute;
    left: 0;
    top: -33px;
  }

  .authorise-wrap {
    padding-left: 180px;
  }

  .authorisescontent h1 {
    font-size: 26px;
    margin-bottom: 5px;
  }

  .authorisescontent p {
    margin: 0;
  }

  .authorisesstar i {
    color: #F9B731;
    font-size: 22px;
  }

  .authorttest {
    margin-top: 75px;
  }

  .authorttest h3 {
    font-size: 22px;
    color: #4A494A;
    margin: 0;
  }

  .tr {
    color: #4A494A;
  }

  .authorisesstar p {
    color: #0067F3;
  }

  .authorisescontent p {
    color: #9B9A9B;
  }

  .authorlock i {
    padding-right: 4px;
  }

  .fr {
    margin: 0;
  }

  form.search-form input {}

  .search-form-div.page2forms {
    padding: 0;
    border: none;
  }

  .search-form-div.page2forms {
    margin-left: 0px;
  }

  .search-form-div.page2forms {
    width: 298px;
  }

  .search-form-div.searchpage3s input[type="text"] {
    background: transparent;
    border: 1px solid #fff;
    padding: 6px 0;
    width: 275px;
    padding-left: 44px;
    position: relative;
  }

  .search-form-div.searchpage3s a {
    left: 20px;
    position: absolute;
    top: 51%;
  }

  .search-form-div.searchpage3s a i {
    color: #fff;
    font-size: 22px;
  }

  .search-form-div.searchpage3s {
    position: relative;
  }

  .innerpage3-rightsidetabs .nav-tabs .nav-link {
    font-size: 14px;
    color: #9B9B9B;
  }

  .innerpage3-rightsidetabs .nav-link {
    display: block;
  }

  p.limpi1 {
    font-size: 13px;
  }

  .earnlist-mewrapt {
    padding: 9px 6px;
  }

  .check-listpage3 {
    margin-top: 25px;
    padding-left: 15px;
  }

  .mentosdates {
    padding: 0 6px;
  }

  p.datesin {
    font-size: 17px;
  }

  .page3-comment i {
    width: 26px;
    height: 26px;
    line-height: 26px;
  }

  .mentos-title2 h1 {
    font-size: 21px;
  }

  .mentos-title2 {
    margin-top: 14px;
  }

  p.limpi3 {
    font-size: 14px;
  }

  .pacificost-bg {
    height: 310px;
  }

  .verificos-title h3 br {
    display: none;
  }

  .catagorislide-area.innerpages3-area {
    padding-top: 38px;
  }

  .califico-about pre {
    font-size: 14px;
  }

  .catagorislide-area.innerpages3-area {
    padding-bottom: 138px;
  }

  p.loyed2 {
    font-size: 12px;
  }

  .servico-title h3 {
    font-size: 22px;
  }

  .page3-viewmore {
    text-align: right;
  }

  .servico-title span {
    padding-left: 12px;
  }

  .califico-about {
    display: none;
  }

  .califico-about.nulla {
    display: block;
    margin-top: 10px;
    padding: 0 10px;
  }

  .servico-singleteam {
    border-bottom: none;
  }

  .servico-title {
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin-top: 0;
  }

  .page3-viewmore {
    border-bottom: none;
  }

  .servico-wrap {
    border: 1px solid #F2F2F2;
    padding: 10px 13px;
    margin-top: 20px;
  }

  .page3-viewmore {
    padding: 0;
  }

  p.loyed2 br {
    display: none;
  }

  .verificos-title h3 {
    margin: 0;
  }

  .pacificost-bg {
    margin-top: 18px;
  }

  .innerpage-leftsidejata {
    border: 1px solid #F2F2F2;
    padding: 5px 0;
  }

  .verificos-title {
    padding-left: 13px;
    margin-top: 10px;
  }

  .headerd-area {
    padding: 28px 0;
  }

  .hero-darea::after {
    display: none;
  }

  .hero-darea-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .maild-form {
    width: 85%;
    margin-left: 73px;
    z-index: 9;
  }

  .herod-leftmenu-wrap {
    display: none;
  }

  .herodleft-side h1 br {
    display: none;
  }

  .herod-leftcontentwrap {
    margin-top: 48px;
  }

  .singlecontactd-box {
    text-align: left;
    position: relative;
  }

  .contactd-content {
    display: inline-block;
  }

  .contacd-icon {
    display: inline-block;
    position: absolute;
    left: 113px;
    top: 0;
  }

  .contactd-content {
    padding-left: 178px;
    margin-bottom: 30px;
    padding-right: 40px;
  }

  .singlemobiled.text-right {
    padding-left: 0;
  }

  .singlemobiled.mobileds.sony {
    padding-right: 0;
  }

  .mobileds {
    margin-top: 20px;
  }

  .singlemobiled.mobileds.sony.sonyp {
    margin-top: -345px;
    text-align: right;
  }

  .singlemobiled img {
    max-width: 100%;
  }

  .mobileprice {
    right: 3px;
  }

  .footerdarea {
    display: none;
  }

  .footerd2area {
    display: block;
    position: relative;
    padding-top: 54px;
    background: var(--light-gray);
    padding-bottom: 30px;
  }

  .maild-form input {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .footerd2fk a:hover i {
    color: #fff;
  }

  .footerd2fk a i {
    transition: .4s;
  }

  .maingreenbgd {
    margin-bottom: 0px;
  }

  .footerd2social {
    text-align: center;
    width: 100%;
    margin-bottom: 33px;
  }
  .footer-info {
    margin-top: 44px;
  }

  .footerd2fk img {
    border-radius: 50%;
    width: 95px;
    margin-top: -90px;
  }

  .footerd2fk a {
    margin: 15px;
  }

  .footerd2fk i {
    background: var(--blue);
    color: #FFF;
    width: 48px;
    height: 48px;
    border-radius: 500%;
    line-height: 48px;
    text-align: center;
    font-size: 20px;
  }

  .singlefooterdn ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .singlefooterdn ul li {
    padding: 6px 0;
  }

  .singlefooterdn {}

  .singlefooterdn h4 {
    margin-bottom: 3px;
  }

  .greenbgd-area {
    margin-bottom: 90px;
  }

  .maild-form .fa-search {
    margin-left: -260px;
  }

  .maild-form::after {
    height: 23px;
    top: 50%;
    margin-left: -234px;
    margin-top: -12px;
  }

  .maild-form .fa-arrow-right {
    margin-right: -245px;
    margin-top: -11px;
  }

  .contacd-icon i {
    font-size: 35px;
  }


  .search-form-div.page2forms form input[type="text"]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */
  }

  .search-form-div.page2forms form input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
  }

  .search-form-div.page2forms form input[type="text"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
  }

  .contactd-area {
    padding-bottom: 0;
  }

  .todod-bg {
    display: none;
  }

  .todoo1 img {
    width: 100%;
  }

  .todoo1 {
    display: block;
  }

  .todoo1-gg {
    display: none;
  }

  .greend-right a h4 {
    margin-right: 15px;
  }

  .contactd-heading {
    margin: 0 auto;
    margin-bottom: 85px;
    margin-top: 15px;
  }
  .modal-content, .modal-content-transparent {
    width: 400px;
  }
  #profile_tabs a {
    font-size: 14px;
  }
  #mobile-logo {
    display: none;
  }
}

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #main-logo {
    display: none;
  }

  #mobile-logo {
    display: inline;
  }

  .todoo1 img {
    display: none;
  }

  .error-image {
    width: 100%;
  }
  .packages-builder {
    padding-right: 0px;
    padding-left: 0px;
  }
  .servicoteam-wrap {
    display: none;
  }
  #profile_tabs a {
    font-size: 14px;
  }

  .catagorisingle-slide i {
    width: 58px;
    height: 58px;
    line-height: 58px;
    font-size: 32px;
  }


  .todoo1-gg img {
    width: 100%;
  }

  .todod-area {
    padding-bottom: 50px;
  }

  .todod-bg {
    display: none;
  }

  .todoo1 img {
    width: 100%;
  }

  .hero-darea::after {
    display: none;
  }

  .hero-darea-img img {
    max-width: 100%;
    height: auto;
    padding-bottom: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .singlecontactd-box {
    text-align: left;
    position: relative;
  }

  .footerdarea {
    padding: 48px 0;
    display: none;
  }

  .footerd2area {
    display: block;
  }

  img {}

  .footerd2area {
    background: #11151B;
    padding-top: 92px;
    padding-bottom: 15px;
  }

  .footerd2fk img {
    border-radius: 50%;
    width: 58px;
    margin-top: -22px;
    margin-left: -8px;
    margin-right: 64px;

  }

  .footerd2fk a {
    margin: 7px;
  }

  .footerd2fk i {
    background: var(--blue);
    color: #FFF;
    width: 35px;
    height: 35px;
    border-radius: 500%;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
  }

  .singlefooterdn ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .singlefooterdn ul li {
    padding: 1px 0;
  }

  .singlefooterdn {}

  .singlefooterdn h4 {
    margin-bottom: 3px;
  }

  .singlefooterdn {}


  .califico-about.nulla {
    display: none;
  }

  .catagori-title h1 {
    font-size: 31px;
    margin-bottom: 30px;
    text-align: center;
  }
  .headerlogo768 {
    display: block;
  }

  .header-toparea {
    background: #39C27B;
  }

  .headerlogo768 img {
    border-radius: 50%;
    width: 44px;
  }

  .bellposition2 {
    text-align: right;
  }

  .bellposition2 a {
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 55px;
    background: #74D4A2;
    border-radius: 50%;
  }

  .bellposition2 i {
    font-size: 24px;
    color: #fff;
  }

  .bellposition2 {
    display: block;
  }

  .bellposition2 span {
    position: relative;
  }

  .bellposition2 span::after {
    position: absolute;
    background: red;
    height: 12px;
    width: 12px;
    content: "";
    border-radius: 50%;
    right: -41px;
    top: 8px;
  }

  .headertop-location.ex a {
    color: #fff;
    border-color: #fff;
  }

  .headertop-location.ex i {
    color: #fff;
  }

  .plusarea {
    display: none;
  }

  .phone_links i {
    font-size: 20px;
  }

  .plusred i {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .redbell1 span::after {
    position: absolute;
    right: -26px;
    top: 6px;
    content: "";
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
  }

  .phone_links {
    display: none;
  }

  .header-toparea {
    border: none;
  }

  .headertop-location {
    display: none;
  }

  .bellposition2 {
    display: none;
  }

  .headertop-location.ex {
    display: block;
    margin-top: 10px;
  }

  .bellposition2.ex {
    display: block;
  }

  .headertop-left {
    width: 100%;
  }

  form.search-form input[type="text"] {
    width: 100%;
  }

  .search-form-div {
    margin-left: 0;
    width: 100%;
  }

  .headertop {
    display: block;
    margin-top: 20px;
  }

  .header-logo {
    display: none;
  }

  .sameicon i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #fff;
    font-size: 25px;
  }

  .belldropdownarea.activee {
    visibility: visible;
    opacity: 1;
    top: 88px;
  }

  .belldropdownarea {
    background: #F4F5F7;
    width: 295px;
    border-radius: 8px;
    position: absolute;
    z-index: 99;
    transition: .4s;
    top: 115px;
    visibility: hidden;
    opacity: 0;
    right: 5%;
  }

  p.quam1 {
    margin: 0;
    color: #202020;
    font-size: 12px;
  }

  .timer span {
    color: #000;
    font-size: 14px;
  }

  .timer {
    right: 11px;
    top: 15px;
  }

  .single-request {
    background: #F4F5F7;
    border-radius: 6px;
  }

  .popular-area.populararea2 {
    padding-bottom: 115px;
  }

  .clickred i {
    bottom: 0px;
  }

  .dandytext {
    display: none;
  }

  .search-form-div.page2forms {
    padding-left: 0;
  }

  .search-form-div.page2forms form input[type="text"] {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 6px 42px;
    width: 100%;
    color: #fff;
    font-size: 16px;
  }

  .search-form-div.page2forms a {
    left: 20px;
    top: 9px;
  }

  .search-form-div.page2forms i {
    color: #fff;
    font-size: 17px;
  }

  .rightsidetab-content .nav-link {
    display: block;
    padding: 11px 10px;
  }

  .rightsidetab-content #myTab a {
    font-size: 15px;
  }

  .coa2 {
    font-size: 12px;
  }

  .author2total {
    text-align: center;
  }

  .catagorislide-area.innerpage-onearea {
    padding-bottom: 105px;
  }

  .col-lg-3.col-md-3.col-2.padingminus1 {
    padding: 0;
  }

  .maintabroll3 {
    margin-top: 27px;
    margin-bottom: 10px;
  }

  .search-form-div.page2forms {
    margin-right: 0;
    padding: 0;
    border: none;
  }

  .inner-comment a
  .inner-comment button {
    width: 125px;
    padding: 7px 0;
  }

  .reportar-btn a {
    width: 125px;
    padding: 7px 0;
  }

  .activotext h1 {
    font-size: 34px;
  }

  .activotext {
    margin-top: 23px;
  }

  .search-form-div.page2forms form input[type="text"]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */
  }

  .search-form-div.page2forms form input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
  }

  .search-form-div.page2forms form input[type="text"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
  }

  .search-form-div.page2forms {
    margin-left: 0;
    width: 100%;
  }

  .activotext p {
    color: #4A4A4A;
    margin-bottom: 5px;
  }

  .header-toparea {
    display: none;
  }

  .innerpage3-rightsidetabs .nav-tabs .nav-link {
    font-size: 16px;
  }


  .servico-title h3 {
    font-size: 20px;
  }

  .califico-about pre {
    font-size: 13px;
  }

  .pacificost-bg {
    height: 230px;
    margin-top: 0;
  }

  .verificos-title h3 br {
    display: none;
  }

  .mentos-areapag3 {
    display: none;
  }


  .verificos-title {
    display: none;
  }

  .varificado-btn3 {
    right: 10px;
    bottom: 10px;
  }

  .varificado-btn3 a {
    width: 96px;
    padding: 4px 0;
    font-size: 10px;
  }

  .califico-about {
    margin-top: 0;
    display: none;
  }

  .page3-btn {
    text-align: center;
  }

  .servico-title {
    margin-top: 0;
    position: relative;
  }

  .servico-wrap {
    margin-top: 8px;
    margin-bottom: 36px;
  }

  .innerpage3-rightsidetabs.milga {
    display: block;
    margin-top: 8px;
  }

  .check-listpage3 {
    margin-top: 18px;
    padding-left: 15px;
  }

  p.limpi2 {
    display: inline-block;
    padding-left: 20px;
    float: right;
  }

  p.limpi1 {
    font-weight: 700;
    display: inline-block;
  }

  p.limpi2 sub {
    bottom: 0;
  }

  .page3-viewmore {
    display: none;
  }

  .servico-title a i {
    color: #7F7F7F;
    font-size: 15px;
    font-weight: 700;
    padding-left: 11px;
  }

  .doopli {
    position: absolute;
    right: 0;
    top: 18px;
  }

  .doopli {
    display: block;
  }

  .servico-title i {
    padding: 0px 5px;
  }

  .servico-title span {
    padding-left: 3px;
  }

  .arroweee {
    display: block;
  }

  .perfil-area {
    display: block;
  }

  .sedcontent-wrap {
    display: block;
    overflow: hidden;
  }

  .innerpage3-rightsidetabs.tab-two {
    display: block;
  }

  .innerpage3-rightsidetabs {
    display: none;
  }

  .maild-form input {
    width: 100%;
    border: none;
    padding-left: 41px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 2px;
    background: #39C27B;
    color: #fff;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
  }

  .maild-form .fa-search {
    position: absolute;
    left: 44%;
    margin-left: -134px;
    top: 50%;
    margin-top: -9px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
  }

  .maild-form .fa-arrow-right {
    position: absolute;
    right: 50%;
    top: 50%;
    margin-right: -128px;
    margin-top: -7px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }

  .maild-form::after {
    position: absolute;
    content: "";
    background: #fff;
    height: 19px;
    width: 3px;
    left: 44%;
    top: 50%;
    z-index: 9999;
    margin-left: -112px;
    margin-top: -9px;
  }

  .herod-leftcontentwrap {
    margin-top: 0;
  }

  .contacd-icon {
    position: absolute;
    left: 0;
    top: 6px;
  }

  .herod-leftmenu-wrap {
    margin-top: 5px;
    margin-left: 0;
  }

  .hero-darea {
    position: relative;
  }

  .herodleft-side {
    padding-top: 50px;
    padding-right: 0px;
  }

  .herodleft-side h1 {
    text-align: center;
  }

  .herodleft-side p {
    text-align: center;
  }

  .herod-leftmenu-wrap ul li a {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #000;
  }

  .herod-leftmenu-wrap ul li {
    display: inline-block;
    padding-right: 9px;
  }

  .contactd-area {
    padding: 32px 0;
  }

  .todoo1 {
    display: block;
  }

  .todoo1-gg {
    display: block;
  }

  .singlemobiled.text-center {
    position: inherit;
  }
  .singlemobiled img{
    max-width: 185px;
  }

  .mobileprice {
    display: none;
  }

  .contactd-heading {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 33px;
  }

  .contactd-content {
    padding-left: 72px;
    padding-right: 0;
  }

  .singlemobiled.text-right {
    padding-left: 0;
  }

  .mobileds {
    margin-top: 0px;
  }

  .text-right {}

  .singlemobiled.mobileds.sony {
    padding-right: 0;
  }

  .singlemobiled.mobileds.sony.sonyp {
    text-align: right;
  }

  .greenbgd-area {
    margin-bottom: 38px;
  }

  .greend-right {
    text-align: center;
    margin-top: 4px;
  }

  .mobiled-area {
    padding-bottom: 65px;
    position: relative;
    overflow: hidden;
  }

  .oferta {
    display: none;
  }

  .maingreenbgd {
    padding: 24px 0;
  }

  .greend-right a h4 {
    margin: 0;
  }

  .ready_to {
    justify-content: center;
    display: block;
    align-items: normal;
    text-align: center;
  }

  /*.footerd2area::after {
    position: absolute;
    background: #FFFFFF;
    content: "";
    height: 181px;
    top: -87px;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  */

  .footerd2area {
    display: block;
    position: relative;
    padding-top: 40px;
    background: #F7F7F7;
    position: relative;
    padding-bottom: 22px;
  }

  .greenbgd-area {
    margin-bottom: 0px;
  }

  .footerd2social {
    text-align: center;
    width: 100%;
  }
  .footer-info {
    margin-top: 54px;
  }

  .singlefooterdn {
    margin-top: -10px;
  }

  .footerd2fk a:hover i {
    color: #fff;
  }

  .footerd2fk a i {
    transition: .4s;
  }

  .headerd-area {
    padding: 8px 0;
  }

  .headerd-area .meanmenu-reveal {
    right: -9px !important;
  }

  .maild-form {
    position: relative;
    width: 100%;
    margin-left: 0;
    z-index: 9;
  }

  .rindobox input {
    width: 100%;
    padding-left: 50px;
    background: #39C27B;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
  }

  .rindobox {
    width: 100%;
    position: relative;
  }

  .rindobox .fa-arrow-right {
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -8px;
    margin-right: -134px;
    color: #fff;
    cursor: pointer;
  }

  .rindobox .fa-search {
    position: absolute;
    left: 50%;
    margin-left: -137px;
    top: 50%;
    margin-top: -7px;
    color: #fff;
    cursor: pointer;
  }

  .maild-form-wraps {
    margin-bottom: 22px;
    margin-left: 0;
  }
  .headerd-mainmenu ul li {
    padding-left: 6px;
  }
  .headerlogo768 img {
    display: block
  }
  .headerlogo img {
    display: none;
  }

}
/*mobile menu*/
@media only screen and (min-width: 320px) and (max-width: 991px) {

  .phone-bottom-menu {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 100%;
    background: #F4F5F7;
    box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.1);
  }
  /*dont display menu in front of bottom content*/
  .main_container{
    margin-bottom: 4vh;
  }

  .phone_links a {
    padding: 8px 0;
  }
  .plusred i {
    background: var(--green);
    color: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 24px rgba(57,194,123,0.5);
  }
  .phone_links a {
    color: #9B9B9B;
  }
  .phone_links{
    display: flex;
  }
  /*search*/
  .gig-query .gig-query-content,
  .gig-profile .gig-query-content {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .gig-query .hearted1,
  .gig-profile .hearted1 {
    bottom: 2%;
    left: 5%;
  }
}

@media (max-width: 1200px) {
  .search-form .filters{
    padding-left: 0;
  }
  form.search-form {
    display: block;
  }
  div.form {
    width: auto;
  }

  /*search results*/
  .gig-query .gig-image-profile img,
  .gig-profile .gig-image-profile img {
    border-radius: 0;
  }

}


@media only screen and (min-width: 320px) and (max-width: 479px) {

  p.verified{
    top: 68px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 350px) {

  .gig-req-carousel .hearted1 {
    top: 28%;
    right: 10px;
  }
}

@media only screen and (min-width: 351px) and (max-width: 480px) {

  .gig-req-carousel .hearted1 {
    top: 32%;
    right: 10px;
  }
}
