/* XL Device :1200px. */
@media (min-width: 1200px) {
  .bellposition i {
    font-size: 30px;
  }

  .authorclick img {
    width: 45px;
  }

  .bellposition a {
    font-size: 14px;
    padding-left: 27px;
  }

  .bellposition {
    padding-right: 53px;
  }

  .authorclick img {
    width: 42px;
  }

  .bellposition a {
    display: inline-block;
    text-align: center;
    color: #9B9B9B;
    font-weight: 400;
    font-size: 12px;
    padding-left: 40px;
  }

  .bellposition a:last-child {
    padding-left: 0;
  }

  .header-logo img {
    width: 130px;
  }

  .search-form-div i {
    color: #9B9B9B;
    font-size: 21px;
  }

  form.search-form .query {
    font-size: 14px;
    padding: 12px 40px;
    background-color: #F4F5F7 !important;
    border: none;
    border-radius: 24px;
    color: #9B9B9B;
    font-weight: 700 !important;
    width: 245px;
  }

  .headertop-location #search_autocomplete {
    color: #9B9B9B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
    border-bottom: 1px dashed #9B9B9B;
  }

  .search-form-div a {
    position: absolute;
    top: 12px;
    left: 17px;
  }

  .bellposition.page2date a {
    padding-right: 33px;
  }

  .redbell1.page2nick i {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 38px;
  }

  .dandytext .btn {
    font-size: 14px;
  }

  .dandytext img {
    right: 109px;
    top: 6px;
  }

  .dandytext {
    right: 18px;
    top: 2px;
    width: 142px;
  }

  .innerpage3-rightsidetabs .nav-link {
    display: block;
    margin-right: 15px;
  }
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
  .bellposition i {
    font-size: 21px;
  }

  .authorclick img {
    width: 45px;
  }

  .bellposition a {
    font-size: 14px;
    padding-left: 27px;
  }

  .bellposition {
    padding-right: 53px;
  }

  .authorclick img {
    width: 42px;
  }

  .bellposition a {
    display: inline-block;
    text-align: center;
    color: #9B9B9B;
    font-weight: 400;
    font-size: 12px;
    padding-left: 27px;
  }

  .header-logo img {
    width: 70px;
  }

  .search-form-div i {
    color: #9B9B9B;
    font-size: 17px;
  }

  form.search-form .query {
    font-size: 14px;
    padding: 7px 33px;
    background-color: #F4F5F7 !important;
    border: none;
    border-radius: 24px;
    color: #9B9B9B;
    font-weight: 700 !important;
    width: 215px;
  }

  .headertop-location #search_autocomplete {
    color: #9B9B9B;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
    border-bottom: 1px dashed #9B9B9B;
  }

  .search-form-div a {
    position: absolute;
    top: 7px;
    left: 16px;
  }

  .redbell1 span::after {
    right: -26px;
  }


  .clickred i {
    bottom: 0;
  }

  .starlist li span {
    right: 128px;
  }

  .total-popularslide .owl-nav .owl-next {
    left: auto;
    right: -24px;
  }

  .ultimoslide-wrap .owl-nav div i {
    padding-left: 11px;
  }

  .ultimoslide-wrap .owl-nav .owl-next {
    left: auto;
    right: -24px;
  }

  .bellposition.page2date {
    padding-right: 140px;
    margin-top: 3px;
  }

  .bellposition.page2date a i {
    font-size: 14px;
  }

  .redbell1.page2nick i {
    background: #39C27B;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
  }

  .bellposition.page2date a {
    padding-right: 11px;
  }

  .author2 img {
    width: 158px;
  }

  .tabbigissue1-total p {
    margin: 0;
    font-size: 13px;
  }

  .activotext h1 {
    font-size: 35px;
  }

  .activotext {
    margin-top: 23px;
  }

  .rightsidetab-content a#profile-tab {
    text-align: right;
    margin-left: 255px;
  }

  .header-logo.page2logo img {
    width: 110px;
  }

  .search-form-div.page2forms {
    margin-left: 30px;
    width: 253px;
  }

  .search-form-div.page2forms i {
    color: #9B9B9B;
    font-size: 18px;
  }

  .search-form-div.page2forms a {
    position: absolute;
    left: 25px;
    top: 11px;
  }

  .dandytext .btn {
    font-size: 12px;
  }

  .dandytext img {
    right: 100px;
    top: 4px;
  }

  .dandytext {
    right: 0;
    top: 3px;
    width: 135px;
  }

  .innerpage3-rightsidetabs .nav-tabs .nav-link {
    font-size: 15px;
  }

  .innerpage3-rightsidetabs .nav-link {
    margin-right: 5px;
  }

  .mentosdates {
    padding: 0 20px;
  }

  .mentos-title2 {
    margin-top: 8px;
  }

  .page3slides-wrapd .owl-nav div {
    margin-top: -92px;
  }

  .header-logo.page3s img {
    width: 84px;
  }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

  .varificado-btn3 {
    right: 10px;
    top: 76%;
  }
  .catagorisingle-slide i {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    line-height: 115px;
    font-size: 42px;
  }

  .header-logo img {
    width: 56px;
  }

  .search-form-div {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
  }

  form.search-form .query {
    font-size: 19px;
    padding: 9px 54px;
    background-color: transparent !important;
    border: 1px solid #fff;
    border-radius: 34px;
    color: #9B9B9B;
    font-weight: 700 !important;
    width: 319px;
  }

  .search-form-div a {
    position: absolute;
    top: 50%;
    left: 28px;
    margin-top: -12px;
  }

  .search-form-div i {
    color: #9B9B9B;
    font-size: 24px;
  }

  .headertop-location #search_autocomplete {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    margin-left: 2px;
    border-bottom: 1px dashed #fff;
  }

  .headertop-location i {
    font-size: 23px;
    color: #fff;
  }

  .bellposition {
    display: none;
  }

  .bellposition a {
    display: inline-block;
    text-align: center;
    color: #9B9B9B;
    font-weight: 400;
    font-size: 11px;
    padding-left: 12px;
  }

  .bellposition i {
    font-size: 16px;
  }

  .redbell1 span::after {
    position: absolute;
    right: -43px;
    top: 2px;
  }

  .authorclick img {
    width: 35px;
  }

  .headerlogo768 {
    display: block;
    display: inline-block;
  }

  .header-toparea {
    background: #39C27B;
  }

  .headerlogo768 img {
    border-radius: 50%;
    width: 65px;
  }

  .bellposition2 {
    text-align: right;
  }

  .bellposition2 a {
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 66px;
    background: #74D4A2;
    border-radius: 50%;
  }

  .bellposition2 i {
    font-size: 31px;
    color: #fff;
  }

  .bellposition2 {
    display: block;
  }

  .bellposition2 span {
    position: relative;
  }

  .bellposition2 span::after {
    position: absolute;
    background: red;
    height: 12px;
    width: 12px;
    content: "";
    border-radius: 50%;
    right: -51px;
    top: 10px;
  }

  .phone-bottom-menu {
    display: block;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 100%;
    background: #F4F5F7;
  }

  .bellposition.bellpositionblock {
    display: block;
    padding-right: 0;
  }

  .bellposition.bellpositionblock {}

  .plusarea {
    display: none;
  }

  .bellposition.bellpositionblock a {
    margin: 0px 40px;
    padding-left: 0;
  }

  .bellposition.bellpositionblock {
    display: block;
    padding-right: 0;
    text-align: center;
  }

  .bellposition.bellpositionblock i {
    font-size: 40px;
  }

  .plusred i {
    position: absolute;
    bottom: 2px;
    background: #39C27B;
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 53px;
    border-radius: 50%;
    left: -24px;
    color: #fff;
    transition: .4s;
  }

  .plusred i:hover {
    color: #0067F4;
  }

  .plusred {
    position: relative;
  }

  .popular-area.populararea2 {
    margin-bottom: 40px;
  }

  .popular-area.populararea2 {
    margin-bottom: 105px;
  }

  .header-logo {
    display: none;
  }

  .belldropdownarea {
    background: #F4F5F7;
    width: 420px;
    border-radius: 8px;
    position: absolute;
    z-index: 99;
    transition: .4s;
    top: 115px;
    visibility: hidden;
    opacity: 0;
    right: 0;
  }

  .belldropdownarea.activee {
    visibility: visible;
    opacity: 1;
    top: 89px;
  }

  .sameicon i {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #fff;
    font-size: 35px;
  }

  .belldropdown-text {
    padding-left: 70px;
    padding-right: 13px;
  }

  p.greensbold {
    font-family: ;
    color: #202020;
    font-size: 19px;
    margin: 0;
  }

  .clickred i {
    bottom: 0;
  }

  .starlist li span {
    right: 48px;
  }

  .dandytext {
    display: none;
  }

  .headertop-location.page2location {
    display: block;
  }

  .search-form-div.page2forms form input[type="text"] {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 6px 43px;
    width: 247px;
    font-size: 14px;
    color: #fff;
  }

  .search-form-div.page2forms a {
    left: 40px;
    top: 18px;
  }

  .search-form-div.page2forms a i {
    color: #fff;
    font-size: 22px;
  }

  .search-form-div.page2forms {}

  .headertop-location.page2location {
    display: inline-block;
  }

  .headertop-location.page2location i {
    font-size: 23px;
  }

  .headertop-location.page2location a {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    margin-left: 2px;
    border-bottom: 1px dashed #fff;
  }

  .author2total {
    display: none;
  }

  .col-lg-3.padingminus1 {
    padding-left: 15px;
  }

  .catagorislide-area.innerpage-onearea {
    padding-bottom: 110px;
  }

  .innerpage768area {
    display: block;
  }

  .authorlock {
    background: #0067F3;
    width: 100%;
    margin-bottom: 13px;
    text-align: center;
    border-radius: 24px;
    padding: 10px 0;
  }

  .authorlock.authorlock2 {
    background: #9B9B9B;
  }

  .authorlock i {
    color: #fff;
  }

  .authorlock a {
    color: #fff;
  }

  .innerpage768area {
    position: relative;
    padding-top: 65px;
    padding-bottom: 20px;
  }

  .authorinpic {
    position: absolute;
    left: 0;
    top: -33px;
  }

  .authorise-wrap {
    padding-left: 180px;
  }

  .authorisescontent h1 {
    font-size: 26px;
    margin-bottom: 5px;
  }

  .authorisescontent p {
    margin: 0;
  }

  .authorisesstar i {
    color: #F9B731;
    font-size: 22px;
  }

  .authorttest {
    margin-top: 75px;
  }

  .authorttest h3 {
    font-size: 22px;
    color: #4A494A;
    margin: 0;
  }

  .tr {
    color: #4A494A;
  }

  .authorisesstar p {
    color: #0067F3;
  }

  .authorisescontent p {
    color: #9B9A9B;
  }

  .authorlock i {
    padding-right: 4px;
  }

  .fr {
    margin: 0;
  }

  form.search-form input {}

  .search-form-div.page2forms {
    padding: 0;
    border: none;
  }

  .search-form-div.page2forms {
    margin-left: 0px;
  }

  .search-form-div.page2forms {
    width: 298px;
  }



  .search-form-div.searchpage3s a {
    left: 20px;
    position: absolute;
    top: 51%;
  }

  .search-form-div.searchpage3s a i {
    color: #fff;
    font-size: 22px;
  }

  .search-form-div.searchpage3s {
    position: relative;
  }

  .innerpage3-rightsidetabs .nav-tabs .nav-link {
    font-size: 14px;
    color: #9B9B9B;
  }

  .innerpage3-rightsidetabs .nav-link {
    display: block;
    margin-right: 0;
  }

  p.limpi1 {
    font-size: 13px;
  }

  .earnlist-mewrapt {
    padding: 9px 6px;
  }

  .check-listpage3 {
    margin-top: 25px;
    padding-left: 15px;
  }

  .mentosdates {
    padding: 0 6px;
  }

  p.datesin {
    font-size: 17px;
  }

  .page3-comment i {
    width: 26px;
    height: 26px;
    line-height: 26px;
  }

  .mentos-title2 h1 {
    font-size: 21px;
  }

  .mentos-title2 {
    margin-top: 14px;
  }

  p.limpi3 {
    font-size: 14px;
  }

  .verificos-title h3 br {
    display: none;
  }

  .verificos-title h3 {
    font-size: 24px;
  }

  .catagorislide-area.innerpages3-area {
    padding-top: 38px;
  }

  .califico-about p {
    font-size: 14px;
  }

  .catagorislide-area.innerpages3-area {
    padding-bottom: 138px;
  }

  p.cold2 {
    font-size: 12px;
    line-height: 16px;
  }

  p.loyed2 {
    font-size: 12px;
  }

  .page3slide-titles1 h3 {
    font-size: 24px;
  }

  .servico-title h3 {
    font-size: 22px;
  }

  .page3-viewmore {
    text-align: right;
  }

  .servico-title span {
    padding-left: 12px;
  }

  .califico-about {
    display: none;
  }

  .califico-about.nulla {
    display: block;
    margin-top: 10px;
    padding: 0 10px;
  }

  .servico-singleteam {
    border-bottom: none;
  }

  .servico-title {
    border-top: none;
    border-bottom: none;
    padding: 0;
    margin-top: 0;
  }

  .page3-viewmore {
    border-bottom: none;
  }

  .servico-wrap {
    border: 1px solid #F2F2F2;
    padding: 10px 13px;
    margin-top: 20px;
  }

  .page3-viewmore {
    padding: 0;
  }

  p.loyed2 br {
    display: none;
  }

  .page3slides-contentrd p {
    font-size: 12px;
  }

  .verificos-title h3 {
    margin: 0;
  }

  .innerpage-leftsidejata {
    border: 1px solid #F2F2F2;
    padding: 5px 0;
  }

  .verificos-title {
    padding-left: 13px;
    margin-top: 10px;
  }

  .page3slides-wrapd .owl-nav div i {
    font-size: 20px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding-left: 9px;
  }

  .page3slides-wrapd .owl-nav div {
    position: absolute;
    left: -16px;
  }

  .page3slides-wrapd .owl-nav .owl-next {
    right: -15px;
  }

  form input[type="text"]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */
  }

  form input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
  }

  form input[type="text"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
  }
}

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  form input[type="text"]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */
  }

  form input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
  }

  form input[type="text"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
  }

  .califico-about.nulla {
    display: none;
  }

  .page3slides-wrapd .owl-nav div i {
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding-left: 7px;
  }

  p.cold2 {
    font-size: 11px;
  }

  .page3slides-contentrd p {
    font-size: 11px;
  }

  .catagorisingle-slide i {
    width: 115px;
    height: 115px;
    line-height: 120px;
    font-size: 50px;
  }

  .catagori-title h1 {
    font-size: 31px;
    margin-bottom: 30px;
    text-align: center;
  }

  .total-popularslide .owl-nav div {
    position: absolute;
    left: -13px;
    bottom: 70%;
  }

  .total-popularslide .owl-nav .owl-next {
    left: auto;
    right: -8px;
  }

  .ultimoslide-wrap .owl-nav div {
    left: -13px;
  }

  .ultimoslide-wrap .owl-nav .owl-next {
    right: -9px;
  }

  .headerlogo768 {
    display: block;
    display: inline-block;
  }

  .header-toparea {
    background: #39C27B;
  }

  .headerlogo768 img {
    border-radius: 50%;
    width: 66px;
  }

  .bellposition2 {
    text-align: right;
  }

  .bellposition2 a {
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 55px;
    background: #74D4A2;
    border-radius: 50%;
  }

  .bellposition2 i {
    font-size: 24px;
    color: #fff;
  }

  .bellposition2 {
    display: block;
  }

  .bellposition2 span {
    position: relative;
  }

  .bellposition2 span::after {
    position: absolute;
    background: red;
    height: 12px;
    width: 12px;
    content: "";
    border-radius: 50%;
    right: -41px;
    top: 8px;
  }

  .headertop-location.ex a {
    color: #fff;
    border-color: #fff;
  }

  .headertop-location.ex i {
    color: #fff;
  }

  .phone-bottom-menu {
    display: block;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 100%;
    background: #F4F5F7;
  }

  .bellposition.bellpositionblock {
    display: block;
    padding-right: 0;
  }

  .bellposition.bellpositionblock {}

  .plusarea {
    display: none;
  }

  .bellposition.bellpositionblock a {
    margin: 0px;
    padding-left: 22px;
    font-size: 11px;
  }

  .bellposition.bellpositionblock {
    display: block;
    padding-right: 0;
    text-align: center;
  }

  .bellposition.bellpositionblock i {
    font-size: 22px;
  }

  .plusred i {
    position: absolute;
    bottom: 4px;
    background: #39C27B;
    width: 37px;
    height: 36px;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    left: 4px;
    color: #fff;
  }

  .plusred {
    position: relative;
  }

  .redbell1 span::after {
    position: absolute;
    right: -26px;
    top: 6px;
    content: "";
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
  }

  .headerlogo768 {
    display: none;
  }

  .bellposition {
    display: none;
  }

  .header-toparea {
    border: none;
  }

  .headertop-location {
    display: none;
  }

  .bellposition2 {
    display: none;
  }

  .headertop-location.ex {
    display: block;
    margin-top: 10px;
  }

  .bellposition2.ex {
    display: block;
  }

  .headertop-left {
    width: 100%;
  }

  form.search-form input[type="text"] {
    width: 100%;
  }

  .search-form-div {
    margin-left: 0;
    width: 100%;
  }

  .headertop {
    display: block;
    margin-top: 20px;
  }

  .bellposition.bellpositionblock a:first-child {
    padding-left: 0;
  }

  .header-logo {
    display: none;
  }

  .sameicon i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #fff;
    font-size: 25px;
  }

  .belldropdown-text {
    padding-left: 38px;
    padding-right: 13px;
  }

  p.greensbold {
    font-family: ;
    color: #202020;
    font-size: 13px;
    margin: 0;
  }

  .belldropdownarea.activee {
    visibility: visible;
    opacity: 1;
    top: 88px;
  }

  .belldropdownarea {
    background: #F4F5F7;
    width: 295px;
    border-radius: 8px;
    position: absolute;
    z-index: 99;
    transition: .4s;
    top: 115px;
    visibility: hidden;
    opacity: 0;
    right: 5%;
  }

  p.quam1 {
    margin: 0;
    color: #202020;
    font-size: 12px;
  }

  .timer span {
    color: #000;
    font-size: 14px;
  }

  .timer {
    right: 11px;
    top: 15px;
  }

  p.COAH2 {
    color: #000;
    font-size: 15px;
    margin-bottom: 6px !important;
    font-family: ;
  }

  .ultimo-singleslide {
    background: #F4F5F7;
    padding: 23px 40px;
    border-radius: 6px;
  }

  .popular-area.populararea2 {
    padding-bottom: 115px;
  }

  .clickred i {
    bottom: 0px;
  }

  .dandytext {
    display: none;
  }

  .search-form-div.page2forms {
    padding-left: 0;
  }

  .search-form-div.page2forms form input[type="text"] {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 6px 42px;
    width: 100%;
    color: #fff;
    font-size: 16px;
  }

  .search-form-div.page2forms a {
    left: 20px;
    top: 9px;
  }

  .search-form-div.page2forms i {
    color: #fff;
    font-size: 17px;
  }

  .rightsidetab-content a#profile-tab {
    text-align: right;
    margin-left: 57px;
  }

  .container.for1160width {
    width: 100%;
  }

  .coa2 {
    font-size: 12px;
  }

  .author2total {
    text-align: center;
  }

  .catagorislide-area.innerpage-onearea {
    padding-bottom: 105px;
  }

  .col-lg-3.col-md-3.col-2.padingminus1 {
    padding: 0;
  }

  .maintabroll3 {
    margin-top: 27px;
    margin-bottom: 10px;
  }

  .search-form-div.page2forms {
    margin-right: 0;
  }

  .search-form-div.page2forms {
    padding: 0;
    border: none;
  }

  .search-form-div.page2forms form input[type="text"]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */
  }

  .search-form-div.page2forms form input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
  }

  .search-form-div.page2forms form input[type="text"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
  }

  .search-form-div.page2forms {
    margin-left: 0;
    width: 100%;
  }

  .activotext p {
    color: #4A4A4A;
    margin-bottom: 5px;
  }

  .header-toparea {
    display: none;
  }

  .innerpage3-rightsidetabs .nav-link {
    margin-right: 14px;
  }

  .innerpage3-rightsidetabs .nav-tabs .nav-link {
    font-size: 13px;
  }

  .page3slides-wrapd .owl-nav div {
    left: -11px;
    margin-top: -75px;
  }

  .page3slides-wrapd .owl-nav .owl-next {
    right: -8px;
  }

  .servico-title h3 {
    font-size: 20px;
  }

  .califico-about p {
    font-size: 13px;
  }

  .verificos-title h3 br {
    display: none;
  }

  .verificos-title h3 {
    font-size: 22px;
  }

  .mentos-areapag3 {
    display: none;
  }

  .catagorislide-area.innerpages3-area {
    padding-bottom: 120px;
    padding-top: 0;
  }

  .verificos-title {
    display: none;
  }

  .pacificobg-socialicon {
    right: 10px;
    top: 10px;
  }

  .varificado-btn3 {
    right: 10px;
    top: 78%;
  }

  .varificado-btn3 a {
    width: 96px;
    padding: 4px 0;
    font-size: 10px;
  }

  .califico-about {
    margin-top: 0;
    display: none;
  }

  .page3-btn {
    text-align: center;
  }

  .page3-btn a {
    width: 50%;
  }

  .servico-title {
    margin-top: 0;
    position: relative;
  }

  .servico-wrap {
    margin-top: 8px;
  }

  .innerpage3-rightsidetabs.milga {
    display: block;
    margin-top: 8px;
  }

  .check-listpage3 {
    margin-top: 18px;
    padding-left: 15px;
  }

  p.limpi2 {
    display: inline-block;
    padding-left: 20px;
    font-size: 12px;
  }

  p.limpi1 {
    font-size: 12px;
    display: inline-block;
  }

  p.limpi2 sub {
    font-size: 7px;
  }

  .page3-viewmore {
    display: none;
  }

  .servico-title a i {
    color: #7F7F7F;
    font-size: 15px;
    font-weight: 700;
    padding-left: 11px;
  }

  .doopli {
    position: absolute;
    right: 0;
    top: 18px;
  }

  .doopli {
    display: block;
  }

  .servico-title i {
    padding-left: 3px;
  }

  .servico-title span {
    padding-left: 3px;
  }

  .page3slide-titles1 h3 {
    font-size: 22px;
  }

  .arroweee {
    display: block;
  }

  .arroweee {
    position: absolute;
    left: 12px;
    top: 10px;
  }

  .servicoteam-wrap {
    display: none;
  }

  .perfil-area {
    display: block;
  }

  .sedcontent-wrap {
    display: block;
    overflow: hidden;
  }

  .innerpage3-rightsidetabs.tab-two {
    display: block;
  }

  .innerpage3-rightsidetabs {
    display: none;
  }
}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {}
