<a href="<%= request_path(request) %>">
<div class="single-request">
  <div class="req_info">
    <p class="req_location truncate"><%= request.location%></p>
    <p class="req_title multi-line-truncate-3 min-height-66px"><%= request.title %></p>
  </div>
  <div class="req_budget">
    <p class="COAH3"><%= request.budget %> MXN</p>
  </div>
</div>
</a>
