<div class="swiper-slide">
  <a href="<%= request_path(request) %>">
    <div class="single-request">
      <div class="req_info">
        <h6 class="req_location truncate"><%= prof_or_loc request%></h6>
        <h4 class="req_title multi-line-truncate-3 min-height-48px"><%= request.title %></h4>
        <!-- <p class="req_description multi-line-truncate-3 min-height-66px"><%# request.description %></p> -->
      </div>
      <div class="req_budget">
        <p class="COAH3 truncate"><%= request.budget %> MXN</p>
      </div>
    </div>
  </a>
</div>
