<a href="<%= request_path(request) %>">
<div class="ultimo-singleslide">
  <p class="COAH"><%= request.location %>.</p>
  <p class="COAH2"><%= truncate(request.title, length: 50) %></p>
  <p class="COAH3">Presupuesto: <%= request.budget %> MXN</p>
</div>
</a>
