<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Mis Trabajos</h1>
    <p>
      <%= link_to "Nuevo trabajo", new_gig_path, class: "btn btn-primary my-2" %>
    </p>
  </div>
</section>
