<!-- The Modal -->
<div class="modal" id="newElementModal">

  <!-- Modal content -->
  <div class="modal-content modal-configuration">
    <!-- <span class="close">&times;</span> -->
    <div class="text-center">

      <div class="row">

        <div class="col-lg-12">

          <%= link_to "Nuevo jale", new_user_gig_path(current_user) %>
          <%= link_to "Nuevo pedido", new_request_path(current_user) %>


      </div>
    </div>
  </div>

</div>

</div>
