<p class="level-toggler t-<%= n %> text-center mar-0-auto">
  <a href="#" style="color: var(--gray);">
    Se te cobrarán $9.28 (IVA incluido) + una comisión sobre tus ganancias al retirar tu retiro de acuerdo a tu nivel de experto. <br>
    <strong class="see-lev-table">click aquí para ver tabla de comisión</strong>
  </a>
</p>
