<div class="headerd-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-2 col-sm-2">
        <div class="headerd-logo">
          <%= link_to image_tag('favicon.ico', size: "138x32"), root_path, id: "main-logo" %>
          <%= link_to(image_tag('favicon.ico', size: "32x32"), root_path, id: "mobile-logo") %>
        </div>
        <div class="mobile-menu"></div>
      </div>
      <div class="col-lg-9 col-md-10 col-10">
        <div class="headerd-mainmenu">
          <nav id="mobile-menu">
            <%= nav_links_helper %>
          </nav>
        </div>

      </div>
    </div>
  </div>
</div>
