<!-- <div id="main_menu"> -->
  <% if (current_page?(user_mobile_search_path) || current_page?(search_path)) && current_user %>
    <%# render "shared/menu/user-desktop" %>
    <%= render "shared/menu/navbar" %>
  <% elsif current_user %>
    <%= render "shared/menu/navbar" %>
    <%# render "shared/menu/user-desktop" %>
    <%# render "shared/menu/user-phone-tablet" %>
  <!-- Tablet mobile top ber End -->
  <% else %>
    <%= render "shared/menu/guest" %>
  <% end %>
<!-- </div> -->

<div id="notifications"></div>
