<%= form_with model: @order, url: update_details_order_path, method: :put,:html =>{class: "search-form"} , local: true do |f|%>
<div class="">
  <input type="checkbox" onclick="$('.order-location').toggle();"/> Esta orden es a Domicilio
  <div class="order-location">
    <%= f.text_field :address, class: 'text_box form-control', id: "google_autocomplete", size: 200, placeholder: "Cualquier lugar en México" %>
  </div>

  <input type="checkbox" required> Estoy de acuerdo con la informacion proporcionada
  <%= f.submit "Continuar" %>
</div>
<% end %>
