<tr>
  <td><%= billing_profile.name %></td>
  <td><%= billing_profile.rfc %></td>
  <td><%= billing_profile.zip_code %></td>
  <td><%= f.check_box :billing_profile_id, {}, billing_profile.id, nil  %></td>
</tr>
