<div class="design-process-content payment_by_cards">
  <h3 class="semi-bold">Opciones de Pago</h3>
  <div class="payment_method"><img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/credit-card-png-hd-credit-card-visa-and-master-card-transparent-background-mastercard-press-release-mastercard-hd-png-2489.png"></div>
  <%= link_to "Administrar Tarjetas", configuration_path(anchor: "card"), class: "btn btn-secondary butn pay-butn" %>
  <div class="card-details">

    <table class="table table-striped table-borderless">
      <thead>
        <tr>
          <th>Tarjeta</th>
          <th>Tipo</th>
          <th>Banco</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'shared_user/hire/card', collection: @user_cards, locals:{ f: f }%>
      </tbody>
    </table>

  </div>
  <div class="payment_method">Facturacion</div>
  <%= link_to "Administrar Factura", configuration_path(anchor: "billingprofile"), class: "btn btn-secondary butn pay-butn" %>
  <table class="table table-striped table-borderless">
    <thead>
      <tr>
        <th>Razon Social</th>
        <th>RFC</th>
        <th>Codigo Postal</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'shared_user/hire/billing_profile', collection: @billing_profiles, locals:{ f: f }  %>
    </tbody>
  </table>
</div>
