<% if defined? @package %>
<p>Revisa la disponibilidad del experto antes de realizar cualquier pago.
  <%= link_to "Contactar al vendedor", conversations_path(user_id: @package.gig.user.slug) %>
</p>
<% else %>
<p>Revisa la disponibilidad del experto antes de realizar cualquier pago.
  <%= link_to "Contactar al vendedor", conversations_path(user_id: @offer.user.slug) %>
</p>
<% end %>
