<div class="col-lg-12 checkout_steps">
  <div class="container">
    <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
      <li role="presentation">
        <a href="order_checkout.html">
          <span>1</span>
          DETALLES DE LA ORDEN
        </a>
      </li>
      <li role="presentation" class="active">
        <a href="confirm_and_pay.html">
          <span>2</span>
          CONFIRMA Y PAGA
        </a>
      </li>
      <li role="presentation">
        <a href="#optimization" aria-controls="optimization" role="tab" data-toggle="tab">
          <span>3</span>
          ENVIAR ORDEN
        </a>
      </li>

    </ul>
  </div>
</div>
