<div class="summary_confirmation">
  <div class="row">
    <div class="col-lg-12">
      <h4>Resumen</h4>
    </div>

  </div>
  <!-- -->
  <div class="confirm_content">
    <div class="row">
      <div class="col-lg-2">
        <%= image_tag(avatar_display_helper(@package.gig.user.image_url(:thumb)), class: "nav-avatar") %>
      </div>
      <div class="col-lg-10">
        Voy a <%= @package.gig.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <strong>2D+3D Eat-All-You-Can</strong>
        <ul>
          <li>
            <i class="fa fa-check"></i>
            10 Days Delivery
          </li>
          <li>
            <i class="fa fa-check"></i>
            Transparent Background
          </li>
          <li>
            <i class="fa fa-check"></i>
            2 Revisions
          </li>
          <li>
            <i class="fa fa-check"></i>
            Add Background Music
          </li>
        </ul>

      </div>
      <div class="col-lg-2 t">

        x1
      </div>
      <div class="col-lg-3 ">

        $1,500
      </div>
    </div>
    <!-- -->
    <div class="row">
      <div class="col-lg-12">
        <a href="#">Enter promo code
        </a>
      </div>

    </div>
    <!-- -->
    <div class="row">
      <div class="col-lg-6">
        Service Fee
      </div>
      <div class="col-lg-6 text-right">

        $75
      </div>
    </div>

    <!-- -->
    <div class="row">
      <div class="col-lg-6">
        Total
      </div>
      <div class="col-lg-6 text-right">

        $1,575
      </div>
    </div>
    <!-- -->
    <div class="row">
      <div class="col-lg-6">
        Total delivery time
      </div>
      <div class="col-lg-6 text-right">

        10 days
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12 text-center">
        <a href="#" class="continue_purchase">Confirm & Pay</a>

      </div>
    </div>
  </div>

</div>
