<tr class="head_table">
  <td>Comprador</td>
  <td>Nombre</td>
  <td>Fecha</td>
  <td>Total</td>
  <td>Estado</td>
</tr>
<tr class="body_table" valign="middle">
  <td class="buyer">
    <h5>Name</h5>
  </td>

  <td>lorem ipsum dummy text
  </td>
  <td>oct 26
  </td>
  <td>$30</td>
  <td>
    <span class="in_progress">in progress</span></td>
</tr>
