<div class="legal-document">
  <h3>REGLAMENTO ENTRE EL PRESTADOR Y EMPLEADOR.</h3>
  <p>
El presente instrumento establecerá las reglas de JALECITOS; MAURICIO ANDRES VELEZ SANCHEZ, de ahora en adelante como LA PLATAFORMA, entre la persona que presta un servicio y la persona que la contrata, los cuales para fines del presente se les denominara de ahora en adelante como “PRESTADOR” y “EMPLEADOR” respectivamente y estos últimos de manera conjunta como LAS PARTES; para fines del presente.
OBJETO.- Establecer las condiciones de modo, forma y tiempo en que se desarrollara el servicio y/o trabajo prestado por parte del PRESTADOR a favor del EMPLEADOR, las cuales estarán previamente estipuladas en los mecanismos habilitados en LA PLATAFORMA, para efectos del presente LA PLATAFORMA se hace referencia también al sitio web www.jalecitos.com así como a sus aplicaciones móviles.
Garantizar que las condiciones de trabajo puestas a disposición por parte del EMPLEADOR se respete plenamente la dignidad humana del PRESTADOR, así como el servicio por el que fue contratado; que no exista discriminación por origen étnico o nacional, género, edad, discapacidad, condición social, de salud, religión, condición migratoria, opiniones o preferencias sexuales o estado civil por ninguna de LAS PARTES.
Con la finalidad, que en caso de que no se respete lo previamente establecido por alguna de LAS PARTES según la información recabada por LA PLATAFORMA, ya sea el PRESTADOR o EMPLEADOR, podrá hacer la reclamación correspondiente mediante los mecanismos puestos a disposición por LA PLATAFORMA, con el único fin de que esta última funja como mediadora entre LAS PARTES y llegar a la solución del problema o bien, con entregar el dinero a la parte afectada previo cotejo con la información recabada por LA PLATAFORMA y puesta a disposición por cualquiera de LAS PARTES.
<br>
PRIMERA: Condiciones de modo, forma y tiempo.-  El PRESTADOR se obliga a poner a disposición del EMPLEADOR a través de LA PLATAFORMA las condiciones de modo, forma y tiempo en que ha de prestar el servicio, para que el EMPLEADOR tenga la certeza del alcance del servicio ofrecido el cual se contrata.
<br>
SEGUNDA; Condiciones de trabajo.- El EMPLEADOR pondrá a disposición del PRESTADOR del cual pretenda la contratación de sus servicios, toda la información tendiente a que el PRESTADOR tenga un panorama amplio de las condiciones de trabajo a las que estaría sujeto o donde prestaría el servicio contratado, esto a través de los mecanismos habilitados en LA PLATAFORMA Y que son puestos a disposición de LAS PARTES, para que el PRESTADOR acepte o niegue el servicio y/o trabajo.
El EMPLEADOR se asegurará de que el lugar en donde pretenda se realice el servicio contratado cuente con las medidas de seguridad e higiene óptimos para que cualquier PRESTADOR pueda realizar el servicio para el que fue contratado.
SEGUNDA BIS.- Queda prohibido por LAS PARTES el hostigamiento o acoso sexual, para efectos del presente se entiende como:
<br>
    a) Hostigamiento: se expresa a través de conductas verbales, físicas o ambas, las cuales son ofensivas y tienen como finalidad perturbar o alterar a cualquiera de LAS PARTES.
<br>
    b) Acoso sexual: una forma de violencia, en la que si bien no existe subordinación hay un ejercicio abusivo que conlleva a un estado de indefensión y de riesgo para cualquiera de LAS PARTES de naturaleza sexual.
TERCERA; Seguridad e Higiene.- El PRESTADOR podrá negarse a prestar sus servicios sin responsabilidad, siempre y cuando por las pruebas ofrecidas por este, LA PLATAFORMA confirme lo siguiente;
<br>
    I. Que no hayan contado con la debida información que permita identificar los riesgos a los que está expuesto, la forma de evitar la exposición de los mismos y realizar sus laborales en condiciones de seguridad.
<br>
    II. El PRESTADOR identifique situaciones de riesgo inminente que puedan poner en peligro su vida, integridad física o salud.
Cuando el PRESTADOR identifique o tenga conocimiento de cualquier riesgo inminente deberá retirarse del lugar del trabajo expuesto a ese riesgo, haciendo del conocimiento a LA PLATAFORMA por medio de los mecanismos puestos a su disposición por medio de esta última. LA PLATAFORMA deberá constatar la existencia de dicho riesgo a través de cualquier medio que permita llegar a la veracidad de los hechos y la cual deberá ser puesta a disposición del PRESTADOR y/o EMPLEADOR por medio de los mecanismos habilitados en  LA PLATAFORMA.
<br>
En caso de resultar afirmativo sobre los riesgos en seguridad e higiene, se ordenara al EMPLEADOR por los mecanismos habilitados para ello en la PLATAFORMA adopte las medidas correctivas o preventivas en materia de seguridad e higiene con el fin de salvaguardar la vida, la integridad física o salud del PRESTADOR, así como de establecer una nueva fecha y hora para concluir con el servicio por el que fue contratado, caso contrario de hacer omisión a las medidas correctivas o preventivas en un plazo no mayor a cinco días naturales, se dará por concluido el trabajo y se pagará al PRESTADOR como si hubiese realizado a su totalidad el servicio por el que fue contratado.
En caso de ser falsa o de no comprobarse del riesgo inminente en seguridad e higiene, se ordenará al PRESTADOR que realice el servicio por el que fue contratado a la brevedad posible, caso contrario será devuelta la cantidad estipulada por el servicio al EMPLEADOR.
CUARTA: Recisión por parte del EMPLEADOR sin responsabilidad.- El EMPLEADOR podrá rescindir el servicio y/o trabajo contratado en cualquier momento, sin incurrir en responsabilidad, además de la cláusula TERCERA por las siguientes causas;
<br>
    a) Faltar el PRESTADOR sin causa justificada el día que se convino para prestar el servicio y/o trabajo establecido en LA PLATAFORMA.
<br>
    b) No realizar el servicio por el cual fue contratado.
<br>
    c) Engañarlo el PRESTADOR con certificados o referencias falsas en los que se atribuya la PRESTADORA capacidad, aptitudes o facultades que carezca.
<br>
    d) Incurrir el PRESTADOR durante sus labores, en faltas de probidad u honradez, en actos de violencia, amagos, injurias o malos tratamientos u otros análogos en contra del EMPLEADOR, familiares o cualquier persona, o en contra de clientes o proveedoras del EMPLEADOR según sea el caso, salvo que medie provocación o sea en defensa propia.
<br>
    e) Ocasionar el PRESTADOR, intencionalmente, perjuicios materiales durante el desempeño de sus labores o con motivo de ellas, en los muebles o inmuebles del EMPLEADOR.
<br>
    f) Ocasionar el PRESTADOR los perjuicios mencionados en el inciso anterior siempre que sean graves, sin dolo, pero por negligencia tal, que ella sea la causa única del perjuicio.
<br>
    g) Cometer el PRESTADOR actos inmorales, de hostigamiento y/o acoso sexual contra cualquier persona en el lugar en donde se prestara el servicio y/o trabajo.
<br>
    h) Presentarse el PRESTADOR en estado de embriaguez.
<br>
    i) Substraer los materiales puestos a disposición por parte del EMPLEADOR al PRESTADOR del lugar de donde se realizara el servicio y/o trabajo contratado.
<br>
    j) Presentarse el PRESTADOR bajo la influencia de cualquier narcótico o droga enervante, salvo que exista prescripción médica, la cual tendrá que comprobarse.
<br>
    k) Portar armas de cualquier clase durante el tiempo en que ha de prestarse el servicio y/o trabajo contratado, salvo que la naturaleza de este lo exija.
<br>
    l) Suspende el servicio y/o trabajo sin causa justificada, previo aviso al EMPLEADOR.
<br>
    m) Las análogas a las establecidas en las fracciones anteriores, de igual manera grave y de consecuencias semejantes en lo que al trabajo se refiere.
<br>
De las cuales tendrá LA PLATAFORMA la decisión si es justificada o no según la información recabada y puesta a disposición por LAS PARTES a través de los mecanismos habilitados por LA PLATAFORMA.
<br>
QUINTA: Recisión por parte del PRESTADOR sin responsabilidad.- El PRESTADOR podrá rescindir el servicio y/o trabajo contratado en cualquier momento, sin incurrir en responsabilidad además de la mencionada en la cláusula TERCERA, por las siguientes causas;
<br>
    a) Engañarlo el EMPLEADOR, respecto a las condiciones en que ha de prestarse el servicio o trabajo contratado.
<br>
    b) Incurrir el EMPLEADOR durante sus labores, en faltas de probidad u honradez, en actos de violencia, amagos, injurias o malos tratamientos u otros análogos en contra del PRESTADOR, cónyuge, padres, hijos o hermanos o cualquier otra persona que por cuestiones del servicio y/o trabajo se encuentren con el PRESTADOR.
<br>
    c) No recibir en caso de anticipos el dinero correspondiente por la prestación del servicio y/o trabajo contratado en fecha convenida.
<br>
    d) Sufrir perjuicios causados maliciosamente por el EMPLEADOR, en sus herramientas o útiles de trabajo.
<br>
    e) La existencia de un peligro grave para la seguridad o salud del PRESTADOR o de cualquier persona mencionada en el inciso b, ya sea por carecer de condiciones higiénicas el establecimiento o porque no se cumplan las medidas preventivas y de seguridad que las leyes establezcan.
<br>
    f) Exigir la realización de actos, conductas o comportamientos que menoscaben o atenten contra la dignidad del PRESTADOR; y
<br>
    g) Las análogas a las establecidas en las fracciones anteriores, de igual manera graves y de consecuencias semejantes, en lo que al trabajo se refiere.
<br>
De las cuales tendrá LA PLATAFORMA la decisión si es justificada o no según la información recabada y puesta a disposición por LAS PARTES, mediante los mecanismos habilitados para ello.
<br>
SEXTA.- El EMPLEADOR, solo se hará responsable del pago a favor del PRESTADOR el cual se hará a través de los mecanismos que utilice LA PLATAFORMA y una vez concluido el servicio y/o trabajo. Por lo que el PRESTADOR tiene prohibido solicitar cualquier tipo de pago a su favor o de terceras personas, estando en el entendido que cualquier tercero bajo las órdenes y dirección del PRESTADOR este último es el único responsable laboralmente, deslindando de cualquier obligación al EMPLEADOR y a LA PLATAFORMA.
<br>
SEPTIMA: Generales.- Cualquier otra situación no prevista dentro del presente reglamento, quedará al arbitrio de LA PLATAFORMA su solución, siempre justificando el porqué de cada resolución.
<br>
OCTAVA: Aceptación.- La contratación por parte del EMPLEADOR de cualquier trabajo, producto y/o servicio ofrecido por el PRESTADOR a través de LA PLATAFORMA, supone una aceptación tácita del presente reglamento, así mismo la oferta de cualquier trabajo, producto y/o servicio por parte del PRESTADOR en LA PLATAFORMA supone la confirmación tácita del presente reglamento.
<br>
NOVENA: Actualizaciones.- El presente reglamento podrá sufrir cambios en su contenido sin previo aviso a LAS PARTES, de acuerdo a la información recabada por LA PLATAFORMA o cualquier modificación en las leyes vigentes aplicables.
<br>
DECIMA. LA PLATAFORMA por ningún motivo se considera patrón o promotor de ninguna de LAS PARTES, mucho menos como comprador ni vendedor de los productos y/o servicios, por lo que no asume ninguna obligación obrero patronal con ellas, o de cualquier otra índole.
  </p>
</div>
