WAND<div class="legal-document">
  <h3>AVISO DE PRIVACIDAD</h3>
  <p>El presente documento constituye el Aviso de Privacidad para efectos de lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDPPP) y las disposiciones que emanan de ella o se relacionan con la misma.
  La Privacidad de la información de los usuarios es muy importante para WAND; Diego Alberto Vélez Sánchez, es por eso que se toman las precauciones y recaudos para resguardar su información. Como parte normal de nuestra actividad recogemos, y
  en algunos casos, revelamos información sobre nuestros usuarios y visitantes de nuestro sitio web y/o aplicaciones móviles. Este aviso de privacidad, describe que puede hacerse con dicha información, sobre nuestros usuarios o visitantes de nuestro
  Sitio Web y/o aplicaciones móviles. Al inscribirse o navegar en nuestro sitio web y/o aplicaciones móviles, el usuario y/o visitante presta su consentimiento para que se utilice su información personal de acuerdo a las disposiciones que se describen
  a continuación. Este documento es parte integrante de nuestros TERMINOS Y CONDICIONES.
  <br>
  1. IDENTIDAD Y DOMICILIO DEL RESPONSABLE. WAND; Diego Alberto Vélez Sánchez, con domicilio en la calle Manuel Pérez Treviño 404, colonia Los Pinos IV Sector, C.P. 25204, Saltillo, Coahuila, es responsable de recabar sus datos personales, del
  uso que se dé a los mismos y de su protección.<br>
  2. FINALIDADES DEL TRATAMIENTO DE DATOS. La información personal que usted proporciona será utilizada por WAND; Diego Alberto Vélez Sánchez para llevar a cabo alguna o todas las actividades necesarias para el desarrollo y cumplimiento de las
  obligaciones que se originen y deriven de la relación contractual y/o comercial de la prestación de los Servicios que incluyen: facturación y cobranza; realizar investigaciones y monitoreo periódicos sobre su comportamiento; validaciones de datos, la
  prestación de Servicios por parte de terceros, incluyendo sin limitar servicios relacionados, así como contactarle a usted y a sus contactos y/o referencias para dar seguimiento a cualquier tema relacionado con los Servicios o con las presentes
  finalidades. Para poder brindarle un mejor servicio y experiencia por parte de WAND; MAURICIO ANDRES VÉLEZ SANCHEZ, y para que los usuarios puedan realizar sus interacciones de forma ágil y segura, WAND; MAURICIO ANDRES VÉLEZ SANCHEZ,
  requiere cierta información personal, la recolección de dicha información nos permite personalizar nuestros servicios para hacer que su experiencia en WAND más amigable y segura, dichos datos podrán ser utilizados, de manera enunciativa más no
  limitativa, como los siguientes;<br>
  • Ayudar al usuario vendedor así como al usuario comprador a ponerse en contacto de manera más eficaz, cómoda y segura a través del sitio web y/o sus aplicaciones, para tal efecto WAND; MAURICIO ANDRES VÉLEZ SANCHEZ proporcionara sus datos
  (nombre, teléfono, email, localidad, etc.) conforme vaya avanzando su interacción en el sitio web y/o aplicaciones móviles. La información puesta a disposición del usuario vendedor y comprador será utilizada únicamente con la finalidad de dar
  cumplimiento a la operación originada en el sitio web y/o aplicaciones, quedando estrictamente prohibido que los datos personales proporcionados, sean utilizados con fines publicitarios o promocionales u otras actividades no relacionadas con
  WAND; MAURICIO ANDRES VÉLEZ SANCHEZ, salvo la expresa autorización por parte de los usuarios.
  <br>
  • Realizar estudios internos para conocer los intereses, comportamientos y demografía de los usuarios para comprender mejor sus intereses y necesidades, para así brindar mejor servicio y proporcionar la información relacionado a referida información.
  <br>
  • Enviar información o mensajes por email o mensajes de texto, sobre nuestros servicios, publicidad, promociones, de intereses de nuestros usuarios, si el usuario así lo desea podrá solicitar que se le excluya del envío de esta información
  promocional o publicitaria.
  <br>
  • En caso de alguna promoción y/o concurso, los usuarios autorizan que en caso de salir ganadores, a difundir sus datos personales e imágenes, por los medios y formas que consideren convenientes, con fines publicitarios y/o promocionales, sin derecho
  a compensación alguna.
  <br>
  • Compartir los datos personales, con los proveedores de asistencia de WAND; MAURICIO ANDRES VÉLEZ SANCHEZ en este caso OpenPay S.A.P.I. a BBVA Company, que contribuyan a mejorar o facilitar las operaciones de WAND; MAURICIO ANDRES VÉLEZ
  SANCHEZ, por mencionar algunos de manera enunciativa mas no limitativa; medios de pago, gestión de pagos, etc. WAND; MAURICIO ANDRES VÉLEZ SANCHEZ procurara mediante convenios o acuerdos, que se protejan los datos personales de sus usuarios, sin
  embargo WAND; MAURICIO ANDRES VÉLEZ SANCHEZ no se hace responsable del uso indebido que hagan de sus datos personales los proveedores de asistencia, ya que estos cuentan con sus propios términos y condiciones, aviso de privacidad y demás
  políticas por lo que en ningún momento se deberá entender que las políticas de privacidad y demás de WAND; MAURICIO ANDRES VÉLEZ SANCHEZ correspondan a las de sus proveedores de asistencia. En caso de que facilites de manera directa información
  adicional a dichos proveedores, estos podrán utilizar tu información de acuerdo a sus políticas. Si decidimos revelar información a terceros que no sean nuestros proveedores o empresas afiliadas, requeriremos tu consentimiento Cualquier otra
  actividad tendiente a promover, mantener, mejorar y evaluar los Servicios. Si usted no desea que WAND; Diego Alberto Vélez Sánchez trate sus datos personales para alguna de las finalidades descritas en este apartado, por favor envíe un correo
  electrónico a contacto@WAND.com Usted podrá cambiar de opción en cualquier momento.
  <br>
  3. OPCIONES Y MEDIOS PARA LIMITAR EL USO O DIVULGACIÓN DE LOS DATOS Y PARA EL EJERCICIO DE LOS DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN (ARCO). Usted como titular de los datos personales que proporciona a WAND; MAURICIO ANDRES
  VÉLEZ SÁNCHEZ, podrá limitar en cualquier momento su uso o divulgación y ejercer los derechos de Acceso, Rectificación, Cancelación y Oposición (ARCO) respecto al tratamiento de datos personales, mediante solicitud que deberá ser enviada al correo
  electrónico contacto@WAND.com o por escrito dirigido a WAND; Diego Alberto Vélez Sánchez a la dirección: calle Manuel Pérez Treviño 404, colonia Los Pinos IV Sector, Saltillo, Coahuila, C.P. 25204.<br>
  Dicha solicitud deberá contener por lo menos lo siguiente: a) Nombre del titular de los datos personales; b) Domicilio o correo electrónico para recibir notificaciones; c) Documentos que acrediten su identidad o en su caso la representación legal del
  titular; d) Descripción clara y precisa de los datos personales respecto de los cuales desea limitar su uso o divulgación, acceder, rectificar, cancelar u oponerse; e) Cualquier otro elemento o documento que facilite la localización de los datos
  personales.<br>
  Lo anterior, con la finalidad de proteger su confidencialidad, WAND; Diego Alberto Vélez Sánchez, enviará la respuesta a su solicitud al correo o domicilio que haya proporcionado para tal fin y la conservará a disposición del solicitante en el
  domicilio señalado en el párrafo anterior, en un plazo no menor de 48 horas laborables. Los usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, y vigencia de la de sus datos personales facilitados, y se comprometen en
  tenerlos debidamente actualizados. En determinados casos, podremos retener la información que nos hayas solicitado retirar, esto con la finalidad de resolver disputas o reclamaciones, detectar problemas o incidencias y así poder solucionarlo. Los
  datos personales de un usuario no serán inmediatamente retirados por cuestiones legales y/o técnicas, por lo tanto no se debe de esperar que los datos sean borrados definitivamente de nuestra base de datos.
  <br>
  4. TRANSFERENCIA DE DATOS. Como parte de las actividades propias del giro del negocio, WAND; Diego Alberto Vélez Sánchez, podrá compartir con terceros, nacionales o extranjeros, algunos o todos de sus datos personales. Dichos terceros estarán
  relacionados o deberán beneficiarse de los servicios que presta WAND; Diego Alberto Vélez Sánchez y podrán ser asesores profesionales externos y/u otros prestadores de servicios que actúen como representantes a nombre y por cuenta de
  WAND; Diego Alberto Vélez Sánchez.
  <br>
  5. CONSERVACIÓN Y SEGURIDAD DE DATOS. WAND; Diego Alberto Vélez Sánchez, podrá conservar sus datos personales en archivos físicos o electrónicos protegidos por medidas de seguridad administrativa, técnicas o físicas para evitar su daño,
  pérdida o alteración, destrucción, uso, acceso o divulgación indebidamente. Únicamente las personas autorizadas tendrán acceso a sus datos personales.
  <br>
  6. CLAVE PERSONAL. Para acceder a los servicios reservados únicamente para los usuarios debidamente inscritos los usuarios dispondrán de una clave personal. Con ella podrán comprar, vender, ofertar, calificar, entre otras actividades. Los usuarios
  deben mantener esta clave bajo absoluta confidencialidad y, en ningún caso, deberán revelarla o compartirla con otras personas. El usuario será responsable de todos los actos que tengan lugar mediante el uso de su Seudónimo y Clave, lo que incluye
  hacerse cargo del pago de las tarifas que eventualmente se devenguen o por los perjuicios que puedan sufrir otros usuarios por tal motivo. Si por cualquier razón un usuario creyera que alguien puede conocer su clave, deberá modificarla mediante los
  mecanismos habilitados para ello en el sitio web www.WAND.com y/o en sus aplicaciones móviles.
  <br>
  7. MENORES DE EDAD. Nuestros servicios sólo están disponibles para aquellas personas que tengan capacidad legal para contratar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de suministrar Datos Personales para ser
  incluidos en nuestras bases de datos. Sin embargo, pueden hacerlo a través de los padres o tutores.
  <br>
  8. USO DE DATOS PERSONALES POR OTROS USUARIOS. Para facilitar la interacción entre nuestros usuarios de WAND por medio de nuestro sitio web www.WAND.com y/o a través de nuestras aplicaciones móviles, WAND; MAURICIO ANDRES VÉLEZ
  SÁNCHEZ, permite un acceso limitado a ciertos datos personales, para facilitar el contacto con el resto de los usuarios, por mencionar algunos (más no todos) localidad, nombre, teléfonos, email. Tal información solo podrá ser utilizada para llevar
  acabo los servicios relacionados a la actividad de WAND; MAURICIO ANDRES VELEZ SANCHEZ. Bajo ninguna circunstancia podrá proporcionarse la información personal, dirección, correo electrónico, de otro usuario a terceras personas, esto sin previo
  consentimiento de nosotros y/o del usuario.
  <br>
  9. SPAM. WAND; Diego Alberto Vélez Sánchez y sus usuarios no aceptan conductas consideradas "spamming", ya sea en opiniones, preguntas, respuestas y/o el envío no solicitado de correos electrónicos. Queda absolutamente prohibido el envío
  indiscriminado de mensajes de cualquier naturaleza entre los usuarios de WAND. WAND; Diego Alberto Vélez Sánchez podrá suspender o inhabilitar definitivamente a aquellos usuarios que violen esta política.
  <br>
  10. REQUERIMIENTOS LEGALES. WAND; Diego Alberto Vélez Sánchez, coopera con las autoridades competentes así como con terceros para garantizar el cumplimiento de las leyes, por ejemplo en materia de protección de derechos de propiedad industrial
  e intelectual, prevención del fraude y otras materias. En consecuencia y en el caso de que alguna autoridad competente requiera información, WAND; Diego Alberto Vélez Sánchez podrá revelar información almacenada en su base de datos a las
  autoridades judiciales o gubernamentales según sea el caso para efectos de investigación llevadas por ellas, aunque no exista una orden ni una citación ejecutiva o judicial, o cuando se conduzcan investigaciones en materia penal, fraude, piratería,
  piratería informática, violación a derechos de autor, etc. En tales situaciones, WAND; Diego Alberto Vélez Sánchez colaborará con las autoridades competentes con el fin de salvaguardar la integridad y la seguridad de la Comunidad y la de sus
  usuarios.
  <br>
  11. CAMBIOS AL AVISO DE PRIVACIDAD Cualquier modificación o actualización al presente aviso de privacidad, le será informado y puesto a su disposición mediante correo electrónico a la dirección de correo electrónico que usted proporciona a WAND;
  Diego Alberto Vélez Sánchez, o podrá ser publicado en nuestro página de internet www.WAND.com por lo que usted acepta una constante revisión en el presente aviso de privacidad así como a cualquier otra policita de WAND; MAURICIO ANDRES
  VÉLEZ SÁNCHEZ.</p>
</div>
