<main role="main">

  <div class="album py-5 bg-light">

    <div class="container">

      <div class="tabContent">
        <table class="table-responsive1">
          <tr class="head_table">
            <td >Pedido</td>
            <td>Descripcion</td>
            <td>Ubicacion</td>
            <td>Presupuesto</td>
            <td>Ofertas</td>
            <td>Estado</td>
          </tr>
          <%= render @requests %>
        </table>
        <br>
        <%= paginate @requests %>
      </div>
    </div>
  </div>
</main>
