<div class="container">
  <div class="row paginated-elements">
    <%= render partial: "requests/request", collection: @search %>
  </div>
</div>
<div class="pagination-links">
  <%= paginate @requests %>
</div>
