<div class="alert alert-info alert-dismissible fade show text-center" role="alert">
  Ahora puedes agregar tu Whatsapp para que la gente te contacte! <%= link_to "Configuracion", configuration_path %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
