<div class="container text-center">
  <%= image_tag "https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/errors/404.png", class: "error-image" %>
  <strong class="error-header">¡Ups!</strong>
  <h1>No encontramos lo que estás buscando.</h1>
</div>
