<div class="container text-center">
  <%= image_tag "https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/errors/offline.png", class: "error-image" %>
  <strong class="error-header">¡Ups!</strong>
  <h1>Los datos que introdujiste no pudieron ser procesados</h1>
</div>
