/* Configuración page Start */
.tab-section {
	padding-top: 20px;
	padding-bottom: 100px;
}
.configuration-area {
	border-bottom: 3px solid #F5F6F7;
	padding: 15px 0;
}
.configuration-text h2 {
  font-size: 30px;
    margin-bottom: 0;
}
.configuration-text h2 i {
	font-size: 16px;
	margin-right: 10px;
	transform: translateY(-6px);
}

/* Style the tab */
.tab-section .tab {
	float: left;
	border: none;
	background-color: #fff;
	width: 25%;
	height: auto;
}
.tab-section .tab span {
	float: right;
}
/* Style the buttons inside the tab */
.tab-section .tab button {
	display: block;
	background-color: inherit;
	color: #8E8E93;
	padding: 10px 0px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 22px;
	border-bottom: 2px solid #F5F6F7;
    font-weight: 700;
}


/* Create an active/current "tab button" class */

.tab-section .tab-section {
	padding-top: 25px;
	padding-bottom: 100px;
}


.tab-section .tab button.active {
	background-color: #fff;
	color: #39C27B;
}

/* Style the tab content */
.tab-section .tabcontent {
	float: left;
	padding: 20px 40px;
	border: none;
	width: 75%;
	height: auto;
}
.tab-user {
	position: relative;
	display: flex;
	align-items: center;
}

.sales_info {
	background-color: white !important;
}

#config_tag_hint {
	width: 100%;
	position: static;
}

#config_tag_hint::before {
	display: none;
}

.tab-user p {
	margin-left: 2vw;
	font-weight: 700;
}
.tab-user p span {
  display: block;
  color: #000000;
  font-size: 19px;
  font-weight: 500;
}

.tab-user img {
	width: 80px;
	height: 80px;
	border: 5px solid #EEEEF3;
	border-radius: 50%;
}
.inp-area,
.textarea-area {
	position: relative;
	margin-bottom: 15px;
}
.inp-area input, .inp-area span.best_in_place,
.config-tag-input {
  width: 100%;
  border: none;
  background: #F5F6F7;
  font-size: 19px;
  color: #8E8E93;
  display: block;
}

.config_autocomplete {
	padding: 5px 0;
}

.change_bio {
	padding: 7px 35px 7px 15px;
	width: 100%;
	border: none;
	background: #F5F6F7;
	font-size: 19px;
	color: #8E8E93;
	height: 200px;
	resize: none;
	display: block;
	min-height: 200px;
	height: auto;
}

.change_bio_input {
	border: none;
	background: transparent;
	font-size: 19px;
	color: #8E8E93;
	padding: 7px 35px 7px 15px;
}
.change_bio_input:focus {
	outline: none;
	margin-left: -15px;
}



.inp-area i.fas,
.textarea-area i.fas {
  position: absolute;
  right: 15px;
  margin-top: -8px;
  cursor: pointer;
}
.inp-area i.fas.fa-pencil-alt,
.inp-area i.fas.fa-check {
	top: 56%;
}
.textarea-area i.fas.fa-pencil-alt,
.textarea-area i.fas.fa-check {
	top: 7vh;
}
.inp-area .fas.fa-map-marker-alt {
	left: 10px;
	font-size: 20px;
	color: #39C27B;
	width: 20px;
	text-align: center;
	top: 67%;
}

.inp-area.marker-ex input {
	padding-left: 35px;
}

.Nombre-completo-text label,
.Notificaciónss label {
	font-size: 19px;
	color: #000;
	margin-bottom: 0;
	font-weight: 700;
}


.tab-btn {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.tab-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 8px;
	left: 20px;
	height: 15px;
	width: 15px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.tab-btn:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.tab-btn input:checked ~ .checkmark {
  background-color: #39C27B;
}

.inp-area .best_in_place {
	padding: 5px 35px 5px 5px !important;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.tab-btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.tab-radio-btn {
	position: relative;
	padding: 20px 0;
}
.tab-radio-btn p {
  font-size: 19px;
  color: #000;
  font-weight: 700;
  margin-bottom: 0;
}
.Vendedor-text {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin-left: 70px;
}

.tab-use-content,
#notifications_collapse,
#payment_methods,
#billing,
#withdraw,
#collapseSix,
#help {
	padding: 30px 0;
}


.tab-use-content .nav-tabs .nav-item {
	margin-bottom: 0;
	font-size: 22px;
	font-weight: 700;
	background: #EBF7F1;
	border-radius: 5px;
	margin-right: 70px;
  text-align: center;
  color: #39C27B;
	padding: 5px 0px;
}
.tab-use-content .dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: middle;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
	right: 10px;
	position: absolute;
	top: 50%;
	margin-top: -3px;
}
.tab-use-content .dropdown-menu.show {
	background: #39C27B;
	width: 100%;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border: 0;
}
.tab-use-content .nav-tabs .nav-link {
	border: none;
}

.tab-use-content .dropdown-item {
	color: #fff;
	padding: 1px 10px;
}
.tab-use-content .nav-item.dropdown.show .nav-link.dropdown-toggle {
	background: #39C27B;
	color: #fff;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.Vendedor-text label {
	color: #8E8E93;
}

.tab-use-content .dropdown-item:focus, .dropdown-item:hover {
	color: #fff;
	text-decoration: none;
	background-color: #33AE72;
}
.tab-use-content .nav-tabs .dropdown-menu {
	height: 160px;
}


.tab-use-content .nav-tabs {
	border-bottom: none;
}

.Probar-Notificaciones-btn a {
	background: #39C27B;
	font-size: 19px;
	color: #fff;
	font-weight: 700;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 6px;
}


.input-checkbox input[type="checkbox"] {
	position: relative;
	width: 35px;
	height: 18px;
	-webkit-appearance: none;
	background: #C5C5C8;
	outline: none;
	border-radius: 20px;
}
.input-checkbox input:checked[type="checkbox"] {
	background: #39C27B;
}

.input-checkbox input[type="checkbox"]::before {
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	top: 50%;
	background: #fff;
	border-radius: 20px;
	transition: .5s;
	transform: scale(1.1);
	margin-top: -6px;
	left: 4px;
}
.input-checkbox input:checked[type="checkbox"]::before {
	left: 19px;
}
.input-checkbox p {
  font-size: 15px;
  color: #8E8E93;
}

.boolean {
	border-radius: 4px;
	border: none;
	background-color: #F5F6F7;
	color: #8E8E93;
	padding: 5px;
	margin-left: 10px;
}
.input-checkbox {
	position: relative;
	margin-bottom: 20px;
}
.Notificaciónss {
	margin-top: 30px;
}

.todos-list- li {
  list-style: none;
  font-size: 19px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 15px;
  cursor: pointer;
}




.todos-list- li img {
  width: 40px;
  opacity: .3;
  margin-right: 20px;
}
.todos-list- li span {
  margin-left: 20px;
  font-size: 15px;
  color: #8E8E93;
  font-weight: 500;
}
.todos-list- li a i.far {
  float: right;
  background: #FBE5E7;
  color: #F14236;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  font-size: 17px;
  line-height: 25px;
}
.Nueva-tarjeta-btn {
  text-align: right;
}

.Facturacion-content h4 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}
.Facturacion-content h4 span {
  display: block;
  margin-top: 10px;
  color: #8E8E93;
  font-size: 19px;
  font-weight: 500;
}
.Facturacion-btn {
  text-align: right;
}
.Facturacion-btn button {
  color: #fff;
  font-size: 15px;
  background: #EF2235;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
	margin-bottom: 5px;
	border: none;
}

.Saldo-disponible h3 {
  font-size: 19px;
  background: #EBF7F1;
  margin-bottom: 0;
  padding: 14px;
  border-radius: 5px;
  color: #39C27B;
}
.Saldo-disponible h3 strong {
  float: right;
}
.in-review-balance {
	color: var(--dark-yellow) !important;
	background: var(--light-yellow) !important;
}
.Saldo-disponible h3 img {
  margin-right: 15px;
}
.Saldo-disponible {
  margin-bottom: 30px;
}
.Cuenta-single-text {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 2px solid #F7F8F9;
  padding-bottom: 25px;
}
.Cuenta-single-text img {
  position: absolute;
  width: 35px;
  opacity: .3;
}
.Cuenta-box-text {
  position: relative;
}
.Cuenta-box-text h4 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}
.Cuenta-box-text p {
  font-size: 19px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0px;
}
.Cuenta-box-text span a {
  font-size: 17px;
  font-weight: 700;
  color: #39C27B;
}
.Cuenta-box-text a i.far {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: #FBE5E7;
  border-radius: 50%;
  text-align: center;
  color: #EF2B3E;
  font-size: 17px;
  line-height: 29px;
}
.Nueva-cuenta {
  text-align: right;
}
.Nueva-cuenta a {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  background: #39C27B;
  padding: 10px 25px;
  font-weight: 700;
  border-radius: 5px;
}

.perfil-text h4 {
  font-size: 19px;
  font-weight: 700;
}
.perfil-text h4 a, .perfil-text h4 button {
  float: right;
  display: inline-block;
  background: #39C27B;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: -15px;
	font-weight: 100;
	font-size: 17px;
}
.verificado-btn a {
  background: #39C27B;
  color: #fff  !important;
  display: block;
  text-align: center;
  font-size: 19px;
  border-radius: 5px;
  padding: 4px;
  font-weight: 700;
  border: none;
}
.verificado-btn {
  width: 37%;
  margin-top: 20px;
}
.perfil-text {
  margin-bottom: 40px;
}
.Eliminar-cuenta h4 {
  font-size: 19px;
  font-weight: 700;
}
.Eliminar-cuenta h5 {
  font-size: 17px;
  font-weight: 700;
}
.Eliminar-cuenta-list li {
  list-style: none;
  font-size: 19px;
  position: relative;
  padding-left: 20px;
}
.Eliminar-cuenta-list li span:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  background: #8E8E93;
  border-radius: 50%;
  margin-top: 8px;
}

.Eliminar-cuenta-btn {
  text-align: right;
  margin-top: 100px;
}

.tab-section-for-mobile .card-header {
	padding: 0;
	margin-bottom: 0;
	background-color: #fff;
	border-bottom: none;
	position: relative;
}
.tab-section-for-mobile .btn-link {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 12px 0;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 0;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	width: 100%;
	text-align: left;
	color: #000 !important;
	font-weight: 700 !important;
}
.tab-section-for-mobile .card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0;
}
.tab-section-for-mobile .btn.btn-link i.fa {
	position: absolute;
	right: 10px;
	font-size: 20px;
	display: none;
	top: 50%;
	margin-top: -10px;
}
.tab-section-for-mobile .btn-link:hover {
	color: #0056b3;
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
}
.tab-section-for-mobile .card {
	border-radius: .25rem;
	border-left: 0;
	border-right: 0;
}


.tab-section-for-mobile .card-header button[aria-expanded="true"] i.fa-angle-down {
  display: block;
  color: #39C27B;
}

.tab-section-for-mobile .card-header button[aria-expanded="false"] i.fa-angle-right {
  display: block;
}
.tab-section-for-mobile .card-header button[aria-expanded="true"] {
	color: #39C27B !important;
}


.modal-two .modal-header {
	padding: 1rem;
	border-bottom: none;
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
	position: absolute;
	right: 10px;
	z-index: 999;
}
.modal-two button:focus {
	outline: none;
}
.modal-two .modal-header .close {
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
	color: #fff;
	opacity: 9;
}
.modal-two .modal-content {
	width: 75%;
	margin: 0 auto;
	border: none;
	border-radius: 0;
	padding: 0 10px;
	background: #39C27B;
}
.Retirar-fondos-modal h3 {
	color: #fff;
	font-size: 19px;
}
.Retirar-fondos-modal-form input {
	width: 100%;
	background: #33AF72;
	border: none;
	color: #fff;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	opacity: .9;
    font-size: 16px;
}
.Retirar-fondos-modal-form input:nth-child(4) {
	width: 36%;
}
.m-Continuar-btn input[type="submit"] {
	width: auto;
	padding: 10px 25px;
	background: #FFF;
	color: #39C27B;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
    margin-bottom: 0;
}
.m-Continuar-btn {
	text-align: right;
}

.modal-select .nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #34B173;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 16px;
	font-weight: normal;
	height: 42px;
	line-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 32.33333333%;
	color: #fff;
}
.sds {
	position: absolute;
	left: 109px;
	width: 100%;
}
.modal-select input {
	width: 32.3333%;
	position: absolute;
	top: 0;
	right: 0;
	padding: 9px;
}
.modal-select {
	position: relative;
	margin-bottom: 40px;
}
.modal-select .nice-select .list {
	margin-top: 0px;
	z-index: 9;
	color: #000;
	width: 100%;
}
.modal-select .nice-select::after {
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
}
