@media (min-width: 768px) and (max-width: 991px) {
   .Probar-Notificaciones-content {
  	margin-bottom: 30px;
  }
   .Nueva-tarjeta-btn a {
  	color: #fff ;
  	font-size: 19px ;
  	font-weight: 700 ;
  	background: #39C27B;
  	display: inline-block ;
  	padding: 8px 20px ;
  	border-radius: 5px ;
  	width: auto ;
  }
  .Métodos-de-pago {
  	margin-bottom: 30px;
  }
  .Facturacion-content {
  	margin-bottom: 30px ;
  }
  .Nueva-cuenta a {
  	display: inline-block;
  	font-size: 15px ;
  	color: #fff;
  	background: #39C27B;
  	padding: 10px 25px ;
  	font-weight: 700 ;
  	border-radius: 5px ;
  	width: auto ;
  }
  .Cuenta-box {
  	margin-bottom: 30px;
  }
  .Cuenta-content {
  	padding: 30px 0;
  }
   .verificado-btn a {
  	background: #39C27B;
  	color: #fff;
  	display: block;
  	text-align: center ;
  	font-size: 19px ;
  	border-radius: 5px ;
  	padding: 4px ;
  	font-weight: 700 ;
  	width: auto ;
  }

   .tab-section {
  	display: none;
  }
}

/* SM Small Device :320px. */

@media only screen and (min-width: 320px) and (max-width: 767px) {

  .tab-section {
  	display: none;
  }
   .Probar-Notificaciones-content {
  	margin-bottom: 30px;
  }
   .Nueva-tarjeta-btn a {
  	color: #fff ;
  	font-size: 19px ;
  	font-weight: 700 ;
  	background: #39C27B;
  	display: inline-block ;
  	padding: 8px 20px ;
  	border-radius: 5px ;
  	width: auto ;
  }
  .Métodos-de-pago {
  	margin-bottom: 30px;
  }
  .Facturacion-content {
  	margin-bottom: 30px ;
  }
  .Nueva-cuenta a {
  	display: inline-block;
  	font-size: 15px ;
  	color: #fff;
  	background: #39C27B;
  	padding: 10px 25px ;
  	font-weight: 700 ;
  	border-radius: 5px ;
  	width: auto ;
  }
  .Cuenta-box {
  	margin-bottom: 30px;
  }
  .verificado-btn a {
  	background: #39C27B;
  	color: #fff;
  	display: block;
  	text-align: center ;
  	font-size: 19px ;
  	border-radius: 5px ;
  	padding: 4px ;
  	font-weight: 700 ;
  	width: auto ;
  }
  .tab-user img {
  	width: 60px;
  	height: 60px;
  	border: 4px solid #EEEEF3;
  }
  .tab-user p {
  	margin-left: 75px;
  }
  .tab-user p span {
  	font-size: 15px;
  }
  .inp-area input {
  	font-size: 15px;
  }
  .Nombre-completo-text label,
  .Notificaciónss label {
  	font-size: 17px;
  }
  .textarea-area textarea {
  	font-size: 15px;
  	height: 150px;
  }
  .Vendedor-text label {
  	color: #8E8E93;
  	font-size: 15px ;
  	margin-top: 3px;
  }
  .tab-radio-btn p {
  	font-size: 15px;
  }
  .Vendedor-text {
  	margin-left: 30px;
  }

  .checkmark {
  	position: absolute;
  	top: 6px;
  	left: 5px;
  	height: 12px;
  	width: 12px;
  	background-color: #eee;
  	border-radius: 50%;
  }
  .tab-btn {
  	padding-left: 19px;
  }
  .fotografi a {
  	padding: 5px 9px;
  	display: inline-block;
  	background: #0368F4;
  	color: #fff;
  	font-size: 13px;
  	border-radius: 5px;
  	margin-left: 100px;
  }
  .fotografi a:last-child {
  	margin-left: 8px;
  }
  .todos-list- li img {
  	width: 30px;
  	opacity: .3;
  	margin-right: 10px;
  }
  .todos-list- li {
  	font-size: 14px;
  }
  .Facturacion-content h4 span {
  	margin-top: 5px;
  	font-size: 14px;
  }
  .Saldo-disponible h3 {
  	font-size: 13px;
  }
  .Cuenta-single-text img {
  	width: 30px;
  }
  .Cuenta-box-text {
  	margin-left: 40px;
  }
  .Cuenta-box-text h4 {
  	font-size: 15px;
  }
  .Cuenta-box-text p {
  	font-size: 15px;
  }
  .perfil-text h4 {
  	font-size: 14px;
    margin-top: 6px;
  }
  .perfil-text h4 a, .perfil-text h4 button {
  	padding: 8px 10px;
  	margin-top: -6px;
    font-size: 17px;
  }
  .Eliminar-cuenta h5 {
  	font-size: 15px;
  }
  .Eliminar-cuenta h4 {
  	font-size: 17px;
  	margin-bottom: 5px;
  }
  .Eliminar-cuenta-list li {
  	font-size: 16px;
  }
  .Eliminar-cuenta-btn {
  	margin-top: 50px;
  }
  .modal-two .modal-content {
  	width: 100%;
  }
  .sds {
  	left: 34%;
  }
}
