.sign-up {
	text-align: center;
}

.sign-up {
  text-align: center;
}
.modal-logo h3 {
  font-size: 40px;
}

.modal-logo img {
  max-width: 80%;
}

.modal-logo h3 span {
  display: block;
  font-size: 12px;
}
.nueva h3 {
  font-size: 15px;
}
.nueva {
	padding: 25px 0;
}


.facebook-login {
	background: #0067F4;
	display: inline-block;
	color: #fff;
	font-family: 'Nunito', sans-serif;
  font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
	width: 100%;
	border-radius: 4px;
	border: none;
}

.facebook-login button {
	background: none;
	border: none;
	color: white;
	font-weight: 700;
	padding: 10px;
	height: 100%;
	width: 100%;
}

.nueva a sapn i.fa {
	font-size: 20px;
	margin-right: 10px;
	transform: translateY(2px);
}
.modal-header {
	border-bottom: none;
	position: absolute;
	right: 0;
}
.modal-content, .modal-content-transparent {
	margin: 0 auto;
	border: none;
	border-radius: 5px;
	padding: 0 8px;
}

.modal-mobile {
	margin: 0 auto;
	border: none;
	border-radius: 0;
	padding: 0 10px;
}

.sign-up-form input[type="email"], .sign-up-form input[type="password"], .sign-up-form input[type="text"], .sign-up-form input[type="number"] {
	border: none;
	text-align: center;
	background: var(--light-gray);
	margin-bottom: 10px;
	padding: 10px;
	color: var(--gray);
	font-family: 'Nunito', sans-serif;
  font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1800 - 320)));
  font-weight: 700;
	width: 100%;
	border-radius: 4px;
}

.signup-continue {
	width: 100%;
}

.una {
	margin-top: 20px;
	font-size: 12px;
	color: #000;
}
.una {
	margin-top: 20px;
	font-size: 12px;
	color: #000;
}
