<!-- Carousel -->
<div class="col-12 pd-0-f">
  <div id="carouselFeaturedAds" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators d-none">
      <li data-target="#carouselFeaturedAds" data-slide-to="0" class="active"></li>
      <li data-target="#carouselFeaturedAds" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <% @active_banners.each_with_index do |banner, index| %>
      <div class="carousel-item <%= "active" if index == 0 %>">
        <% if banner.url.present? %>
        <%= link_to banner.url_with_protocol, target: (banner.external_url.present?)?"_blank" :"_self" do %>
          <%= image_tag banner.image.url, class: "w-100" %>
        <% end %>
        <% else %>
          <%= image_tag banner.image.url, class: "w-100" %>
        <% end %>
      </div>
      <% end %>

    </div>
    <!-- arrows -->
    <a class="carousel-control-prev " href="#carouselFeaturedAds" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"><i data-feather="chevron-left" class="arrow-shadow"></i></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next " href="#carouselFeaturedAds" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"><i data-feather="chevron-right" class="arrow-shadow"></i></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- End carousel -->
