<div class="container  Get_Pro_Services">
   <div class="row">
      <div class="col-lg-8">
      </div>
      <!-- <div class="col-lg-4 text-right"> <a style="color: green;" > View All <i class="fa fa-chevron-right" style="font-size: 12px;">
         </i></a>
      </div> -->
   </div>
   <div class="row">
      <%= render partial: "gigs/gig", collection: @liked_gigs %>
      <div class="gap"></div>
   </div>
</div>
