<div class="container page3slides-area3">
  <div class="row">

    <div class="page3slide-titles1">
      <h3>Jales Populares</h3>
    </div>

    <div class="page3slides-wrapd owl-carousel gigs-carousel popular-gigs-carousel">

      <%= render @popular_gigs %>
    </div>
  </div>
</div>
