<div class="container  Get_Pro_Services">
   <div class="row">
      <div class="col-lg-8">
         <h3>Resultados de búsqueda "<%= params[:query] %>" </h3>
      </div>

   </div>
   <div class="row">
     <% if @search_gigs.any? %>
     <div class="pagination-links">
         <%= paginate @search_gigs %>
     </div>
      <%= render partial: "gigs/gig", collection: @search_gigs %>
      <div class="pagination-links">
          <%= paginate @search_gigs %>
      </div>
    <% else %>
      Ninguna coincidencia para tu búsqueda
    <% end  %>
      <div class="gap"></div>
   </div>
</div>
