<div class="row">
  <% if @search_gigs.any? %>
    <div class="pagination-links">
      <%= paginate @search_gigs %>
    </div>
    <%= render partial: "gigs/gig", collection: @search_gigs %>
    <div class="pagination-links">
      <%= paginate @search_gigs %>
    </div>
  <% else %>
    Ninguna coincidencia para tu búsqueda
  <% end  %>
  <div class="gap"></div>
</div>
