<div class="container section Featured_gig ">
   <div class="row">
      <div class="col-lg-8">
         <h3>Featured Gigs</h3>
         </p>
      </div>
   </div>
   <!--  -->
   <div class="row">
      <!-- 1 -->
      <% 5.times do %>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12 single_gig">
         <div class="get_pro_content">
            <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Get_Pro_Services_img1.jpg">
            <div class="get_pro_content_container">
               <a class="gig_avatar_"><img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/gig_avatr.png">Name</a>
               <br>
               <a href="#">I will create youtube channel intro</a>
               <br>
               <br>
               <div class="row">
                  <div class="col-lg-6">
                     <div  class="gig-rating"><i class="fa fa-star"></i>5.0 <span>(2)</span></div>
                  </div>
                  <div class="col-lg-6">
                     <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/pro-badge-outline-2.0.1b29959.svg">
                  </div>
               </div>
            </div>
            <!--  -->
            <hr>
            <!--  -->
            <div class="favourites_and_price">
               <div class="row">
                  <div class="col-lg-4">
                     <i class="fa fa-bars"></i>
                     <i class="fa fa-heart"></i>
                  </div>
                  <div class="col-lg-8">
                     <span>Starting At</span><strong> $800</strong>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% end %>

      <div class="gap"></div>
   </div>
</div>
