<div class="container section Similar_To_Items ">
   <div class="row">
      <div class="col-lg-8">
         <h3>Similar To Items You’ve Viewed</h3>
         </p>
      </div>
   </div>
   <!--  -->
   <div class="row">
      <%= render partial: "gigs/gig", collection: @recommended_gigs %>
      <div class="gap"></div>
   </div>
   <div class="gap"></div>
</div>
