<div class="container section Featured_gig ">
   <div class="row">
      <div class="col-lg-8">
         <h3>Featured Gigs</h3>
         </p>
      </div>
   </div>
   <!--  -->
   <div class="row">
     <%= render partial: "gigs/gig", collection: @featured_gigs %>
      <div class="gap"></div>
   </div>
</div>
