<div class="container section slider_and_user">
  <div class="row">

    <div class="col-lg-3">
<div class="user_welcome text-center">
   <h4> Hi User name,</h4>
    <p>Get offers from sellers for your project</p>

<a href="#" class="post_request_call">Post a rquest </a>
</div>
    </div>
    <div class="col-lg-9">
        <section class="regular slider">
            <div>
              <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/logged_in_sldier1.jpg">
            </div>
            <div>
              <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/logged_in_sldier1.jpg">
            </div>
            <div>
              <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/logged_in_sldier1.jpg">
            </div>

          </section>

    </div>
  </div>
</div>
