<div class="catagorislide-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="catagori-title">
          <h1>Categorías</h1>
        </div>
        <div class="catagori-slidewrap">
          <div class="catagorisingle-slide">
            <i class="fa fa-home"></i>
            <p>Hogar</p>
          </div>
          <div class="catagorisingle-slide">
            <i class="fa fa-glass" aria-hidden="true"></i>
            <p>Eventos</p>
          </div>
          <div class="catagorisingle-slide">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <p>Manteni- <br> miento</p>
          </div>
          <div class="catagorisingle-slide">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <p>Comida</p>
          </div>
          <div class="catagorisingle-slide">
            <i class="fa fa-home"></i>
            <p>Deportes</p>
          </div>
          <div class="catagorisingle-slide">
            <i class="fa fa-deviantart" aria-hidden="true"></i>
            <p>Deportes</p>
          </div>
          <div class="catagorisingle-slide">
            <i class="fa fa-slideshare" aria-hidden="true"></i>
            <p>Hogar</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared_user/root/gig_verified_list' %>

<%= render 'shared_user/root/gig_recommended_list' %>

<%= render 'shared_user/root/gig_featured_list' %>
