<%= render 'shared_user/root/gig_verified_list' %>

<%= render 'shared_user/root/gig_recommended_list' %>

<%= render 'shared_user/root/gig_featured_list' %>

<main role="main">

  <div class="album py-5 bg-light">

    <div class="container">

      <div class="row">
        <%= render @gigs %>
      </div>
    </div>
  </div>
</main>
