<div class="container  Get_Pro_Services">
  <div class="row">
    <div class="col-lg-8">
      <h3>Resultados de búsqueda "<%= params[:query] %>" en <%= params[:model_name] %>
      </h3>
    </div>
  </div>
<% if params[:model_name] == "gigs" %>
  <%= render 'shared_user/root/gig_search_list' %>
<% else %>
  <%= render 'shared_user/root/request_search_list' %>
<% end %>
</div>
