<div class="container page3slides-area3">
  <div class="card text-center invite-friends-card col-lg-6 col-centered">
    <div class="card-body">
      <h5 class="card-title">¡Invita a tus Amigos!</h5>
      <p class="card-text">¿Conoces a alguien que ofrezca un servicio? <br> ¡Invítalo a Jalecitos hoy mismo!</p>
      <div class="col-6 col-centered">
        <a href="#" class="btn default-btn btn-block" id="invite-friend">Invitar</a>
      </div>
    </div>
  </div>
</div>
