<div class="container page3slides-area3">
  <div class="row">

    <div class="page3slide-titles1">
      <h3>Pedidos Recientes</h3>
    </div>

    <div class="page3slides-wrapd owl-carousel requests-carousel">
      <%= render @recent_requests %>
    </div>
  </div>
</div>
