<h2>Bloqueos</h2>
<h4>Esta página no incluye los pedidos bloqueados (ya que no pueden desbloquearse)</h4>
<div class="table-responsive paginator_container">
  <table class="admin-table table table-striped table-sm ban">
    <thead>
      <tr>
        <th>Creación</th>
        <th>Objeto</th>
        <th>Causa</th>
        <th>Comentario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="paginated_bans">
      <%= render partial: 'admins/ban', collection: @bans %>
    </tbody>
  </table>
  <%= paginate @bans, param_name: :ban,
   :params => {:current => :ban} %>
</div>
