<div class="col-md-12">
  <h2>Reportes y Bloqueos</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm ban">
      <thead>
        <tr>
          <th></th>
          <th>Causa</th>
          <th>Comentario</th>
          <th>Creacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'bans/ban_dashboard', collection: @bans %>
      </tbody>
    </table>
    <%= paginate @bans, param_name: :ban_page %>
  </div>
</div>
