<div class="col-md-12">
  <h2>Disputas</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Empleado</th>
          <th>Empleador</th>
          <th>Orden</th>
          <th>Precio</th>
          <th>Estado de Disputa</th>
          <th>Estado de Orden</th>
        </tr>
      </thead>
      <tbody>
          <%= render partial: 'disputes/dispute_dashboard', collection: @disputes %>
      </tbody>
    </table>
    <%= paginate @disputes, param_name: :dispute_page %>
  </div>
</div>
