<div class="col-md-8">
  <h2>Gigs</h2>
  <div class="admin-chart row">
    <div class="col-6">
      <h4>Por estado</h4>
      <%= pie_chart Gig.group(:status).count %>
    </div>
    <div class="col-6">
      <h4>Por Fecha</h4>
      <%= line_chart Gig.group_by_day(:created_at).count %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Autor</th>
          <th>Imagen</th>
          <th>Fecha</th>
          <th>Ordenes</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'gigs/gig_dashboard', collection: @gigs %>
      </tbody>
    </table>
    <%= paginate @gigs, param_name: :gig_page %>
  </div>
</div>
