<li class="nav-item">
  <%= link_to "Listar Categorias", categories_path, :class => 'nav-link'  %>
</li>
<li class="nav-item">
  <%= link_to "Nueva Categoria", new_category_path, :class => 'nav-link'  %>
</li>
<li class="nav-item">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link' =%>
</li>
