
  <h2>Tickets</h2>
  <div class="table-responsive paginator_container">
    <table class="admin-table table table-striped table-sm ban">
      <thead>
        <tr>
          <th>Title</th>
          <th>User</th>
          <th>Priority</th>
          <th>Turno</th>
          <th>Status</th>
          <th>Updated time</th>
        </tr>
      </thead>
      <tbody class="paginated_tickets">
        <%= render partial: 'admins/ticket', collection: @tickets %>
      </tbody>
    </table>
    <%= paginate @tickets, param_name: :ticket,
     :params => {:current => :ticket} %>
  </div>
