<div class="card">
  <div class="card-header" id="headingSix">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="<%= (params[:collapse] == "account")? "true" : "false" %>" aria-controls="collapseSix">
        Cuenta
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
    </h5>
  </div>
  <div id="collapseSix" class="collapse <%= "show" if params[:collapse] == "account" %>" aria-labelledby="headingSix" data-parent="#accordion">
    <div class="card-body">
      <div class="Cuenta-content">
        <% if ! @user.verified? %>
          <div class="perfil-text">
            <h4>Verificación de perfil
              <a href="<%= new_verification_path %>">Solicitar verificacion</a>
            </h4>
          </div>
        <% else %>
          <div class="verificado-btn">
            <button class="default-btn">¡Felicidades!
              <br>
              Tu perfil ha sido verificado.</button>
          </div>
        <% end %>
        <br>
        <div class="perfil-text">
          <h4>Contraseña
            <button id="changepassbtn2" class="default-btn">Cambiar Contraseña</button>
          </h4>
        </div>
        <div class="Eliminar-cuenta">
          <h4>Eliminar cuenta</h4>
          <h5>¿Qué pasa cuando elimino mi cuenta?</h5>
          <div class="Eliminar-cuenta-list">
            <li>
              <span></span>Tu perfil, tus jales, y tus pedidos ya no serán visibles en Jalecitos.</li>
            <li>
              <span></span>Tus ordenes activas serán canceladas y no seran reembolsara el dinero.</li>
            <li>
              <span></span>Se borrarán tus tarjetas y bancos asociados a la cuenta.</li>
            <li>
              <span></span>Tu cuenta de correo ya no podra ser utilizada de nuevo para un nuevo registor en Jalecitos.</li>
          </div>
        </div>
        <div class="Eliminar-cuenta-btn">
          <%= link_to "Cancelar mi cuenta", registration_path(resource_name), class: "default-deny-btn", data: { confirm: "Una vez que aceptes, no podras utilizar este e-mail de nuevo. ¿Estás Seguro de cancelar tu cuenta?" }, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
