<div class="profile-sidebar mg-t-40 mg-lg-t-0 pd-lg-l-25">
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg">
      <div class="d-flex align-items-center justify-content-between mg-b-20">
        <h6 class="tx-13 tx-spacng-1 tx-uppercase tx-semibold mg-b-0">Reseñas</h6>
      </div>
      <ul class="list-unstyled media-list mg-b-15">
        <li class="media">
          <a href="">
            <div class="avatar"><img src="https://source.unsplash.com/random?sig=135" class="rounded-circle"></div>
          </a>
          <div class="media-body pd-l-15">
            <p class="tx-medium mg-b-0"><a href="" class="link-01">usuario5   <span class="tx-warning"><i data-feather="star" class="feather-12 tx-warning filled tx-warning filled"></i> 4.5</span></a></p>
            <div>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="">Leer más</a></span>

            </div>
          </div>
        </li>
        <li class="media">
          <a href="">
            <div class="avatar"><img src="https://source.unsplash.com/random?sig=135" class="rounded-circle"></div>
          </a>
          <div class="media-body pd-l-15">
            <p class="tx-medium mg-b-0"><a href="" class="link-01">usuario5   <span class="tx-warning"><i data-feather="star" class="feather-12 tx-warning filled tx-warning filled"></i> 4.5</span></a></p>
            <div>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="">Leer más</a></span>

            </div>
          </div>
        </li>
        <li class="media">
          <a href="">
            <div class="avatar"><img src="https://source.unsplash.com/random?sig=135" class="rounded-circle"></div>
          </a>
          <div class="media-body pd-l-15">
            <p class="tx-medium mg-b-0"><a href="" class="link-01">usuario5   <span class="tx-warning"><i data-feather="star" class="feather-12 tx-warning filled tx-warning filled"></i> 4.5</span></a></p>
            <div>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="">Leer más</a></span>

            </div>
          </div>
        </li>
        <li class="media">
          <a href="">
            <div class="avatar"><img src="https://source.unsplash.com/random?sig=135" class="rounded-circle"></div>
          </a>
          <div class="media-body pd-l-15">
            <p class="tx-medium mg-b-0"><a href="" class="link-01">usuario5   <span class="tx-warning"><i data-feather="star" class="feather-12 tx-warning filled tx-warning filled"></i> 4.5</span></a></p>
            <div>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="">Leer más</a></span>

            </div>
          </div>
        </li>
        <li class="media">
          <a href="">
            <div class="avatar"><img src="https://source.unsplash.com/random?sig=135" class="rounded-circle"></div>
          </a>
          <div class="media-body pd-l-15">
            <p class="tx-medium mg-b-0"><a href="" class="link-01">usuario5   <span class="tx-warning"><i data-feather="star" class="feather-12 tx-warning filled tx-warning filled"></i> 4.5</span></a></p>
            <div>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="">Leer más</a></span>

            </div>
          </div>
        </li>
        <li class="media">
          <a href="">
            <div class="avatar"><img src="https://source.unsplash.com/random?sig=135" class="rounded-circle"></div>
          </a>
          <div class="media-body pd-l-15">
            <p class="tx-medium mg-b-0"><a href="" class="link-01">usuario5   <span class="tx-warning"><i data-feather="star" class="feather-12 tx-warning filled tx-warning filled"></i> 4.5</span></a></p>
            <div>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="">Leer más</a></span>

            </div>
          </div>
        </li>
      </ul>
      <a href="" class="link-03 d-inline-flex align-items-center">Ver más reseñas <i data-feather="chevron-down" class="mg-l-5 mg-t-1 feather-12"></i></a>
    </div><!-- col -->

  </div><!-- row -->
</div><!-- profile-sidebar -->
