<!-- The Modal -->
<div class="modal" id="iosInstallModal">

  <!-- Modal content -->
  <div class="modal-content modal-configuration">
    <!-- <span class="close">&times;</span> -->
    <div class="text-center">

      <h3>Instalar Jalecitos</h3>

      <p class="welcome_body">Instala esta aplicacion en tu pantalla de inicio para acceso facil y rapido!</p>

      <button id="close" class="btn btn-success close_welcome" onclick="$('#welcomeScreen').hide();">Entendido</button>

    </div>

  </div>

</div>
