<div class="current_img img-thum", style="position: relative;">
  <%= link_to image_tag(image.url, width: 250, class: "delete-image"),
      gallery_path(image.file.filename, gig_id: @gig.id),
      method: :delete, data: {confirm: "¿Estás seguro de borrar este elemento?"},
      remote: true%>
      <%= icon("fas","trash", class: "del-img-icon fa-4x", onclick: "$(this).closest('div.current_img').find('img.delete-image').click();") %>
</div>
