<span class="tooltiptext" id="config_tag_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Define tus etiquetas</h3>
    </div>
    <p>Las etiquetas nos ayudan a notificarte cuando hay un pedido adecuado para ti en tu ciudad.</p>

    <p class="example">
      <span>Por ejemplo:
      </span>
      si usas la etiqueta "fotógrafo" y alguien en tu ciudad realiza un pedido relacionado con la fotografía, se te notificará.</p>

      <p>Ten en cuenta que debes tener una ubicación  para que esto funcione, en caso de no ser así, puedes ir a
      <a href="#" onclick="event.preventDefault();$('#headingOne button.btn-link').click();$('#config_autocomplete').focus();"
      >Editar perfil</a>.</p>
  </figure>
</span>
