<div class="screen-size-wrapper">
  <div class="row h-100">
    <div class="col-12 pd-0 collapse" id="filterBar">
      <form action="">
        <div class="form-row">
          <div class="form-group col-md-2">
            <select class="custom-select">
              <option selected="selected">Publicación</option>
              <option value="1">Pedido</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <input class="form-control" placeholder="Ubicación">
          </div>
          <div class="form-group col-md-2">
            <select class="custom-select">
              <option selected="selected">Categoria</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group col-xs-6 col-md-2">
            <input type="number" class="form-control" placeholder="Precio Máximo">
          </div>
          <div class="form-group col-xs-6 col-md-2">
            <input type="number" class="form-control" placeholder="Precio Mínimo">
          </div>
          <div class="form-group col-md-2">
            <select class="custom-select">
              <option selected="selected">Ordenar</option>
              <option value="1">Relevancia</option>
              <option value="2">Precio</option>
              <option value="3">Distancia</option>
            </select>
          </div>
          <!-- <div class="form-group col-md-2"> <input type="password" class="form-control" placeholder="Password"> </div> -->
        </div>
      </form>
    </div>


    <div class="col-sm-12 col-md-8 col-lg-6 pd-md-l-0 h-100">

        <div class="col-12 d-flex align-items-center justify-content-between pd-0">
          <h4 class="mg-b-0 tx-spacing--1">
            <strong><%= @gigs.total_count %></strong>
            resultados en
            "<strong><%= params[:query]|| " " %></strong>"
          </h4>
          <div class="btn-group mg-l-5" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark" data-toggle="collapse" href="#filterBar">
              <i data-feather="filter" class="d-inline"></i>
              Filtros</button>
              <button type="button" class="btn btn-secondary d-xs-inline d-md-none" id="searchListToggle">
                <i data-feather="map-pin"></i>
                Mapa</button>
              </div>
            </div>
      <div id="searchList" class="paginated-gigs ht-90p overflow-y-auto">
        <%= render partial: 'shared/queries/gig', collection: @gigs %>
        <%= paginate @gigs, param_name: :gigs %>
      </div>
    </div>
    <% if @gigs.any? %>
    <div class="col-sm-none col-md-4 col-lg-6" id="searchmap"></div>
    <% end %>
  </div>
</div>
