<div class="container catagorislide-area">
<h2 class="category-carousel-title">Categorías</h2>
  <!-- Slider main container -->
<div class="category-carousel">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <%= render Category.all %>
    </div>
</div>
</div>
