<tr>
  <td><%= category_admin.name %></td>
  <td><%= link_to content_tag("span", "", class: "fe fe-edit"), edit_category_path(category_admin) %></td>
  <td><%= link_to content_tag("span", "", class: "fe fe-trash"), category_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
