<div class="container catagorislide-area">
  <div class="row">
    <div class="catagori-title">
      <h1>Categorías <%= request.location.city %></h1>
    </div>
    <div class="owl-carousel category-carousel">
      <%= render  Category.all %>
    </div>
  </div>
</div>
