<div class="swiper-slide">
  <%= link_to search_path(query: "*", category_id: category.id, city_id: "#{current_user.city_id}", device: "#{"mobile" if cookies.signed[:mb]}" ) do %>
  <div class="catagorisingle-slide">
    <%= icon('fas', category.icon) %>
    <h6><%= category.name %></h6>
  </div>
<% end %>
</div>
