<%= link_to user_search_path(query: "*", category_id: category.id, city_id: "#{current_user.city_id}")do %>
<div class="catagorisingle-slide">
  <%= icon('fas', category.icon) %>
  <h5><%= category.name %></h5>
</div>
<% end %>
