<div class="modal fade" id="showmapModal" tabindex="-1" role="dialog" aria-labelledby="showmapModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
          <div class="vh-50" id="elementMap"></div>
        </div>
        <div class="modal-footer justify-content-between">
          <button class="btn btn-secondary" type="cancel" data-dismiss="modal">Cerrar</button>
          <%#dont show the link in gig show %>
          <%= link_to "Ver más", "#", id: "see_more_element", class: "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>
