<div class="col-lg-6 col-md-12 order-xs-2 order-sm-2 order-lg-1">
  <div class="alert alert-warning" role="alert">Vista Previa de la publicación</div>
  <h1 preview="gig[name]">Realizarte una sesión de fotografías</span></h1>
  <p class="tx-gray-500"><%= rand(100..1000) %> Me gusta</p>


  <div class="row row-xs mg-sm-t-10 mg-b-10 mg-t-15">
    <div class="col-12">
      <div id="carouselExample2" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner gig-show-picture preview bg-black-8">
          <div class="carousel-item gig preview active">
            <img src="https://source.unsplash.com/random?sig=4" alt="...">
          </div>
          <div class="carousel-item gig preview">
            <img src="https://source.unsplash.com/random?sig=5" alt="...">
          </div>
          <!-- more items goes here -->
        </div>
        <a class="carousel-control-prev" href="#carouselExample2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
            <i data-feather="chevron-left"></i>
          </span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <i data-feather="chevron-right"></i>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <p preview="gig[description]">
    Fotógrafo profesional con x años de experiencia. Ofrezco servicios de fotografía de calidad para eventos. Manejo paquetes de sesiones individuales o de pareja, 1 hora de fotografías con 15 fotos editadas.
  </p>

  <div class="accordion">
    <h6>What does royalty free mean?</h6>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, officia ab asperiores hic harum eveniet totam optio fugit excepturi facilis dolores alias aut, molestiae autem necessitatibus iste, saepe aliquam nihil!</p>
    </div>
    <h6>What do you mean by item and end product?</h6>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore blanditiis necessitatibus illo, porro vero unde numquam, minus animi nisi reiciendis cumque sit laboriosam totam doloribus error hic! Aliquam, ducimus, quibusdam!
      </p>
    </div>
    <h6>What are some examples of permitted end products?</h6>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi soluta ad distinctio asperiores saepe! Molestiae fugiat libero ratione, ipsa eveniet saepe officia accusamus labore magni repudiandae porro! Iste, velit, reiciendis.</p>
    </div>
  </div>
</div>
