<div class="separation">

</div>
<div id="section_parent">
  <h3>Jale</h3>
  <section>
    <%= render 'form', gig: @gig %>
  </section>
  <h3>Galería</h3>
  <section>
    <%= render 'galleries/form', gig: @gig %>
  </section>

  <h3>Paquetes</h3>
  <section>
    <div class="container">
      <%= render 'packages/form', package: @gig.gig_packages %>
    </div>
  </section>
</div>
