

<div class="row">
  <div class="col-lg-9">
    <%= render 'shared/gigs/show/gig_info2' %>
</div><!-- col -->
<div class="col-lg-3 mg-t-40 mg-lg-t-0" gig_card_info>
  <% @show_packages = true %>
  <%= render 'shared/gigs/show/packages_info' %>
  <%= render 'shared/gigs/show/user_about2' %>
  </div>
</div>
