<div class="catagorislide-area innerpages3-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <%= render 'shared/gigs/show/inner_left' %>
      </div>
      <div class="col-lg-4 col-md-5">
        <%= render 'shared/gigs/show/package_info' %>

        <%= render 'shared/gigs/show/user_card_info' %>
      </div>
    </div>
  </div>
</div><%= render 'reports/gig', collection: @gig %>
