<div class="section container-fluid YOur_brand ">
   <div class=" container YOur_brand_container">
      <section class="regular slider self_drug slider_self brand">
         <!-- row -->
         <div class="row ">
            <!--  -->
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 right_slider_col">
               <figcaption>
                  <h3>Your Brand Matters</h3>
                  <blockquote>I've used Jalecitos for logos, websites,<br> everything.
                     I still use it every week
                  </blockquote>
                  <p>Boice-Terrel Allen, Podcaster, Talk Music Talk</p>
               </figcaption>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 left_slider_col">
               <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/your_brand.jpg") %>
            </div>
         </div>
         <!--  -->
         <!--  -->
         <div class="row ">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 right_slider_col">
               <figcaption>
                  <h3>Simplify Your Needs</h3>
                  <blockquote>The work is so professional,
                     it's <span class="desktop-br"></span>really amazing.
                  </blockquote>
                  <p>Irina Lebedeva, Website Developer</p>
               </figcaption>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 left_slider_col">
               <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/simiplify.jpg") %>
            </div>
         </div>
         <!--  -->
         <!--  -->
         <!--  -->
         <!--  -->
         <div class="row ">
            <!--  -->
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 right_slider_col">
               <figcaption>
                  <h3>Time Is Money</h3>
                  <blockquote>It took a lot of stress off of me. It
                     allowed me to focus on my business
                  </blockquote>
                  <p>Robin DeMarco, Founder, Coached by Robin</p>
               </figcaption>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 left_slider_col">
               <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/time_is_money.jpg") %>
            </div>
         </div>
         <!--  -->
         <!--  -->
      </section>
   </div>
</div>
