<div class="todod-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contactd-heading">
          <h2>Encuentra expertos para <span>todo</span> </h2>
          <p>Jalecitos es la aplicación donde podrás comprar o vender servicios a otros cerca de ti, a través de una simple interfaz.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="todod-bg">
          <%= image_tag "https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/find_experts.png", lazy: true %>
        </div>
        <div class="todoo1">
          <%= image_tag "https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/find_experts2.png", lazy: true %>
        </div>

        <div class="todoo1-gg">
          <%= image_tag "https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/find_experts3.png", lazy: true %>
        </div>

      </div>
    </div>
  </div>
</div>
