<div class="todod-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contactd-heading">
          <h2>Obtén presencia en <span>internet</span> </h2>
          <p>Si <b style="color:black;">no cuentas con una página web</b>, Jalecitos es la aplicación que se encarga de que tu negocio <b style="color:black;">aparezca en internet</b>.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="todod-bg">
          <%= image_tag "https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/find_experts.png" %>
        </div>
        <div class="todoo1">
          <%= image_tag "https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/find_experts2.png", lazy: true %>
        </div>

        <div class="todoo1-gg">
          <%= image_tag "https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/find_experts3.png", lazy: true %>
        </div>

      </div>
    </div>
  </div>
</div>
