<div class="contactd-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contactd-heading">
          <h2>Contrata expertos</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="singlecontactd-box">
          <div class="contacd-icon">
           <%= icon("fas", "hand-point-right") %>
          </div>
          <div class="contactd-content">
            <h4>Gana dinero haciendo lo que sabes hacer</h4>
            <p>Oferta jales para ser seleccionado y empieza a ganar dinero.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="singlecontactd-box">
          <div class="contacd-icon">
            <%= icon("fas", "search") %>
          </div>
          <div class="contactd-content">
            <h4>Encuentra servicios que otras personas ofrecen </h4>
            <p>Busca servicios y ﬁltra fácilmente de acuerdo a tus necesidades. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="singlecontactd-box">
          <div class="contacd-icon">
            <%= icon("fas", "credit-card") %>
          </div>
          <div class="contactd-content">
            <h4>Tu dinero está protegido </h4>
            <p>Paga, reembolsa o retira dinero fácil, rápido y seguro.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
