<section class="features-icons bg-light text-center">
    <div class="container">
    <div class="row">
        <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Programming & Tech</h3>
            <p class="lead mb-0">Find for the best programmer to work on your next great idea!</p>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
            <i class="icon-home m-auto text-primary"></i>
            </div>
            <h3>House</h3>
            <p class="lead mb-0">Need help with housework? This is your place!</p>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
            <i class="icon-briefcase m-auto text-primary"></i>
            </div>
            <h3>Fix</h3>
            <p class="lead mb-0">Fix all your broken stuff in a few clicks!</p>
        </div>
        </div>

        <!--- Second Layer -->
        <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
            <i class="icon-calculator m-auto text-primary"></i>
            </div>
            <h3>Math and Finance</h3>
            <p class="lead mb-0">Deserunt magna qui minim irure reprehenderit.</p>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
            <i class="icon-present m-auto text-primary"></i>
            </div>
            <h3>Presents and Events</h3>
            <p class="lead mb-0">Est ex labore fugiat fugiat aute officia dolore tempor non elit.</p>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
            <i class="icon-picture m-auto text-primary"></i>
            </div>
            <h3>Graphic Design and Art</h3>
            <p class="lead mb-0">Enim quis consequat do ad culpa ex commodo ea sit nisi id culpa.</p>
        </div>
        </div>

    </div>
    </div>
</section>
