<div class="section  Jalecitos_Guides ">
   <div class="container">
      <div class="row text-center">
         <div class="col-lg-12">
            <h2>Jalecitos Guides</h2>
            <p>How to use Jalecitos to build and grow your business</p>
            <div class="gap"></div>
         </div>
      </div>
      <div class=" row ">
         <!--  -->
         <div class="col-lg-4 col-md-4 Jalecitos_Guides_boxes">
            <a href="">
               <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/create_websote.jpg") %>
               <h3>Create A Website</h3>
               <p>Building a stunning website from A to Z</p>
            </a>
         </div>
         <!--  -->
         <!--  -->
         <div class="col-lg-4 col-md-4  Jalecitos_Guides_boxes">
            <a href="">
               <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/grow_with_digital.jpg") %>
               <h3>Grow with digital marketing</h3>
               <p>Promoting your business online</p>
            </a>
         </div>
         <!--  -->
         <!--  -->
         <div class="col-lg-4  col-md-4 Jalecitos_Guides_boxes">
            <a href="">
               <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/create_websote.jpg") %>
               <h3>Build a Strong Brand</h3>
               <p>Differentiating yourself from the competition</p>
            </a>
         </div>
         <!--  -->
      </div>
      <div class="row text-center">
         <div class="col-lg-12">
            <div class="gap"></div>
            <div class="gap"></div>
            <a href="#" class="green_btn ">See More Guides</a>
            <div class="gap"></div>
         </div>
      </div>
   </div>
</div>
