<div class="slider main_banner">
    <div class="contnt">
      <h1>Don't Just Dream, Do</h1>
      <p>Freelance services. On demand.</p>

      <div class="search_banner">

          <input class="js-search-input js-report-to-aux-data" name="query" placeholder="What service are you looking for?" type="text" autocomplete="off">
          <input type="submit" class="btn-lrg-standard btn-submit js-search-submit" value="Search">

      </div>
    </div>
    <div class="slide1"></div>
    <div class="slide2"></div>
    <div class="slide3"></div>
    <div class="slide4"></div>
    <div class="slide5"></div>
</div>
