

<div class="hero-darea">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="herod-leftcontentwrap">
          <div class="herodleft-side">
            <h1>Talento <br> cerca de ti.</h1>
            <p>Encuentra los servicios que necesitas u oferta tus propias habilidades en tu comunidad de forma fácil, rápida y segura.</p>
          </div>


          <div class="maild-form-wraps">
            <div class="mail-form">
              <input type="email" placeholder="Prueba con “reparación”">
              <i class="fa fa-search"></i>
              <i class="fa fa-arrow-right"></i>
            </div>



            <div class="herod-leftmenu-wrap">
              <nav>
                <ul>
                  <li><a href="">Populares</a></li>
                  <li><a href="">Limpieza</a></li>
                  <li><a href="">Clases</a></li>
                  <li><a href="">Reparación</a></li>
                </ul>
              </nav>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

</div>
