<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav  ml-auto">
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#solution" style="color:#1fd0b6 !important;">Jalecitos Verificados

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="start_selling.html">Become a Seller
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" id="sign_in">Iniciar sesión
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" id="sign_up">Registrarme</a>
    </li>
  </ul>
</div>
