<div class="headertop-right">
  <div class="bellposition">
    <a href="#" id="sign_in">
      <i class="fa fa-envelope"></i><br>
      iniciar sesión
    </a>
    <span onclick="getLocation();">
    <a href="#" id="sign_up">
      <i class="fa fa-exchange" aria-hidden="true"></i><br>
      Registrarme
    </a>
  </span>
  </div>
</div>
