<div class="headerd-mainmenu">
  <nav id="mobile-menu">
    <ul>

      <li><a href="">¿Cómo funciona? </a></li>
      <li><a href="">Soy un experto</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="" id="sign_in">Iniciar sesión</a></li>
      <li><a href="" id="sign_up">regístrate</a></li>
    </ul>
  </nav>
</div>
