<ul>
  <li><a href="https://blog.jalecitos.com/trabajo/contratar-expertos-internet/" target="_blank"><h5>¿Cómo funciona?</h5></a></li>
  <li><a href="https://blog.jalecitos.com/trabajo/buscar-trabajo-en-internet/" target="_blank"><h5>Soy un experto</h5></a></li>
  <li><a href="https://blog.jalecitos.com/blog" target="_blank"><h5>Blog</h5></a></li>
  <li onclick="getLocation();"><a href="" id="sign_in"><h5>Iniciar sesión</h5></a></li>
  <li onclick="getLocation();"><a href="" id="sign_up"><h5>Regístrate</h5></a></li>
</ul>
