<ul>
  <li><a href="https://blog.jalecitos.com/trabajo/contratar-expertos-internet/" target="_blank">¿Cómo funciona? </a></li>
  <li><a href="https://blog.jalecitos.com/trabajo/buscar-trabajo-en-internet/" target="_blank">Soy un experto</a></li>
  <li><a href="https://blog.jalecitos.com/blog" target="_blank">Blog</a></li>
  <li onclick="getLocation();"><a href="" id="sign_in">Iniciar sesión</a></li>
  <li onclick="getLocation();"><a href="" id="sign_up">regístrate</a></li>
</ul>
