<div class="greenbgd-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="maingreenbgd">
          <div class="container ready_to">

            <div class="greend-left">
              <h2>¿Listo para ser<br>un experto?</h2>
            </div>

            <div class="greend-right">
              <a href="#" id="ready_to"><h4>Ofertar jale</h4></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
