<div class="greenbgd-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="maingreenbgd">
          <div class="container ready_to">

            <div class="greend-left">
              <h2>¿Quieres tener presencia en internet<br>totalmente gratis?</h2>
            </div>

            <div class="greend-right">
              <a href="#" class="sign_up" id="ready_to"><h4>Regístrate</h4></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
