<div class="greenbgd-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="maingreenbgd">
          <div class="row">
            <div class="col-7">
              <div class="greend-left">
                <h4>¿Listo para ser un <br> experto en Jalecitos?</h4>
              </div>
            </div>
            <div class="col-5">
              <div class="greend-right">
                <a href="">Oferta un jale</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
