<div class="mobiled-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contactd-heading">
          <h2>Conoce Jalecitos</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="singlemobiled text-right mobileds">
          <div class="oferta">
            <h4>Oferta jales</h4>
            <p>Ofrece   tu trabajo  y lo que sabes hacer para ganar dinero.</p>
          </div>
          <script type="application/ld+json">
                {
                  "@context": "https://schema.org",
                  "@type": "FAQPage",
                  "mainEntity": [{
                    "@type": "Question",
                    "name": "¿Puedo usar Jalecitos para mi negocio u ofertar servicios?",
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "Así es. Puedes utilizar Jalecitos para ofrecer tus servicios en línea. Si eres un pequeño negocio o una persona, puedes comenzar a vender y facturar por Jalecitos."
                    }}]}
            </script>
        

          <div class="oferta">
            <h4>Sistema de disputas</h4>
            <p>Nuestro sistema requiere que ambas partes estén de acuerdo para ﬁnalizar la orden.</p>
          </div>

          <div class="oferta">
            <h4>Chat en tiempo real</h4>
            <p>Conecta con un experto en tiempo real.</p>
          </div>
          <script type="application/ld+json">
                {
                  "@context": "https://schema.org",
                  "@type": "FAQPage",
                  "mainEntity": [{
                    "@type": "Question",
                    "name": "¿Ya encontré a mi experto, ahora qué hago?",
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "Comienza una conversación para revisar su disponibilidad y acordar más detalles. Después procede a contratarlo con la seguridad de satisfacción que te ofrece la plataforma."
                    }}]}
            </script>
        
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="singlemobiled text-center">
          <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/mobile.png") %>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="singlemobiled mobileds sony sonyp">
          <div class="oferta">
            <h4>Publica pedidos</h4>
            <p>Personaliza tu búsqueda para que un experto se postule y elijas al mejor.</p>
          </div>
          

          <div class="oferta">
            <h4>Los mejores precios</h4>
            <p>Ingresa y compara para encontrar el mejor precio.</p>
          </div>
                <script type="application/ld+json">
                {
                  "@context": "https://schema.org",
                  "@type": "FAQPage",
                  "mainEntity": [{
                    "@type": "Question",
                    "name": "¿Cuánto cuesta Jalecitos?",
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "Descargar Jalecitos es completamente Gratis. Buscar expertos y ofertarse como uno también. Olvídate de que te cobren por subscripciones. En Jalecitos únicamente se cobra una comisión por trabajo y retiro de dinero."
                    }}]}
                </script>
          <div class="oferta">
            <h4>Caliﬁca y sé caliﬁcado</h4>
            <p>Construye una reputación en Jalecitos  para ser contratado.</p>
          </div>
          <script type="application/ld+json">
                {
                  "@context": "https://schema.org",
                  "@type": "FAQPage",
                  "mainEntity": [{
                    "@type": "Question",
                    "name": "¿Cómo se utiliza Jalecitos?",
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "Jalecitos puede ser utilizado para buscar y contratar a un experto. Adicionalmente si buscas ofertarte como experto, también lo puedes hacer creando un Jale."
                    }}]}
                </script>
        </div>
      </div>
    </div>
  </div>
</div>
