<section class=" TopQuality container-fluid  text-white ">
   <div class="row">
   <div class="container">
      <div class="row in_row">
         <div class="col-lg-6 col-md-6">
            <div class="gap"></div>
            <div class="gap"></div>
            <h2>Top Quality, Hand-Picked <br>Professionals</h2>
            <p>Jalecitos Pro. Trusted by leading brands.
            </p>
            <a href="#" class="green_btn">Explore Pro</a>
            <div class="gap"></div>
            <div class="gap"></div>
         </div>
         <div class="col-lg-6 col-md-6">
            <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Top-Quality.jpg") %>
         </div>
      </div>
   </div>
</section>
