<section class="section text-center Your_Terms container-fluid  text-white ">
   <div class="row">
   <div class="container">
      <div class="row in_row">
         <div class="col-lg-4">
            <h3>Your <b>Terms</b></h3>
            <p>Whatever you need to simplify your to do list,<br> no matter your budget.</p>
         </div>
         <div class="col-lg-4">
            <h3>Your <b>Timeline</b></h3>
            <p>Find services based on your goals and deadlines, it’s that simple.</p>
         </div>
         <div class="col-lg-4">
            <h3>Your <b>Safety</b></h3>
            <p>Your payment is always secure, Jalecitos is built to protect your peace of mind.</p>
         </div>
      </div>
   </div>
</section>
