if (<%= @success %>){
  show_success("Gracias por tu opinión");
  $("#paginated_reviews").prepend("<%= j render(partial: 'shared/reviews/review', collection: [@review]) %>");
  $("#new_review_content").html("<span class='d-flex justify-content-center'>Reseña enviada <i data-feather='check' class='feather-18 text-success ml-1'></i></span>");
}
else{
  show_error("<%= @review.errors.full_messages.first || 'Ha ocurrido un error inesperado, por favor, inténtalo más tarde' %>")
}
feather.replace();
