
.location-header {
  margin: 0 10px;
}

.v-align-m {
  display: inline;
  vertical-align: middle;
}

.video-item {
  min-height: 400px;
}

.form-control:focus{
    box-shadow: 0 0 0 0.1rem var(--p-purple-25) !important;
    border-color: var(--p-purple-25) !important;
}

.video-item iframe {
  height: -webkit-fill-available;
}

.gig-card-top {
  object-fit: cover;
  height: 24vh;
  max-height: 35vh;
  padding: 5px;
  border-radius: 0.25rem;
}

@media (max-width: 1200px) {

    .wizard > .steps .disabled .title {
      display: none;
    }
  }
@media (max-width: 992px) {
    .gig-card-top {
      height: 24vh;
    }
    .wizard > .steps > ul li + li::before {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .gig-card-top {
      height: 24vh;
    }

  }
  @media (max-width: 576px) {
    .gig-card-top {
      height: auto;
    }
  }

.gig-card-horizontal {
  object-fit: cover;
  max-height: -webkit-fill-available;
}

.no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-min {
  width: min-content;
}

.h-30-vh {
  max-height: 30vh;
}

.feather-12{
    width: 12px !important;
    height: 12px !important;
}

.feather-16{
    width: 16px !important;
    height: 16px !important;
}

.feather-18{
    width: 18px !important;
    height: 18px !important;
}

.feather-24{
    width: 24px !important;
    height: 24px !important;
}

.feather-32{
    width: 32px !important;
    height: 32px !important;
}

.filled {
  fill: currentColor;
}

.gmap {
  height: 80vh;
}


.carousel-item.gig img {
  height:600px;
  width:100%;
  object-fit: contain; }

.carousel-item.gig img {
  height:500px;
  width:100%;
  object-fit: contain; }

  @media (max-width: 992px) {
    .gig-show-picture {
      height: 405px !important;
    }
    .carousel-item.gig img {
      height:405px !important; }
    }
  @media (max-width: 768px) {
    .gig-show-picture {
      height: 370px !important;
    }
    .carousel-item.gig img {
      height:370px !important; }
    }
  @media (max-width: 576px) {
    .gig-show-picture {
      height: 320px !important;
    }
    .carousel-item.gig img {
      height: 320px !important; }
    }

@media (max-width: 576px) {
  .d-mobile-none {
    display: none;
  }
}
.mar-0-auto {
  margin: 0 auto;
}

.new_gig_image_item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}

.new_gig_image_well {
 position:relative;
 display: block;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.screen-size-wrapper {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 25px;
  right: 25px;
}
.screen-size-wrapper-map {
  position: fixed;
  top: 55px !important;
  bottom: 0;
  left: 10px !important;
  right: 10px !important;
}
#searchList {
  top:40px;
  bottom: 5px;
  left: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}


@media (max-width: 576px) {
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  .screen-size-wrapper {
    left: 10px;
    right: 10px;
  }
}

@media (min-width: 576px) {
  .mn-ht-50-576 {
    min-height: 50px
  }
}

#mapPopOver {
  display: none;
}
/* google fix autocomplete on mobile menu */
.pac-container.pac-logo {
  z-index: 9999;
}
/*windowinfo of google maps in search*/
.gm-style-iw-d,
.gm-style-iw.gm-style-iw-c {
  min-width: 200px !important;
}
.gm-style-iw-d {
  overflow-y: scroll !important;
}
.gm-style-iw.gm-style-iw-c {
  padding: 10px !important;
}
.gm-style-iw-d .media,
.gm-style-iw-d [hide-on-map],
.gm-style-iw-d .share_item_url,
.gm-style-iw-d .gig_buttons a[gig_id]{
  display: none;
}
.gm-style-iw-d .req-card .card-body,
.gm-style-iw-d .card-footer {
  padding: 10px !important;
}
.gm-style-iw-d .gig-card .card-body {
  padding: 3px !important;
}
.gm-style-iw-d .card-footer a {
  margin-left: auto;
}
.gm-style-iw-d .gig_buttons {
  float: right !important;
}

.gm-style-iw-d .card-title {
  font-size: 14px !important;
}

.gm-style-iw-d .col-lg-6 {
  max-width: 100% !important;
}
/*windowinfo of google maps in single elements display map*/
.gm-style-iw-d [single-element] {
  max-width: 100%;
}
.gm-style-iw-d [single-element] .card-footer {
  display: none !important;
}
.gm-style-iw-d [single-element] .card-body {
  padding-top: 5px;
}

/*end*/

.wizard > .steps > ul li + li::before {
  content: '\2192';
}
/*count in forms css*/
.count{
  float: right;
  font-size: 0.8rem;
}
/*error forms css*/
span.error,
div.error,
.span-error,
label.error{
  color: red;
}
/* deactivates links when uploading image */
.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

/* good place for error in price (not error for not filling) */
#packages_form .input-group label.error {
  position: absolute;
  top: 100%;
}
/*color of range slider (these three groups of classes changes colors of different elements of range slider)*/
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  background-color: var(--blue-100) !important;
}
.irs--flat .irs-from::before,
.irs--flat .irs-to::before,
.irs--flat .irs-single::before {
  background-color: var(--blue-100) !important;
}
.irs--flat .irs-bar {
  background-color: var(--blue-100) !important;
}
.irs--flat .irs-handle>i:first-child {
  background-color: var(--blue-100) !important;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  border-top-color: var(--blue-100) !important;
}
/*review options in big devices shows only on hover review*/
@media (min-width: 1200px) {

  [menu-hidden] {
    display: none;
  }
  [display-hidden-menu]:hover [menu-hidden]{
    display: block;
  }
}

.vh-50 {
  height: 50vh;
}
/*gig title of jquery steps*/
@media (min-width: 992px) and (max-width: 1200px) {
  #section_parent_gig > .steps .done a .title, #section_parent_gig > .steps .done a:hover .title, #section_parent_gig > .steps .done a:active .title {
    display: none;
  }
  }
/*config menu on mobile*/
@media (max-width: 768px) {
  #settings {
    flex-direction: row !important;
    border-right: none !important;
    justify-content: space-between;
  }
  #settings .nav-item {
    margin-top: 0 !important;
    margin-bottom: 10px;
  }
  #settings .nav-link.active::after {
    display: none;
  }
}

pre[preview] {
  font-size: 100%;
}

/*truncate text*/
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.multi-line-truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.multi-line-truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.bootstrap-tagsinput .tag {
  color: var(--a-blue-100);
  background-color: var(--p-purple-25);
  border: 1px solid var(--a-blue-100);
  border-radius: 0.25rem;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-bottom: 2px;
}
.pre-wrap {
  white-space: pre-wrap !important;
}
/*this fixes css of tags input*/
.bootstrap-tagsinput .tag [data-role="remove"]::after {
  content: 'x';
}
.mw-130px {
  max-width: 130px;
}
.mw-45px {
  max-width: 45px;
}
.zi-10000 {
  z-index: 10000;
}
@media (max-width: 992px){
  .t-mobile-20 {
    top: 20px;
  }
}
.w-0 {
  width: 0;
}
/*used in intro js so if miss click on black screen dont get out of wizard*/
.introjs-overlay {
  pointer-events: none;
}
.middle-top-tooltip {
  right: 50% !important;
  top: 15% !important;
  height: fit-content;
}
#navbarMenu.introjs-fixParent {
  position: fixed !important;
  z-index: 10000000 !important;
}
/**/

.ht-50vh {
  height: 50vh;
}
.mail-field {
  border: none;
  border-bottom: 1px solid rgba(72, 94, 144, 0.16) !important;
}

/*colores de fer*/

:root {
  --p-purple-100: #6F52ED;
  --p-purple-50: #B7A8F6;
  --p-purple-25: #DBD4FB;
  --a-blue-100: #2B11A2;
  --a-blue-75: #9588D0;
  --a-blue-25: #CAC3E8;
  --n-dark-100: #2C2746;
  --n-grey-100: #474165;
  --n-grey-75: #CAC9D1;
  --n-purple-25: #F5F3FE;
  --n-grey-10: #F4F4F6;
  --n-white-100: #ffffff;
  --orange-100: #FF7B50;
  --orange-75: #FFBDA7;
  --orange-25: #FFDED3;
  --green-100: #00C471;
  --green-75: #80E1B8;
  --green-25: #BFF0DB;
  --yellow-100: #FFC700;
  --yellow-75: #FFE380;
  --yellow-25: #FFF1BF;
  --blue-100: #0084F4;
  --blue-75: #80C1F9;
  --blue-25: #BFE0FC;
  --red-100: #FF3C20;
  --red-75: #FF9D8F;
  --red-25: #FFCEC7;
  --black-100: #000000;
}
.p-purple-100 { /*purple*/
  color: var(--p-purple-100) !important;
}
.p-purple-50 { /*purple 50%*/
  color: var(--p-purple-50);
}
.p-purple-25 { /*purple 25%*/
  color: var(--p-purple-25);
}

.a-blue-100 {
  color: var(--a-blue-100) !important;
}
.a-blue-75 { /*Blue 75%*/
  color: var(--a-blue-75);
}
.a-blue-25 { /*blue 25%*/
  color: var(--a-blue-25);
}

.n-dark-100 {
  color: var(--n-dark-100) !important;
}

.n-grey-100 {
  color: var(--n-grey-100);
}
.n-grey-75 {
  color: var(--n-grey-75);
}
.n-purple-25{
  color: var(--n-purple-25);
}
.n-grey-10 {
  color: var(--n-grey-10);
}
.n-white-100 {
  color: var(--n-white-100);
}
.orange-100 {
  color: var(--orange-100);
}
.orange-75 {
  color: var(--orange-75);
}
.orange-25 {
  color: var(--orange-25);
}
.green-100 {
  color: var(--green-100);
}
.green-75 {
  color: var(--green-75);
}
.green-25 {
  color: var(--green-25);
}
.yellow-100 {
  color: var(--yellow-100);
}
.yellow-75 {
  color: var(--yellow-75);
}
.yellow-25 {
  color: var(--yellow-25);
}
.blue-100 {
  color: var(--blue-100);
}
.blue-75 {
  color: var(--blue-75);
}
.blue-25 {
  color: var(--blue-25);
}
.red-100 {
  color: var(--red-100);
}
.red-75 {
  color: var(--red-75);
}
.red-25 {
  color: var(--red-25);
}
.black-100 {
  color: var(--black-100);
}
.black-100:hover {
  color: var(--black-100);
}
/*fin colores de fer*/

.nav-link.p-purple-100.active {
  color: var(--a-blue-100);
}

.btn-p-purple-100 {
  color: #fff;
  background-color: var(--p-purple-100);
}

.btn-p-purple-100:hover {
  color: #fff;
  background-color: var(--a-blue-100);
}
/*overwrite of btn-success to be equal to btn-p-purple-100*/
.btn-success {
  color: #fff;
  background-color: var(--p-purple-100);
  border: none;
}

.btn-success:hover,
.btn-success:active{
  color: #fff;
  background-color: var(--a-blue-100);
}

.btn-n-grey-100 {
  color: #fff;
  background-color: var(--n-grey-100);
}
.btn-n-grey-100:hover {
  color: #fff;
  background-color: var(--n-grey-100);
}

.btn-green-100-background-green-25 {
  color: var(--green-100);
  background-color: var(--green-25);
  border: 1px solid var(--green-100);
}
.btn-green-100-background-green-25:hover {
  color: var(--green-100);
}


.btn-a-blue-100-background-p-purple-25 {
  color: var(--a-blue-100);
  background-color: var(--p-purple-25);
  border: 1px solid var(--a-blue-100);
}
.btn-a-blue-100-background-p-purple-25:hover {
  color: var(--a-blue-100);
}


.btn- {
  color: var(--green-100);
  background-color: var(--green-25);
  border: 1px solid var(--green-100);
}
.btn-:hover {
  color: var(--green-100);
}



.btn-p-purple-100-border {
  background-color: #fff;
  color: var(--p-purple-100);
  border: 1px solid var(--p-purple-100);
}
.btn-p-purple-100-border:hover {
  color: #fff;
  background-color: var(--p-purple-100);
}

.btn-green-100-border {
  background-color: #fff;
  color: var(--green-100);
  border: 1px solid var(--green-100);
}
.btn-green-100-border:hover {
  color: #fff;
  background-color: var(--green-100);
}


.btn-red-100-border {
  background-color: #fff;
  color: var(--red-100);
  border: 1px solid var(--red-100);
}
.btn-red-100-border:hover {
  color: #fff;
  background-color: var(--red-100);
}

.btn-a-blue-100-border {
  background-color: #fff;
  color: var(--a-blue-100);
  border: 1px solid var(--a-blue-100);
}
.btn-a-blue-100-border:hover {
  color: #fff;
  background-color: var(--a-blue-100);
}

.mg-t-0-i {
  margin-top: 0 !important
}
a.orange-100:hover {
  color: var(--orange-100);
}
.dm-sans {
  font-family: "DM Sans", sans-serif;
}
.ibm-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;
}


.min-w-30vw {
  min-width: 30vw;
}

#no-conversation {
  height: 100%;
  width: -webkit-fill-available;
}
.mg-t-2-i {
  margin-top: 2px !important;
}
.border-none {
  border: none;
}
.timeline-label:first-child::before {
  background-color: var(--a-blue-100);
}
.timeline-body::before {
  border: 2px solid var(--p-purple-100) !important;
}
@media (max-width: 768px) {  
  #navbarMenu li {
    font-size: 20px;
  }
  #navbarMenu a {
    font-size: 18px;
  }
}
