<span class="tooltiptext">
   <figure>
      <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Set Your Budget</h3>
      <p>Enter an amount you are willing to spend for this service.</p>
   </figure>
</span>
