<span class="tooltiptext"><figure>
        <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Refine your Request</h3>
        <p>Choose the category and subcategory that best fits your request.</p>
        <p class="example"><span>For example: </span>if you are looking for a logo, you should choose "Logo Design" within the "Graphics & Design" category.</p>
    </figure></span>
