<span class="tooltiptext" id="gig_category_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Selecciona Categoria.</h3>
    </div>
    <p>Elige la categoría que necesitas para tu jale.</p>
    <p class="example">
      <span>Por ejemplo:
      </span>
      si ofreces alimentos, la categoría recomendada a elegir sería "Comida".</p>
  </figure>
</span>
