<span class="tooltiptext">
   <figure>
      <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Selecciona una Ciudad</h3>
      <p>Esta es la ciudad en la que te encuentras ofertando el jale.</p>
   </figure>
</span>
