<span class="tooltiptext" id="gig_city_hint">
   <figure>
     <div style="display:flex;">
       <%= icon("fas", "question-circle", class: "question_hint") %>
       <h3 class="p-t-10">Selecciona una Ciudad</h3>
     </div>
      <p>Ésta es la ciudad en la que te encuentras ofertando el jale. Elige alguna de las opciones proporcionadas.</p>
   </figure>
</span>
