<span class="tooltiptext">
   <figure>
      <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Set a Delivery Time</h3>
      <p>This is the amount of time the seller has to work on your order. Please note that a request for faster delivery may impact the price.</p>
   </figure>
</span>
