<span class="tooltiptext" id="gig_description_hint"><figure>
        <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Describe tu Jale</h3>
        <p>Describe lo que realizarás en tu jale. Ten en cuenta que una descripción más detallada ayudará a que más personas que buscan tu servicio encuentren tu jale de manera más fácil.</p>

    </figure></span>
