<span class="tooltiptext" id="gig_description_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "exclamation", class: "exclamation_hint") %>
      <h3 class="p-t-10">Describe tu Jale</h3>
    </div>
    <p>Describe lo que realizarás en tu jale. Ten en cuenta que una descripción más detallada ayudará a que más personas que buscan tu servicio encuentren tu jale de manera más fácil.</p>

  </figure>
</span>
