<span class="tooltiptext" id="gig_description_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Describe tu Jale</h3>
    </div>
    <p>Describe lo que realizarás en tu jale de una manera general. Una descripción más detallada ayudará a que más personas que buscan tu servicio encuentren tu jale de manera más fácil.</p>
    <p class="example">
      <span>Importante:
      </span>
      No debes escribir precios, ya que más adelante definirás paquetes.</p>
  </figure>
</span>
