<span class="tooltiptext" id="gig_city_hint">
   <figure>
     <div style="display:flex;">
       <%= icon("fas", "question-circle", class: "question_hint") %>
       <h3 class="p-t-10">Escribe lo que más te pregunten o quieras explicar</h3>
     </div>
      <p>Las preguntas frecuentes ayudan a que aparezcas más arriba en Google. Puedes tener un máximo de 5.</p>
   </figure>
</span>
