<span class="tooltiptext" id="gig_city_hint">
   <figure>
     <div style="display:flex;">
       <%= icon("fas", "question-circle", class: "question_hint") %>
       <h3 class="p-t-10">Escribe lo que m치s te pregunten o quieras explicar</h3>
     </div>
      <p>Las preguntas frecuentes dan m치s informaci칩n a los usuarios sobre tu trabajo. Puedes tener un m치ximo de 5.</p>
   </figure>
</span>
