<span class="tooltiptext" id="gig_city_hint">
   <figure>
     <div style="display:flex;">
       <%= icon("fas", "question-circle", class: "question_hint") %>
       <h3 class="p-t-10">Escribe lo que más te pregunten o quieras explicar</h3>
     </div>
      <p>Las preguntas frecuentes dan más información a los usuarios sobre tu trabajo. Puedes tener un máximo de 5. Recuerda usar signos de interrogación (¿?) al escribir tu pregunta.</p>
   </figure>
</span>
