<span class="tooltiptext" id="gig_images_hint"><figure>
        <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Sube imágenes</h3>
        <p>Selecciona las imágenes de tu jale. Sólo se admiten 5 como máximo. <p class='example'><span>Importante:</span> Ten en cuenta que al subir nuevas imágenes, las anteriores guardadas desaparecerán.</p> </p>

    </figure></span>
