<span class="tooltiptext" id="gig_images_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Sube imágenes.</h3>
    </div>
    <p>Se admiten extensiones .jpg, .jpeg, .png y .gif. <br>5 elementos máximo. 
    </p>
    <!-- <p class="example">
      <span> La imagen predeterminada de tu Jale dependerá de lo siguiente: <br>
      </span>
      - Si subes solo video, se usará su miniatura. <br>
      - Si subes imágenes, será la primera que hayas subido. <br>
      - Si subes algún gif, será el primero que hayas subido. </p> -->

  </figure>
</span>
