<span class="tooltiptext" id="gig_images_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Sube im치genes.</h3>
    </div>
    <p>Selecciona las im치genes de tu jale. S칩lo se admiten 5 como m치ximo.
    </p>

  </figure>
</span>
