<span class="tooltiptext" id="gig_images_hint"><figure>
        <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Sube im치genes</h3>
        <p>Selecciona las im치genes de tu jale. S칩lo se admiten 5 como m치ximo. </p>

    </figure></span>
