<span class="tooltiptext" id="gig_name_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Define tu jale</h3>
    </div>
    <p>Define el servicio que ofertarás en tu jale. Toma en cuenta que se agregará automáticamente el texto "Ofrezco" al inicio de lo que definas.</p>

  </figure>
</span>
