<span class="tooltiptext" id="gig_city_hint">
   <figure>
      <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Define tu oficio/profesión</h3>
      <p>Puedes elegir alguna de las opciones proporcionadas o escribir la tuya si no se encuentra allí.</p>
   </figure>
</span>
