<span class="tooltiptext">
   <figure>
      <h3 class="p-t-10"><span class="fa fa-lightbulb-o"></span>Selecciona las etiquetas para tu Jale.</h3>
      <p>Elige hasta un máximo de 5 etiquetas para que encuentren tu jale de forma más rápida.</p>
   </figure>
</span>
