<span class="tooltiptext" id="gig_tags_hint">
   <figure>
     <div style="display:flex;">
       <%= icon("fas", "exclamation", class: "exclamation_hint") %>
       <h3 class="p-t-10">Selecciona las etiquetas para tu Jale.</h3>
     </div>
      <p>Elige hasta un m치ximo de 5 etiquetas para que encuentren tu jale de forma m치s r치pida. Ten en cuenta que cada etiqueta equivale a una palabra de m치ximo 15 caracteres.</p>
   </figure>
</span>
