<span class="tooltiptext" id="gig_videos_hint">
  <figure>
    <div style="display:flex;">
      <%= icon("fas", "question-circle", class: "question_hint") %>
      <h3 class="p-t-10">Sube tu video.</h3>
    </div>
    <p>Copia la direccion de Youtube del video que quieras mostrar. Solo se admite 1 video.
    </p>

  </figure>
</span>
