@media (min-width: 1200px) {
  .main_container {
    padding-top: 84px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main_container {
    padding-top: 121px;
  }
  .mobile_search_bar {
    display: none;
  }
  .user_pic {
    margin-top: -30px;
  }
}

@media (min-width: 992px) {
  .mobile_search_bar {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
  .main_container{
    padding-top: 62px;
  }
  .mobile_search_bar {
    display: block;
  }
}
