<div class="modal" id="reportGigModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <div class="sign-up">
             <div class="sign-up-form">
               <!-- Close modal -->
                 <div class="close-modal" onclick="$('#reportGigModal').hide()">
                   <span aria-hidden="true">Cerrar</span>
                 </div>
               <!--  -->
               <h4>Reportar Jale</h4>

               <div class="divi-new js-form-join-section" data-section="1"></div>
               <%= form_with model: Report, url: user_gig_report_path(@gig.user.slug, @gig.slug), id: "ReportGigForm", remote: true do |f| %>
                 <%= f.select :cause, @report_options, {include_blank: "Cual es la causa del reporte"}, class: "custom-select required" %>
                 <%= f.text_field :comment, placeholder: "(Opcional) Comentarios" %>
                 <br>
                 <%= f.submit 'Continuar', :class => 'btn btn-success' %>
               <% end %>
             </div>
         </div>
      </div>
    </div>
  </div>
</div>
