<!-- The Modal -->
<div class="modal" id="reportRequestModal">

  <!-- Modal content -->
  <div class="modal-content modal-configuration">
    <!-- <span class="close">&times;</span> -->
    <div class="container text-center">

      <div class="row">

        <div class="col-lg-12">

          <h4>Reportar Pedido</h4>

          <div class="divi-new js-form-join-section" data-section="1"></div>
          <%= form_with model: Report, url: request_report_path(@request.slug), id: "ReportRequestForm", remote: true do |f| %>
            <%= f.select :cause, @report_options, class: "required", placeholder: "Cual es la causa del reporte" %>
            <%= f.text_field :comment, placeholder: "(Opcional) Comentarios" %>
            <br>
            <%= f.submit 'Continuar', :class => 'btn btn-success' %>
          <% end %>

      </div>
    </div>
  </div>

</div>

</div>
<br>
