/* Checkout page Start */

.checkout-all-area {
	padding-bottom: 50px;
}



.pedido-area {
	border-bottom: 2px solid #F5F5F5;
	padding-top: 15px;
}

.consectetur-text {
	position: relative;
	padding: 30px 0;
}
.consectetur-text img {
  position: absolute;
  left: 0;
  width: 80px;
  top: 50%;
  margin-top: -25px;
}
.consectetur-text h4 {
	font-size: 20px;
	font-weight: 700;
	margin-left: 100px;
	margin-bottom: 0;
}

.metodo-text h4 {
  font-size: 17px;
  margin-bottom: 0;
  font-weight: 700;
  padding: 10px 0;
}
.metodo-text {
  border-bottom: 2px solid #F9F9FA;
}
.metodo-text h4 a {
	float: right;
	font-size: 15px;
	font-weight: 700;
}
.metodo-text h4 a i {
	font-weight: 800;
	margin-left: 10px;
}
.checkmark-area {
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 33px;
}


.pedido-text h2 {
	font-size: 30px;
  margin-bottom: 0;
}
.pedido-text h2 span i {
	font-size: 16px;
	margin-right: 10px;
	transform: translatey(-3px);
}



.check-btn p {
	display: inline-block;
	margin-bottom: 0;
	font-size: 15px;
	color: #8E8E93;
	margin-left: 15px;
}
.check-btn img {
  float: right;
  margin-top: -3px;
  width: 35px;
  opacity: .3;
}
.check-btn {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 19px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #000;
}

/* Hide the browser's default radio button */
.check-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.check-btn:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.check-btn input:checked ~ .checkmark {
  background-color: #E6F7EE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.check-btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.check-btn .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #39C27B;
}


.Código-Postal {
  float: right;
  width: 60%;
}
.RFC-text {
	display: inline-block;
	margin-left: 66px;
}
.Postal-sec h5 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}
.Postal-sec h4 {
  font-size: 19px;
  color: #8E8E93;
}
.Razon-Social p {
  color: #8E8E93;
  font-size: 19px;
  margin-left: 36px;
}

.Razon-Social .check-btn {
  margin-bottom: 0;
}
.Razon-Social {
  margin-top: 20px;
  margin-left: 33px;
}
.cualquier-text p {
  background: #FEF1D6;
  padding: 16px;
  font-size: 15px;
  color: #9B711D;
  font-weight: 700;
  border-radius: 5px;
}
.cualquier-text a {
	text-decoration: underline;
	color: #9B711D;
	font-weight: 400;
}
.checkout-right-content {
	padding: 15px;
	border: 2px solid #F5F6F7;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 85px;
}
.paquete-text h4 {
  font-size: 19px;
  color: #39C27B;
  font-weight: 700;
  border-bottom: 2px solid #ECECEC;
  padding: 5px 0;
}
.paquete-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mantenimiento-text h4 {
  font-size: 19px;
  font-weight: 700;
  display: inline-block;
}
.paquete-text strong {
  float: right;
  color: #39C27B;
  font-size: 17px;
	padding-top: 3px;
}
.mantenimiento-text p {
  font-size: 19px;
  color: #000000;
	max-height: 305px;
  overflow-y: scroll;
}


.chech-list li {
  color: #000000;
  font-size: 19px;
  list-style: none;
}
.chech-list li span i {
  color: #39C27B;
  margin-right: 10px;
}
.chech-list {
  margin-left: 30px;
  margin-bottom: 20px;
}
.total-a h5 {
  font-size: 19px;
}
.total-a h5 span {
  float: right;
}

.continuars-btn {
  text-align: center;
}
.continuars-btn input {
  background: #39C27B;
  color: #fff;
  display: inline-block;
  display: inline-block;
  padding: 10px 60px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
	border-color: transparent;
}
.continuars-btn {
  margin-top: 30px;
}

.total-a-ex h5 {
	font-size: 15px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 700;
	margin-top: 15px;
}
.total-a-ex a:not([href]) {
	float: right;
	background: #39C27B;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	display: inline-block;
	border-radius: 10px;
}
.total-a-ex h5 span {
	margin-left: 30px;
	font-weight: 500;
}





.cualquier-text.del-ex {
	display: none;
}
.pagar-area-for-tablet-mobile {
	display: none;
	background: #F7F7F7;
	padding: 15px 0;
	box-shadow: 0px -4px 17px;
	position: fixed;
	width: 100%;
	bottom: 0;
}
