carousel = window.swip["<%= j params[:current] %>"];
<% collection = instance_variable_get("@"+params[:current]) %>
currentIndex = carousel.activeIndex;
//remove paginator
indexToRemove = carousel.slides.length-1
carousel.removeSlide(indexToRemove);

if (carousel.isEnd) {
  carousel.slideTo(currentIndex-1, 1); //this prevents bug of carousel keep paginating if user reaches end
}
//add items
<% if params[:current] == "liked_gigs" %>
  carousel.appendSlide("<%= j render @liked_gigs_items %>");
<% else %>
  carousel.appendSlide("<%= j render collection %>");
<% end %>

//if next page add new paginator
<% if collection.next_page %>
  <% link = link_to_next_page(collection, "Oculto", class: "carousel-paginator" ,
     param_name: params[:current], :params => {:current => params[:current]},
      remote: true, style: "display: none;") %>
  carousel.appendSlide("<div class='swiper-slide'><%=j link %></div>");
<% end %>

<% sleep 1 %>
